.menu-layout {
    /*display: none;
    position: absolute;*/
	display:block; 
	position: relative;
	float: left;
	
    z-index: 1;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 260px;
    /*height: 100%;*/
    /*background: #5f2f85;*/
	background:#FFF;
    overflow: hidden;
    -ms-touch-action: none;
	cursor: hand;
	
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

/* -------------- HEADER CONFIG START --------------*/
.menu-layout .menu-header {
    width: 100%;/*250px;*/
    height: 40px;
    background: #5f2f85;/*#e66a25;*/
    color: #FDFDFD;
    font-family: 'TPB-DaxlinePro-Medium';
    font-size: 18px;
}

.menu-layout .menu-header span {
    position: absolute;
    padding: 10px;
}

.menu-layout .menu-header .exit-button {
    position: absolute;
    width: 90px;
    height: 30px;
    top: 5px;
    right: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius: 4px;
    background: rgba(255, 255, 255, 0.4);
    font-size: 16px;
	cursor:pointer;
}

.menu-layout .menu-header .exit-button span {
    position: absolute;
    padding: 5px;
    left: 8px;
}

.menu-layout .menu-header .exit-button em {
	
    position: absolute;
    top: 7.2px;
    right: 8px;
    /*font-family: 'EBankPro';*/
    font-style: normal;
}

/* -------------- HEADER CONFIG END --------------*/

.menu-layout ul li .menu-layout-contents-sub .wrapper {
    outline: none;
    position: absolute;
    z-index: 1;
    top: 0px;
    bottom: 0px;
    left: 0;
    width: 100%;
    background: #ffffff;
    overflow: hidden;
    -ms-touch-action: auto;
}
.menu-layout-contents {
	/*font-family: 'TPB-DaxlinePro-Medium';*/
	font-weight:bold;
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
.menu-layout-contents ul, .menu-layout-contents div, .menu-layout-contents span {
	/*font-weight:bold;*/
	/*font-family: 'TPB-DaxlinePro-Regular';*/
	font-weight:normal;
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.menu-layout-contents div {
	font-weight:bold;
}

.menu-layout-contents li > div {
    outline: none;
    display: block;
    position: relative;
    min-width: 110px;
    /*color: #FDFDFD;*/
	color:#333;
    /*font-family: 'TPB-DaxlinePro-Medium';*/
    font-size: 14px;
    text-decoration: none;
	/*border-bottom: solid 1px #70389e;*/
	border-bottom: dashed 1px #70389e;
    background: transparent;
    /*-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .1), 0px 1px 0px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .1), 0px 1px 0px 0px rgba(0, 0, 0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .1), 0px 1px 0px 0px rgba(0, 0, 0, .1);*/
    height: 50px;
}

.menu-layout-contents em {
    outline: none;
    position: absolute;
    top: 14px;
    left: 0;
    margin-left: 14px;
    color: #e66a25;
    /*font-family: 'EBankPro';*/
    font-size: 23px;
    font-style: normal;
}

.menu-layout-contents > li:target > div {
    outline: none;
    color: #e66a25;
    background: transparent;
	
}

.menu-layout-contents li > div span {
    outline: none;
    display: block;
    position: absolute;
	top: 16px;
    right: 0;
    margin-right: 15px;
    padding: 2px 7px;
    /*font-family: 'TPB-DaxlinePro-Light';*/
    background: #e66a25;
    -webkit-border-radius: 50%;
    -webkit-border-top-left-radius: 50%;
    -webkit-border-top-right-radius: 50%;
    -webkit-border-bottom-left-radius: 50%;
    -webkit-border-bottom-right-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.menu-layout-contents li > div {
	height: 50px;
	padding: 18px 0 18px 50px;
}

.menu-layout-contents > li:target > div span {
    outline: none;
    color: #fdfdfd;
    background: #e66a25;
}

.menu-layout-contents > li:hover > div em, .menu-layout-contents > li:target > div em {
    outline: none;
    color: #e66a25;
}

/*'.menu-layout-contents li > div span { top: ' + (padding - 2) + 'px;}' +
            '.menu-layout-contents li > div { height: ' + itemHeight + 'px; padding: ' + padding + 'px 0 ' + padding + 'px 50px;}' +
            '.menu-layout-contents em { top: ' + ((itemHeight - 23) / 2 + 0.5) + 'px;}' +
            '.menu-layout-contents-sub em { top: ' + ((itemHeight - 12) / 2 + 0.5) + 'px;}' +
            '.menu-layout-contents-sub li > div .no-child { top: ' + ((itemHeight - 20) / 2 + 0.5) + 'px;}' +*/

/* Images */

.menu-layout-contents > li > div:before {
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 24px;
    height: 24px;
    margin: 4px 8px;
}

/* Sub Menu */
.menu-layout-contents li > .menu-layout-contents-sub {
    height: 0px;
}

.menu-layout-contents-sub li div {
	/*font-family: 'TPB-DaxlinePro-Light';*/
    outline: none;
    color: #5f2f85;
    background: #ffffff;
}

.menu-layout-contents-sub li div:first-child {
	/*border-bottom: 1px solid #ebebeb;*/
	border-bottom: 1px dashed #aaa;
}

/*.menu-layout-contents-sub li:last-child div {*/
    /*outline: none;*/
    /*border-bottom: 1px solid #9a829c;*/
/*}*/

.menu-layout-contents-sub li > div span {
    outline: none;
    color: #e66a25;
    background: transparent;
    border-bottom: 1px solid #D4D0C8;
    /*-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;*/
    display: none;
}

.menu-layout-contents-sub li > div .no-child {
    font-size: 20px;
    border: none;
    color: #e66a25;
    right: -5px;
	top:15.5px;
}

.menu-layout-contents-sub em {
    outline: none;
    position: absolute;
    top: 19.5px;
    left: 0;
    margin-left: 25px;
    color: #5f2f85;
    /*font-family: 'TPB-DaxlinePro-Light';*/
    font-size: 12px;
}

.menu-layout-contents-sub li:target div {
    outline: none;
    background: #efefef;
}

/* Functionality */

.menu-layout-contents li > .menu-layout-contents-sub {
    opacity: 0;
    outline: none;
    overflow: hidden;
    -ms-touch-action: none;
    -webkit-transition: height .1s ease-in-out;
    -moz-transition: height .1s ease-in-out;
    -o-transition: height .1s ease-in-out;
    -ms-transition: height .1s ease-in-out;
    transition: height .1s ease-in-out;
	
	-webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.langNoStyle {
	display:inline;
}


/*** PROMOTION MENU ***/

.promotion-layout {
    /*display: none;
    position: absolute;*/
	float: right; 
	display:block; 
	position: relative;
	
    z-index: 1;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 210px;
	/*padding-left: 30px;*/
    /*height: 100%;*/
    /*background: #5f2f85;*/
	background:#FFF;
    overflow: hidden;
    -ms-touch-action: none;

    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

/* -------------- HEADER CONFIG START --------------*/
.promotion-layout .promotion-header {
    width: 260px;
    height: 40px;
	/*margin-left: -20px;*/
	
    /*background: #e66a25;*/
	background: #5f2f85;
    color: #FDFDFD;
    font-family: 'TPB-DaxlinePro-Medium';
    font-size: 18px;
}

.promotion-layout .promotion-header span {
    position: absolute;
    padding: 10px;
}

.promotion-layout .promotion-header .reload-button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 5px;
    right: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius: 4px;
    background: rgba(255, 255, 255, 0.4);
    font-size: 16px;
}

.promotion-layout .promotion-header .reload-button span {
    position: absolute;
    padding: 5px;
    left: 8px;
}

.promotion-layout .promotion-header .reload-button em {
	
    position: absolute;
    top: 7.2px;
    right: 8px;
    /*font-family: 'EBankPro';*/
    font-style: normal;
}

/* -------------- HEADER CONFIG END --------------*/

#wrapper-promtion {
	/*margin-left:-20px;*/
	/*height:100%;*/
}
#promotion.content > p {
	text-align: justify;
}

.promotion-layout-contents {
	/*font-family: 'TPB-DaxlinePro-Medium';*/
	font-weight:bold;
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
.promotion-layout-contents ul, .promotion-layout-contents div, .promotion-layout-contents span {
	/*font-weight:bold;*/
	/*font-family: 'TPB-DaxlinePro-Regular';*/
	font-weight:normal;
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}


.promotion-layout-contents li > div {
    outline: none;
    display: table;
    position: relative;
    min-width: 110px;
	/*color: #FDFDFD;*/
	color:#333;
    /*font-family: 'TPB-DaxlinePro-Medium';*/
	margin-top: -15px;
	margin-left: 5px;
	margin-right: 5px;
    font-size: 14px;
    text-decoration: none;
	/*border-bottom: solid 1px #70389e;*/
	border-bottom: dashed 1px #70389e;
	
    background: transparent;
    /*-webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .1), 0px 1px 0px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .1), 0px 1px 0px 0px rgba(0, 0, 0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .1), 0px 1px 0px 0px rgba(0, 0, 0, .1);*/
    height: 50px;
}

.promotion-layout-contents li > div > img {
    position: inherit;
	display:inline;
    margin: 3px;
	width:85px;
	height:55px;
	float: left;
	border:solid 1px #FF6600;
	/*border-radius:5px;*/
	
}

.promotion-layout-contents li > div > div {
    position: inherit;
	/*display:inline;*/
	font-size:90%;
	font-weight:bold;
	white-space: pre-wrap;
	height:53px;
	margin-top:2px;
	overflow:hidden;
	text-overflow:ellipsis; 
}

.promotion-layout-contents > li:target > div {
    outline: none;
    color: #e66a25;
    background: transparent;
}

.promotion-layout-contents li > div span {
    outline: none;
    display: block;
    position: absolute;
    right: 0;
    margin-right: 15px;
    padding: 2px 7px;
    /*font-family: 'TPB-DaxlinePro-Light';*/
    background: #e66a25;
    -webkit-border-radius: 50%;
    -webkit-border-top-left-radius: 50%;
    -webkit-border-top-right-radius: 50%;
    -webkit-border-bottom-left-radius: 50%;
    -webkit-border-bottom-right-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.promotion-layout-contents > li:target > div span {
    outline: none;
    color: #fdfdfd;
    background: #e66a25;
}

.promotion-layout-contents > li:hover > div em, .promotion-layout-contents > li:target > div em {
    outline: none;
    color: #e66a25;
}

/* Images */

.promotion-layout-contents > li > div:before {
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 24px;
    height: 24px;
    margin: 4px 8px;
}



/*** PROMOTION MENU END ***/

/*DatMD custom menu*/
.menu-layout-contents-sub li div.custom-menu {
    /*font-family: 'TPB-DaxlinePro-Light';*/
    outline: none;
    color: #5f2f85;
    background: transparent;
    border-bottom: dashed 1px #70389e;
}
/*END DatMD custom menu*/