<div id="mainViewContent" class="main-layout-subview" ng-controller="managerCardTrans" style="height: 417px;top:44px">
    <div id="content-transfer" style="display:block" class="bg-transfer">
        <div class="panelContent" style="margin-top:0px;padding-top:0px">
            <table width="100%" align="center">
                <tr>
                    <td align="center" valign="middle" class="td-text">
                        <div class="input-group widefull" ng-click="showTransTypeSelection()">
                            <span class="input-group-addon" style="width:40%;white-space:pre-wrap">COM_TYPE_TRANSACTION</span>
                            <input style="white-space:pre-wrap" id="id.pay-type" type="button" class="form-control form-control-righttext" value="COM_ALL"/>
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                            <input type="hidden" id="pay_type_select_value" value='0'/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="middle" class="td-text">
                        <div class="input-group widefull" ng-click="showStatusTypeSelection()">
                            <span class="input-group-addon" style="width:40%;white-space:pre-wrap">TRANS_PERIODIC_MNG_STT</span>
                            <input style="white-space:pre-wrap" id="id.pay-type-dtl" type="button" class="form-control form-control-righttext" value="COM_ALL" />
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                            <input type="hidden" id="pay_type_status_value" value='0'/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <div class="input-group widefull">
                            <span class="input-group-addon" style="width:40%;white-space:pre-wrap">CREDIT_CARD_SERVICE_SELECT_DATE_START</span>
                            <input id="trans.debtStartdate" type="tel" class="form-control form-control-righttext-datepicker" placeholder="dd/mm/yyyy" value="" onkeydown="return handleCalendarNav(this, event);" onclick="handleCalendarNav(this, event);" onpaste="return false;" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off">
                            <span onclick="initDialogCal('trans.debtStartdate')" id="begindate" class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="middle">
                        <div class="input-group widefull">
                            <span class="input-group-addon" style="width:40%;white-space:pre-wrap">CREDIT_CARD_SERVICE_SELECT_DATE_END</span>
                            <input id="trans.debtEnddate" type="tel" class="form-control form-control-righttext-datepicker" placeholder="dd/mm/yyyy" value="" onkeydown="return handleCalendarNav(this, event);" onclick="handleCalendarNav(this, event);" onpaste="return false;" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off">
                            <span onclick="initDialogCal('trans.debtEnddate')" id="enddate" class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker"></span>
                        </div>
                    </td>
                </tr>
                <tr class="mt-15">
                    <td colspan="2" align="center" valign="middle" class="td-text">
                        <div class="tdbtndesktop" style="width:50%">
                            <input type="submit" style="float:left;margin-left:65px" class="btnDesktopshadow btnDesktopBack" onclick="clickHomeOrBack()" value="CM_BTN_GOBACK">
                        </div>
                        <div style="width:50%">
                            <input type="button" style="margin-right:100px" class="btnshadow btn-second" ng-click="searchTransactionCard()" value="TRANS_PERIODIC_BTN_SRCH">
                        </div>
                    </td>
                </tr>
            </table>
            <div class="trow-space"></div>
            <div id="id.message"><span id="id.message.value"></span></div>
            <div id="manaCard.searchResult">
                <div class="">
                    <table width='96%' align='center' class='recycler-table-ebank desktopview'>
                        <tr class='recycler-row-title-header recycler-list'>
                            <td class="recycler-row-align-midle"><span>COM_NO</span></td>
                            <td class="recycler-row-align-midle"><span>COM_CREATED_DATE</span></td>
                            <td class="recycler-row-align-midle"><span>COM_CARD_NUMBER</span></td>
                            <td class="recycler-row-align-midle"><span>COM_TYPE_TRANSACTION</span></td>
                            <td class="recycler-row-align-midle"><span>COM_STATUS</span></td>
                            <td class="recycler-row-align-midle"><span>COM_TRANS_CODE</span></td>
                        </tr>
                        </thead>
                        <tbody id="tbodyDetail">
                        <tr class="recycler-row-title recycler-list" ng-repeat="trans in listTrans track by $index">
                            <td class="recycler-row-align-midle"><div ng-bind="trans.RNUM"></div></td>
                            <td class="recycler-row-align-midle"><div  ng-bind="trans.NGAY_LAP"></div></td>
                            <td class="recycler-row-align-midle"><div ng-bind="trans.SO_THE"></div></td>
                            <td class="recycler-row-align-midle"><div ng-bind="typeTrans[trans.IDTXN]"></div></td>
                            <td class="recycler-row-align-midle"><div  ng-bind="statusVN[trans.TRANG_THAI]"></div></td>
                            <td class="recycler-row-align-midle">
                                <a ng-click="showDetailTransaction(trans.MA_GD, trans.TRANG_THAI);" style="cursor:pointer;">
                                    <span class="no-check" ng-bind="trans.MA_GD"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <table style="margin-top:10px" ng-repeat="trans in listTrans track by $index" width='100%' align='center' class='recycler-hover recycler-list mobileview'>
                        <tr>
                            <td class="recycler-row-align-midle-left"><div><span>COM_NO</span></div></td>
                            <td class="recycler-row-align-midle-right"><div><span ng-bind="trans.RNUM"></span></div></td>
                        </tr>
                        <tr>
                            <td class="recycler-row-align-midle-left"><div><span>COM_CREATED_DATE</span></div></td>
                            <td class="recycler-row-align-midle-right"><div><span ng-bind="trans.NGAY_LAP"></span></div></td>
                        </tr>
                        <tr>
                            <td class="recycler-row-align-midle-left"><div><span>COM_CARD_NUMBER</span></div></td>
                            <td class="recycler-row-align-midle-right"><div><span ng-bind="trans.SO_THE"></span></div></td>
                        </tr>
                        <tr>
                            <td class="recycler-row-align-midle-left"><div><span>COM_TYPE_TRANSACTION</span></div></td>
                            <td class="recycler-row-align-midle-right"><div><span ng-bind="typeTrans[trans.IDTXN]"></span></div></td>
                        </tr>
                        <tr>
                            <td class="recycler-row-align-midle-left"><div><span>COM_STATUS</span></div></td>
                            <td class="recycler-row-align-midle-right"><div><span ng-bind="statusVN[trans.TRANG_THAI]"></span></div></td>
                        </tr>
                        <tr>
                            <td class="recycler-row-align-midle-left"><div><span>COM_TRANS_CODE</span></div></td>
                            <td class="recycler-row-align-midle-right">
                                <a ng-click="showDetailTransaction(trans.MA_GD, trans.TRANG_THAI);" style="cursor:pointer;">
                                    <span class="no-check" ng-bind="trans.MA_GD"></span>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div id="acc-pagination" style="text-align: right">
                <ul class="pagination" id="paging">
                    <li ng-repeat="i in arrPage" ng-click="changePage(i)" id="page_{{$index + 1}}" ><span ng-bind="i"></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--ThuanTM -->
<div id="selection-dialog" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" onClick="closeDialog(this)"></div>
    <div id="divListGroup" class="list-group dialog-list"></div>
</div>

