<div id="mainViewContent" class="main-layout-subview" ng-controller ="query-transfer-detail" >
    <div id="reviewInfo" class="panelContent">
		<div class="bg-transfer">
			<div id="id.table"></div>		
            <table width="100%" style="margin-top: 10px;">
                <tr ng-show={{showTransCancel}}>
                    <td>
                        <div style="text-align: center;">
                            <input style="background-color: rgb(207, 150, 217);" class="btnshadow-after btn-second-after tdbtndesktop" ng-click="btnBackClick()" type="button" value="COM_BACK">
                            <input class="btnshadow-after btn-second-after btn-changecolor" ng-click="onCancelClick()" type="submit" value="COM_TERMINATE_TRANS" >
                        </div>
                    </td>
                </tr>
                <tr  ng-show={{!showTransCancel}}>
                    <td>
                        <div style="text-align: center;" class="tdbtndesktop">
                            <input style="background-color: rgb(207, 150, 217);" class="btnshadow-after btn-second-after btn-changecolor" ng-click="btnBackClick()" type="submit" value="COM_BACK" >
                        </div>
                    </td>
                </tr>
            </table>
		</div>
	</div>
</div>	
<div id="selection-dialog-input" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" align="center" onClick="closeDialogInput(this)">
    </div>
    <div id="divListGroupInput" class="list-group dialog-list"> </div>
</div>