<div id="mainViewContent" class="main-layout-subview" ng-controller="steup-query-transfer" style="height: 417px;top:44px" data-ng-init="sendJSONRequest()">
    <div id="content-transfer" style="display:block" class="bg-transfer">
		<div class="panelContent">
			<table width="100%" style="border-spacing: 0; margin:1%" class="desktopview">

                <tr class="tr-two-col">
                <!-- chi tiết giao dịch  -->
                    <td class="td-two-col">
                        <div class="div-two-col borderbottom"><b><span>CONST_SETUP_QUERY_TIT_TRANS_TYPE_DTL</span></b></div>
                        <div class="div-two-col">
                            <div class="input-group">
                                <input style="white-space:pre-wrap;" ng-click="showTransTypeDetailSelection()" id="id.trans-type-dtl"
                                       type="button" class="form-control form-control-righttext"
                                      value="COM_ALL"/>
                                <span class="icon-movenext input-group-addon input-group-symbol"></span>
                            </div>
                        </div>
                    </td>
                <!-- trạng thái -->
                    <td class="td-two-col">
                        <div class="div-two-col borderbottom"><b><span>TRANS_PERIODIC_MNG_STT</span></b></div>
                        <div class="div-two-col">
                            <div class="input-group">
                                <input style="white-space:pre-wrap" ng-click="showTransStatusSelection()" id="id.status"
                                       type="button" class="form-control form-control-righttext"
                                        value="COM_ALL"/>
                                <span class="icon-movenext input-group-addon input-group-symbol"></span>
                            </div>
                        </div>
                    </td>	
                </tr>
                <tr class="tr-two-col">
					<!-- người lập -->
						<td class="td-two-col">
							<div class="div-two-col borderbottom"><b><span>COM_MAKER</span></b></div>
							<div class="div-two-col">
								<div class="input-group">
									<input style="white-space:pre-wrap" ng-click="showMakers()" id="id.maker"
										   type="button" class="form-control form-control-righttext" value="COM_ALL"/>
									<span class="icon-movenext input-group-addon input-group-symbol"></span>
								</div>
							</div>
						</td>
						
                <!-- Mã giao dịch -->
					<td class="td-two-col">
						<div class="div-two-col borderbottom"><b><span>COM_TRANS_CODE</span></b></div>
						<div class="div-two-col">
							<div class="input-group">
								<input id="id.trans-id" type="tel" class="form-control form-control-righttext" placeholder="COM_TXT_INPUT_PLACEHOLDER" maxlength="16" />
							</div>
						</div>
					</td>
				</tr>
                <tr class="tr-two-col">
                <!-- Ngày bắt đầu -->
                    <td class="td-two-col">
                        <div class="div-two-col borderbottom"><b><span>EVN_BILL_FROM_DATE</span></b></div>
                        <div class="div-two-col">
                            <div class="input-group">
                                <input id="id.begindate" type="tel"
                                       class="form-control form-control-righttext-datepicker"
                                       placeholder="COM_TXT_SELECTION_PLACEHOLDER_DATE" value=""
                                       onkeydown="return handleCalendarNav(this, event);"
                                       onclick="handleCalendarNav(this, event);" onpaste="return false;"/>
                                        <span onclick="initDialogCal('id.begindate')" id="begindate"
                                              class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker"></span>
                            </div>
                        </div>
                    </td>
                <!-- Ngày kết thúc -->
                    <td class="td-two-col">
                        <div class="div-two-col borderbottom"><b><span>EVN_BILL_TO_DATE</span></b></div>
                        <div class="div-two-col">
                            <div class="input-group">
                                <input id="id.enddate" type="tel"
                                       class="form-control form-control-righttext-datepicker"
                                       placeholder="COM_TXT_SELECTION_PLACEHOLDER_DATE" value=""
                                       onkeydown="return handleCalendarNav(this, event);"
                                       onclick="handleCalendarNav(this, event);" onpaste="return false;"/>
                                        <span onclick="initDialogCal('id.enddate')" id="enddate"
                                              class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker"></span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <!-- Mobile -------------------------------->
            <table width='98%' align="center" class="mobileview">
                <!-- Loại giao dịch -->
                <!-- <tr>
                    <td class="input-group">
                        <div class="div-two-col"><b>
                            <span>COM_TYPE_TRANSACTION</span></b>
                        </div>
                        <div class="div-two-col">
                            <div class="input-group" style="border-bottom: none !important;">
                                <input style="white-space:pre-wrap" ng-click="showTransTypeSelection()" id="id.trans-typemb"
                                       type="button" class="form-control form-control-righttext"
                                       placeholder="BENEFIC_LIST_NORMAL" value="COM_ALL"/>
                                <span class="icon-movenext input-group-addon input-group-symbol"></span>
                            </div>
                        </div>
                    </td>
                </tr> -->
                <!-- chi tiết loại giao dịch -->
                <tr>
                    <td class="input-group">
                        <div class="div-two-col"><b>
                            <span>CONST_SETUP_QUERY_TIT_TRANS_TYPE_DTL</span></b>
                        </div>
                        <div class="div-two-col">
                            <div class="input-group" style="border-bottom: none !important;">
                                <input style="white-space:pre-wrap" ng-click="showTransTypeDetailSelection()" id="id.trans-type-dtlmb"
                                       type="button" class="form-control form-control-righttext"
                                       placeholder="COM_ALL" value="COM_ALL"/>
                                <span class="icon-movenext input-group-addon input-group-symbol"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- trạng thái  -->
                <tr>
                    <td class="input-group">
                        <div class="div-two-col"><b>
                            <span>TRANS_PERIODIC_MNG_STT</span></b>
                        </div>
                        <div class="div-two-col">
                            <div class="input-group" style="border-bottom: none !important;">
                                <input style="white-space:pre-wrap;" ng-click="showTransStatusSelection()" id="id.statusmb"
                                       type="button" class="form-control form-control-righttext"
                                       placeholder="BENEFIC_LIST_NORMAL" value="COM_ALL"/>
                                <span class="icon-movenext input-group-addon input-group-symbol"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- người lập -->
                <tr>
                    <td class="input-group">
                        <div class="div-two-col"><b>
                            <span>COM_MAKER</span></b>
                        </div>
                        <div class="div-two-col">
                            <div class="input-group" style="border-bottom: none !important;">
                                <input style="white-space:pre-wrap;" ng-click="showMakers()" id="id.makermb"
                                       type="button" class="form-control form-control-righttext"
                                       placeholder="BENEFIC_LIST_NORMAL" value="COM_ALL"/>
                                <span class="icon-movenext input-group-addon input-group-symbol"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- Mã giao dịch -->
                <tr>
                    <td class="input-group">
                        <div class="div-two-col"><b>
                            <span>COM_TRANS_CODE</span></b>
                        </div>
                        <div class="">
                                <input id="id.trans-idmb" type="tel" class="form-control form-control-righttext" placeholder="COM_TXT_INPUT_PLACEHOLDER" value="" maxlength="16" style="font-size: 15px !important" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off">
                            </div>
                    </td>
                </tr>
                <!-- Ngày bắt đầu -->
                <tr>
                    <td class="input-group">
                        <div class="div-two-col">
                            <b><span>EVN_BILL_FROM_DATE</span></b>
                        </div>
                        <div class="div-two-col">
                            <div>
                                <input id="id.begindatemb" type="tel"
                                       class="form-control form-control-righttext-datepicker"
                                       placeholder="COM_TXT_SELECTION_PLACEHOLDER_DATE" value=""
                                       onkeydown="return handleCalendarNav(this, event);"
                                       onclick="handleCalendarNav(this, event);" onpaste="return false;"/>
                                        <span onclick="initDialogCal('id.begindatemb')" id="begindate"
                                              class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker">
                                        </span>
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- Ngày kết thúc -->
                <tr>
                    <td class="input-group">
                        <div class="div-two-col"><b>
                            <span>TRANS_PERIODIC_ENDING_DATE</span></b>
                        </div>
                        <div class="div-two-col">
                            <div>
                                <input id="id.enddatemb" type="tel"
                                       class="form-control form-control-righttext-datepicker"
                                       placeholder="COM_TXT_SELECTION_PLACEHOLDER_DATE" value=""
                                       onkeydown="return handleCalendarNav(this, event);"
                                       onclick="handleCalendarNav(this, event);" onpaste="return false;"/>
                                        <span onclick="initDialogCal('id.enddatemb')" id="begindate"
                                              class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker">
                                        </span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
			<table width="100%" align="center" >
                <tr>
                    <td align="center" valign="middle" class="td-text">
                        <div class="" style="width:50%">
                            <input type="button" style="float:left;margin-left:30px" class="btnDesktopshadow btnDesktopBack"
                                   onclick="clickHomeOrBack()" value="CM_BTN_GOBACK">
                        </div>
                        <div style="width:50%">
                            <input type="submit" style="margin-right:30px" class="btnshadow btn-second"
                                   ng-click="sendJSONRequest()" value="TRANS_PERIODIC_BTN_SRCH">
                        </div>
                    </td>
                </tr>
			<tr class="trow-space"></tr>
			<tr>
				<td><div id="id.message"><span id="id.message.value"></span></div></td>
			</tr>
		</table>
			<div id="id.searchResult" style="display: none">
				<table width='98%' align='center' class='recycler-table-ebank desktopview'>
					<tr class='recycler-row-title-header recycler-list'>
						<td class="recycler-row-align-midle" width="8%"><span>COM_NO</span></td>
						<td class="recycler-row-align-midle" width="15%"><span>COM_CREATED_DATE</span></td>
						<td class="recycler-row-align-midle" width="20%"><span>CONST_SETUP_QUERY_TIT_TRANS_TYPE_DTL</span></td>
						<td class="recycler-row-align-midle" width="19%"><span>COM_STATUS</span></td>
						<td class="recycler-row-align-midle" width="17%"><span>COM_CHEKER</span></td>
						<td class="recycler-row-align-midle" width="20%"><span>COM_TRANS_CODE</span></td>
					</tr>
					<tr class="recycler-row-title recycler-list" ng-repeat="item in listPending track by $index">
						<td  class="recycler-row-align-midle"><span ng-bind="item.RNUM"></span></td>
						<td  class="recycler-row-align-midle"><span ng-bind="item.NGAY_LAP"></span></td>
						<td  class="recycler-row-align-midle"><span ng-bind="TypeTrans(item.LOAI_GD)"></span></td>
						<td  class="recycler-row-align-midle"><span ng-bind="status(item.TRANG_THAI)"></span></td>
						<td  class="recycler-row-align-midle"><span ng-bind="item.NGUOI_DUYET"></span></td>
						<td  class="recycler-row-align-midle"><a ng-click="showDetailTransaction(item.MA_GD);" style="cursor:pointer;"><span class="no-check" ng-bind="item.MA_GD"></span></a></td>
					</tr>
				</table>
				<table  ng-repeat="item in listPending track by $index" class="recycler-table-ebank mobileview recycler-list margin-bottom" width="98%" align="center">
					<tbody>
						<tr class="recycler-row-normal">
							<td class="recycler-row-align-midle-left"><span>COM_CREATED_DATE</span></td>
							<td class="recycler-row-align-midle-right"><span ng-bind="item.NGAY_LAP"></span></td>
						</tr>
						<tr class="recycler-row-normal">
							<td class="recycler-row-align-midle-left"><span>COM_TYPE_TRANSACTION</span></td>
							<td class="recycler-row-align-midle-right"><span ng-bind="TypeTrans(item.LOAI_GD)"></span></td>
						</tr>
						<tr class="recycler-row-normal">
							<td class="recycler-row-align-midle-left"><span>COM_STATUS</span></td>
							<td class="recycler-row-align-midle-right"><span ng-bind="status(item.TRANG_THAI)"></span></td>
						</tr>
						<tr class="recycler-row-normal">
							<td class="recycler-row-align-midle-left"><span>COM_AMOUNT</span></td>
							<td class="recycler-row-align-midle-right"><span ng-bind="item.NGUOI_DUYET"></span></td>
						</tr>
						<tr class="recycler-row-normal">
							<td class="recycler-row-align-midle-left"><div><span>COM_TRANS_CODE</span></div></td>
							<td class="recycler-row-align-midle-right">
								<a ng-click="showDetailTransaction(item.MA_GD);" style="cursor:pointer;">
									<span class="no-check" ng-bind="item.MA_GD"></span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>	
			
			<div id="pagination" style="text-align: right">
				<ul class="pagination" id="pagingTrans">
					<li ng-repeat="i in arrPage" ng-click="changePage(i)" id="page_{{$index + 1}}" ><span ng-bind="i"></span></li>
				</ul>
			</div>			
			<div style="margin-bottom: 20px;"></div>
		</div>
	</div>
</div>
<!--ThuanTM -->
<div id="selection-dialog" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" onClick="closeDialog(this)"></div>
    <div id="divListGroup" class="list-group dialog-list"></div>
</div>

