<div id="mainViewContent" class="main-layout-subview" ng-controller="Main as c">
    <div id="content-transfer" style="display:block" class="bg-transfer">
        <div class="panelContent" style="margin-top:0px;padding-top:0px">
            <table class="tableTab">
                <td class='content-periodic selected'>
                    <span>TRANS_PERIODIC_TRADE_TITLE</span>
                    <span class="content-span"></span>
                </td>
                <td ng-click="c.changeTab()" class='content-periodic'>
                    <span>TRANS_PERIODIC_MNG_TITLE</span>
                    <span class="content-span"></span>
                </td>
            </table>
            <table width="100%" align="center">
                <tr>
                    <td colspan="2">
                        <table width="357" cellspacing="0" cellpadding="0" border="0" align="center"
                               class="sequence-form-301" style="margin:auto">
                            <tbody>
                            <tr>
                                <td width="33%" class="selected">
                                    <span>SEQ_INPUT_TITLE</span>
                                </td>
                                <td width="33%">
                                    <span>SEQ_AUTHEN_TITLE</span>
                                </td>
                                <td width="33%">
                                    <span>SEQ_COMPLETE_TITLE</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="header-title"><span>COM_ACC_TRANS</span></div>
                    </td>
                </tr>
                <!--<tr>
                    <td colspan="2" align="center" valign="middle" class="td-text">
                        <div class="input-group widefull" ng-click="c.chooseAccount()">
                            <span class="input-group-addon" style="white-space:pre-wrap; width:40%">TRANS_BATCH_ACC_LABEL</span>
                            <input type="button" class="form-control form-control-rightbutton"
                                   ng-value="c.selectedAcc.number">
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                        </div>
                    </td>
                </tr>-->
                <tr>
                    <td id="account-info" colspan="2">
                        <div id="holder-account-info" class="combo-box info-account accInfo widefull" ng-click="c.chooseAccount()">
                        </div>
                        <input id="id.accountno" type="hidden" class="form-control form-control-rightbutton" value="c.selectedAcc.number" />
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <div class="header-title"><span>TRANS_PERIODIC_TITLE_SRCH</span></div>
                    </td>
                </tr>
                <!--<tr>
                    <td colspan="2" align="center" valign="middle" class="td-text">
                        <div class="input-group widefull" ng-click="c.chooseTransactionType()">
                            <span class="input-group-addon" style="white-space:pre-wrap; width:40%">TRANS_BATCH_TYPE_LABEL</span>
                            <input id="id-trans-batch" type="button" class="form-control form-control-rightbutton"
                                   align="left" ng-value="c.transType.value">
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                        </div>
                    </td>
                </tr>-->
                <tr>
                    <td colspan="2" align="center" valign="middle" class="td-text">
                        <div class="input-group widefull" ng-click="c.chooseTransactionType()">
                            <span class="input-group-addon" style="white-space:pre-wrap; width:40%">TRANS_BATCH_TYPE_LABEL</span>
                            <input id="id-trans-batch" type="button" class="form-control form-control-righttext" style="white-space: pre-wrap; padding-right: 10px;"  align="left" value="c.transType.value" />
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                        </div>
                    </td>
                </tr>
                <tr style="display: none">
                    <td colspan="2" align="center" valign="middle" class="td-text">
                        <input id="id-trans-batch-value" type="hidden" class="form-control form-control-righttext" style="white-space: pre-wrap; padding-right: 10px;"  align="left" value="" />
                    </td>
                </tr>
                <!--<tr>
                    <td>
                        <div id="trans.sourceaccoutbalance">
                            <div class="availblstyle" style="margin-left: 0 !important">
                                <span>COM_TXT_ACC_BALANCE_TITLE</span>:
                                <span ng-bind="c.selectedAcc.balance"></span>
                            </div>
                        </div>
                    </td>
                </tr>-->
                <tr>
                    <td colspan="2">
                        <div class="header-title"><span>TRANS_DETAIL_BLOCK_TITLE</span></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center" valign="middle" class="td-text">
                        <div class="input-group widefull">
                            <span class="input-group-addon"
                                  style="white-space:pre-wrap; width:40%">TRANS_BATCH_ACC_LIST</span>
                            <input ng-click="c.chooseFile()" ng-value="c.selectedFile" id="id-trans-local" type="button"
                                   class="form-control form-control-righttext"
                                   style="white-space: pre-wrap; padding-right: 10px;">

                            <form id="file-form">
                                <input onchange="angular.element(this).scope().fileChange()" id="list-file-input"
                                       type="file" style="display: none">
                            </form>
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="100%" style="padding:3px; text-align:right;">
                        <u><a ng-href={{c.templateUrl}} ng-click="c.viewTemplate()" target="_blank"
                              style="cursor:pointer;"><span>TRANS_BATCH_TEMPLATE_DOWNLOAD</span></a></u>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" valign="middle" class="td-text">
                        <div class="input-group widefull">
                            <span class="input-group-addon" style="width:40%; white-space:pre-wrap">COM_SEND_MSG_APPROVER</span>
                            <input id="trans.begindate" type="button" class="form-control form-control-righttext"
                                   style="white-space: pre-wrap; padding-right: 10px;" ng-value="c.sendNotiMethod.value"
                                   disabled>
                        </div>
                    </td>
                </tr>
                <tr ng-if="c.sendNotiMethod.key != '0'" style="display: none;">
                    <td width="100%" style="padding:3px; text-align:right;"><u>
                        <a ng-click="c.viewChecker()"
                           style="cursor:pointer;"><span>COM_VIEW_LIST_APPROVER</span></a></u>
                    </td>
                </tr>
                <tr class="trow-space"></tr>
                <tr class="mt-15">
                    <td colspan="2" align="center" valign="middle" class="td-text">
                        <div class="tdbtndesktop" style="width:50%">
                            <input type='submit' style="float:left;margin-left:65px"
                                   class='btnDesktopshadow btnDesktopBack' onClick='clickHomeOrBack()'
                                   value='INPUT_ACC_BTN_GOBACK'/>
                        </div>
                        <div style="width:50%">
                            <input type="button" style="margin-right:100px; font-size:14px!important;" class="btnshadow btn-second"
                                   id="id.button.query" ng-click="c.submit()" value="CM_BTN_SEND_REQ"/>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="selection-dialog" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" onClick="closeDialog(this)"></div>
    <div id="divListGroup" class="list-group dialog-list"></div>
</div>
<!--ThuanTM -->
<div id="selection-dialog-input" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" align="center" onClick="closeDialogInput(this)">
    </div>
    <div id="divListGroupInput" class="list-group dialog-list"></div>
</div>