<div id="mainViewContent" class="main-layout-subview" ng-controller="auth-payment-bill">
    <div class="">
        <div class="panelContent">
            <table id="dynamic-billing-table" width="100%">
                <tr>
                    <td>
                        <div class="header-title">
                            <span>AUTHORIZE_PAYMENT_BILL</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-text" valign="middle" align="center">
                        <div class="input-group" ng-click ="showTypeTrans()">
                            <span class="input-group-addon" style="width:40%;white-space:pre-wrap">AUTHORIZE_TRANS_MENU</span>
                            <input id="id.trans-type" class="form-control form-control-righttext" type="button" value="MENU_PAY_BILL" style="white-space:pre-wrap">
                            <input id="id.trans-type-value" type="hidden" class="form-control form-control-righttext" style="white-space: pre-wrap;" align="left" value="MENU_PAY_BILL" />
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-text" valign="middle" align="center">
                        <div class="input-group" ng-click="showMakers()">
                            <span class="input-group-addon" style="width:40%">COM_MAKER</span>
                            <input id="id.maker" class="form-control form-control-righttext" type="button" value="COM_ALL">
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-text" valign="middle" align="center">
                        <div class="input-group" ng-click="showTransStatusSelection()">
                            <span class="input-group-addon" style="width:40%; white-space:pre-wrap">COM_STATUS</span>
                            <input id="id.status" class="form-control form-control-righttext" type="button" value="COM_ALL" >
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-text" valign="middle" align="right">
                        <div class="input-group">
                            <span class="input-group-addon" style="width:40%; white-space:pre-wrap">COM_START_DATE</span>
                            <input id="id.begindate" class="form-control form-control-righttext-datepicker" type="tel" onpaste="return false;" onclick="handleCalendarNav(this, event);" onkeydown="return handleCalendarNav(this, event);" value="" placeholder="dd/mm/yyyy" >
                            <span id="span.begindate" class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-text" valign="middle" align="right">
                        <div class="input-group">
                            <span class="input-group-addon" style="width:40%; white-space:pre-wrap">COM_TO_DATE</span>
                            <input id="id.enddate" class="form-control form-control-righttext-datepicker" type="tel" onpaste="return false;" onclick="handleCalendarNav(this, event);" value="" placeholder="dd/mm/yyyy" onkeydown="return handleCalendarNav(this, event);">
                            <span id="span.enddate" class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker"></span>
                        </div>
                    </td>
                </tr>
                <!-- <tr>
                    <td>
                        <span id="btn_search" class="btnshadow btn-second" type="button" ng-click="sendJSONRequestSearch()">COM_SEARCH</span>
                    </td>
                </tr> -->
                <tr class='trow-space'></tr>
                <tr>
                    <td colspan="2" align="center" valign="middle" class="td-text">
                        <div class="" style="width:50%">
                            <input type="button" style="float:left;margin-left:65px" class="btnDesktopshadow btnDesktopBack"
                                   onclick="clickHomeOrBack()" value="CM_BTN_GOBACK">
                        </div>
                        <div style="width:50%">
                            <input id="btn_search" type="button" style="margin-right:100px" class="btnshadow btn-second"
                                   ng-click="sendJSONRequestSearch()" value="COM_SEARCH">
                        </div>
                    </td>
                </tr>
                <tr class='trow-space'></tr>
                <tr>
                    <td><div style="text-align: center;" id="id.message"><span id="id.message.value"></span></div></td>
                </tr>
            </table>
            <div id="id.searchResult" style="display: none">
                <table width='98%' align='center' class='recycler-table-ebank desktopview' id='recycler_table_ebank-desktop' >
                    <tr class='recycler-row-title-header recycler-list'>
                        <td class="recycler-row-align-midle" width="7%"><span>COM_NO</span></td>
                        <td class="recycler-row-align-midle" width="14%"><span>COM_CREATED_DATE</span></td>
                        <td class="recycler-row-align-midle" width="12%"><span>PAYMENT_ORDER_CODE</span></td>
                        <td class="recycler-row-align-midle" width="14%"><span>COM_AMOUNT</span></td>
                        <td class="recycler-row-align-midle" width="14%"><span>COM_CHEKER</span></td>
                        <td class="recycler-row-align-midle" width="14%"><span>COM_STATUS</span></td>
                        <td class="recycler-row-align-midle" width="20%"><span>COM_TRANS_CODE</span></td>
                        <td class="recycler-row-align-midle" width="4%">
                            <input type="checkbox" onclick="selectAllRow('recycler_table_ebank-desktop', 'recycler_table_ebank-mobile', this)" name="parent_0">
                        </td>
                    </tr>
                    <tr class="recycler-row-title recycler-list" ng-repeat="trans in listPending track by $index">
                        <td  class="recycler-row-align-midle"><span ng-bind="$index + 1"></span></td>
                        <td  class="recycler-row-align-midle"><span ng-bind="trans.NGAY_LAP"></span></td>
                        <td  class="recycler-row-align-midle"><span ng-bind="trans.MA_HOA_DON"></span></td>
                        <td  class="recycler-row-align-midle"><span ng-bind="trans.SO_LUONG | currency : '' : 0"></span></td>
                        <td  class="recycler-row-align-midle"><span ng-bind="trans.NGUOI_DUYET"></span></td>
                        <td  class="recycler-row-align-midle"><span ng-bind="trans.TRANGTHAI"></span></td>
                        <td  class="recycler-row-align-midle" ng-click="goToViewScreen(trans.MA_GD, trans.SO_LUONG)"><a style="cursor:pointer;"><span class="no-check" ng-bind="trans.MA_GD"></span></a></td>
                        <td class="recycler-row-align-midle">
                            <input class="trans.checkbox" type="checkbox"  name="{{trans.MA_GD}}">
                        </td>
                    </tr>
                </table>
            <!--mobile view-->
            <table  ng-repeat="item in listPending track by $index" class="recycler-table-ebank mobileview recycler-list margin-bottom" width='98%' align='center' id="recycler_table_ebank-mobile">
                <tbody>
                <tr class="recycler-row-parity">
                    <td class="recycler-row-align-midle-left"><span>COM_NO</span></td>
                    <td class="recycler-row-align-midle-right"><span ng-bind="$index + 1"></span></td>
                </tr>
                <tr class="recycler-row-parity">
                    <td class="recycler-row-align-midle-left"><span>COM_CREATED_DATE</span></td>
                    <td class="recycler-row-align-midle-right"><span ng-bind="item.NGAY_LAP"></span></td>
                </tr>
                <tr class="recycler-row-parity">
                    <td class="recycler-row-align-midle-left"><span>PAYMENT_ORDER_CODE</span></td>
                    <td class="recycler-row-align-midle-right"><span ng-bind="item.MA_HOA_DON"></span></td>
                </tr>
                <tr class="recycler-row-parity">
                    <td class="recycler-row-align-midle-left"><span>COM_AMOUNT</span></td>
                    <td class="recycler-row-align-midle-right"><span ng-bind="item.SO_LUONG | currency : '' : 0"></span></td>
                </tr>
                <tr class="recycler-row-parity">
                    <td class="recycler-row-align-midle-left"><span>COM_CHEKER</span></td>
                    <td class="recycler-row-align-midle-right"><span ng-bind="item.NGUOI_DUYET"></span></td>
                </tr>
                <tr class="recycler-row-parity">
                    <td class="recycler-row-align-midle-left"><span>COM_STATUS</span></td>
                    <td class="recycler-row-align-midle-right"><span ng-bind="item.TRANGTHAI"></span></td>
                </tr>
                <tr class="recycler-row-parity" ng-click="goToViewScreen(item.MA_GD, item.SO_LUONG);">
                    <td class="recycler-row-align-midle-left"><span>COM_TRANS_CODE</span></td>
                    <td class="recycler-row-align-midle-right"><span style="color: #fb8c00;" ng-bind="item.MA_GD"></span></td>
                </tr>
                <tr class="recycler-row-parity">
                    <td class="recycler-row-align-midle-left"><span>COM_CHOOSE</span></td>
                    <td nowrap class="recycler-row-align-midle-right">
                        <input class="trans.checkbox" type="checkbox" name="{{item.MA_GD}}">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
            <div class="tranfer-item">

            </div>
            <table width="100%" align="center">
                <tr>
                    <td>
                        <div class="tranfer-item bg-transfer" style="border-bottom: solid 1px rgb(209, 183, 224); border-top: solid 1px rgb(209, 183, 224);">
                            <div class="text-area-content" id="holder-transfer-message">
                                <div class="bg-text-area">
                                    <div class="holderIcon">
                                        <div style="display:table;width: 100%;height:100%"><span style="display:table-cell;vertical-align: middle;text-align: center;font-size:24px!important" class="icon-content-note"></span></div>
                                    </div>
                                    <div class="holder-txtarea" style="border-left: solid 1px rgb(209, 183, 224);">

                                        <textarea onkeyup="controlInputText2(this, 240);" class="area" style="padding-left: 5px;" id="trans.reason" placeholder="COM_AUTH_DENIAL_REASON" maxlength="250"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="trow-space"></tr>
                <tr class='trow-default'>
                    <td colspan="2" align="center" valign="middle" class="td-text" >
                        <div style="width:50%" class='isDesktop-left'>
                            <input  type='button' class='btnshadow rejectTrans' ng-click="rejectTransaction()" value='COM_REJ'/>
                        </div>
                        <div style="width:50%" class='isDesktop-right'>
                            <input type="button" ng-click="authorizeTransaction()" style="margin-right:100px" class="btnshadow btn-second" value="COM_AUTH"/>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="selection-dialog" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" onClick="closeDialog(this)"></div>
    <div id="divListGroup" class="list-group dialog-list"></div>
</div>
<div id="selection-dialog-input" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" align="center" onClick="closeDialogInput(this)">
    </div>
    <div id="divListGroupInput" class="list-group dialog-list"> </div>
</div>
