<!-- <div class="recycler-list" ng-controller="acc-list-account-info">
    <table class="recycler-table-ebank" align="center" width="100%">
        <thead>
        <tr class="recycler-row-normal recycler-header-hightlight">
            <th class="recycler-row-align-midle"><span style="color: #424242;">COM_ACCOUNT_NUMBER</span></th>
            <th class="recycler-row-align-midle"><span style="color: #424242;">ACCOUNT_PERIOD_TYPE</span></th>
            <th class="recycler-row-align-midle"><span style="color: #424242;">COM_AMOUNT</span></th>
            <th class="recycler-row-align-midle"><span style="color: #424242;">ACC_INTEREST_YEAR</span></th>
            <th class="recycler-row-align-midle"><span style="color: #424242;">ACCOUNT_PERIOD_DATESTART</span></th>
            <th class="recycler-row-align-midle"><span style="color: #424242;">ACCOUNT_PERIOD_DATEEND</span></th>
            <th class="recycler-row-align-midle"><span style="color: #424242;">COM_TYPE_MONEY</span></th>
            <th class="recycler-row-align-midle"><span style="color: #424242;">ACC_PROFITS_INTERIM</span></th>
        </tr>
        </thead>
        <tbody>
        <tr class="recycler-row-normal recycler-hover" ng-repeat="account in listAccountOnline">
            <td class="recycler-row-align-midle">
                <div class="content-detail">
                    <a id="lnk_{idtxn}" class="ref-link" ng-click="clickDetail(account.CUST_AC_NO, account.IS_TYPE, account.TXN_CCY, account.DEPOSIT_AMT,
                                     account.TENOR_DAYS, account.TENOR_MONTHS, account.TENOR_YEARS, account.INT_RATE, account.AMOUNTACC,
                                     account.STARTDATE, account.MATURITYDATE, account.SO_PHONG_TOA, account.LY_DO_PHONG_TOA)" href="javascript:void(0)">
                        {{account.CUST_AC_NO}}
                    </a>
                </div>
            </td>
            <td class="recycler-row-align-midle">
                <div ng-bind="account.LOAI_TIET_KIEM"></div>
            </td>
            <td class="recycler-row-align-midle">
                <div ng-bind="account.DEPOSIT_AMT"></div>
            </td>
            <td class="recycler-row-align-midle">
                <div ng-bind="account.INT_RATE"></div>
            </td>
            <td class="recycler-row-align-midle">
                <div ng-bind="account.STARTDATE"></div>
            </td>
            <td class="recycler-row-align-midle">
                <div ng-bind="account.MATURITYDATE"></div>
            </td>
            <td class="recycler-row-align-midle">
                <div ng-bind="account.TXN_CCY"></div>
            </td>
            <td class="recycler-row-align-midle">
                <div ng-bind="account.AMOUNTACC"></div>
            </td>


        </tr>
        </tbody>

    </table>
</div> -->