<div id="mainViewContent" class="main-layout-subview" ng-controller="authorize_acc">
    <div class="">
        <div class="panelContent">

            <table width="100%" align="center">
                <tr>
                    <td>
                        <h5 class="header-title" style="white-space:pre-wrap"><span>ACC_TRANSACTION_AUTHORIZE_DETAIL</span></h5>
                    </td>
                </tr>
                <!-- Loại giao dịch -->
                <tr>
                    <td colspan="3" align="center" valign="middle" class="td-text">
                        <div class="input-group widefull" ng-click="showTransTypeSelection();">
                            <span class="input-group-addon" >COM_TYPE_TRANSACTION</span>
                            <input id="transType" type="button" class="form-control form-control-righttext" placeholder="ACC_SEND_MONEY" value="ACC_SEND_MONEY" />
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                            <input type='hidden' id='transTypeVal'/>
                        </div>
                    </td>
                </tr>
                <!-- Người lập -->
                <tr>
                    <td colspan="3" align="center" valign="middle" class="td-text"><div class="input-group widefull" ng-click="showMakerSelection();"> <span class="input-group-addon" >COM_MAKER</span>
                        <input id="maker" type="button" class="form-control form-control-righttext" placeholder="COM_TXT_INPUT_PLACEHOLDER" value="COM_TXT_SELECTION_PLACEHOLDER" />
                        <span class="icon-movenext input-group-addon input-group-symbol"></span>
                        <input type='hidden' id='makerVal'/>
                    </div></td>
                </tr>
                <!-- Trạng trhái  -->
                <tr>
                    <td align="center" valign="middle" class="td-text">
                        <div class="input-group widefull" ng-click="showStatusSelection()">
                            <span class="input-group-addon" style="width:40%; white-space:pre-wrap">TRANS_PERIODIC_MNG_STT</span>
                            <input id="status" type="button" class="form-control form-control-righttext" value="COM_ALL" />
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                            <input type='hidden' id='statusVal'/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="right" valign="middle" class="td-text">
                        <div class="input-group widefull">
                            <span class="input-group-addon" style="width:40%; white-space:pre-wrap">EVN_BILL_FROM_DATE</span>
                            <input id="id.begindate" type="tel" placeholder="COM_TXT_SELECTION_PLACEHOLDER_DATE" value="" class="form-control form-control-righttext-datepicker" onkeydown="return handleCalendarNav(this, event);" onclick="handleCalendarNav(this, event);" onpaste="return false;" />
                            <span onclick="initDialogCal('id.begindate')" id="span.begindate" class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker"> </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="right" valign="middle" class="td-text">
                        <div class="input-group widefull">
                            <span class="input-group-addon" style="width:40%; white-space:pre-wrap">EVN_BILL_TO_DATE</span>
                            <input id="id.enddate" type="tel" class="form-control form-control-righttext-datepicker" onkeydown="return handleCalendarNav(this, event);" placeholder="COM_TXT_SELECTION_PLACEHOLDER_DATE" value="" onclick="handleCalendarNav(this, event);" onpaste="return false;" />
                            <span onclick="initDialogCal('id.enddate')" id="span.enddate" class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker"></span>
                        </div>
                    </td>
                </tr>
                <tr class='trow-space'></tr>
                <tr class='trow-default'>
                    <td colspan="2" align="center" valign="middle" class="td-text" >
                        <div class="tdbtndesktop" style="width:50%">
                            <input  type='submit' style="float:left;margin-left:65px" class='btnDesktopshadow btnDesktopBack' onClick= 'clickHomeOrBack()' value='INPUT_ACC_BTN_GOBACK'/>
                        </div>
                        <div style="width:50%">
                            <input id="btn_search" type="button" ng-click="sendJSONRequest()" style="margin-right:100px" class="btnshadow btn-second" value="TRANS_PERIODIC_BTN_SRCH"/>
                        </div>
                    </td>
                </tr>
				<tr class="trow-space"></tr>
            </table>
            <div id="trans.message"><span id="msgacc"></span></div>
            <div id="searchacc">
			                <table width='98%' align='center' class='recycler-table-ebank desktopview'>
								<tr class='recycler-row-title-header recycler-list'>
								    <td class="recycler-row-align-midle" width="7%"><span>COM_NO</span></td>
									<td class="recycler-row-align-midle" width="15%"><span>COM_CREATED_DATE</span></td>
                                    <td class="recycler-row-align-midle" width="15%"><span>COM_MAKER</span></td>
                                    <td class="recycler-row-align-midle" width="15%"><span>COM_AMOUNT</span></td>
									<td class="recycler-row-align-midle" width="15%"><span>COM_CHEKER</span></td>
									<td class="recycler-row-align-midle" width="18%"><span>COM_TRANS_CODE</span></td>
                                </tr>
                                <tr class="recycler-row-title recycler-list" ng-repeat="item in listPending track by $index">
									<td  class="recycler-row-align-midle"><span ng-bind="$index + 1"></span></td>
									<td  class="recycler-row-align-midle"><span ng-bind="item.DATMAKE"></span></td>
									<td  class="recycler-row-align-midle"><span ng-bind="item.IDSRCACCT"></span></td>
									<td  class="recycler-row-align-midle"><span ng-bind="(item.NUMAMOUNT | currency : '' : 0) + ' VND'"></span></td>
									<td  class="recycler-row-align-midle"><span ng-bind="item.NGUOI_DUYET"></span></td>
									<td  class="recycler-row-align-midle" ng-click="goToViewScreen(item.IDFCATREF)"><a style="cursor: pointer;"><span ng-bind="item.IDFCATREF"></span></a></td>
                                </tr>
                            </table>
							<table class="recycler-table-ebank mobileview recycler-list margin-bottom" width="98%" align="center" ng-repeat="trans in listPending track by $index">
								<tbody>
								<tr class="recycler-row-normal">
									<td class="recycler-row-align-midle-left"><span>COM_CREATED_DATE</span></td>
									<td class="recycler-row-align-midle-right"><span ng-bind="trans.DATMAKE"></span></td>
								</tr>
								<tr class="recycler-row-normal">
									<td class="recycler-row-align-midle-left"><span>COM_MAKER</span></td>
									<td class="recycler-row-align-midle-right"><span ng-bind="trans.IDSRCACCT"></span></td>
								</tr>
								<tr class="recycler-row-normal">
									<td class="recycler-row-align-midle-left"><span>COM_AMOUNT</span></td>
									<td class="recycler-row-align-midle-right"><span ng-bind="(trans.NUMAMOUNT | currency : '' : 0) + ' VND'"></span></td>
								</tr>
								<tr class="recycler-row-normal">
									<td class="recycler-row-align-midle-left"><span>COM_CHEKER</span></td>
									<td class="recycler-row-align-midle-right"><span ng-bind="trans.NGUOI_DUYET"></span></td>
								</tr>
								<tr class="recycler-row-normal">
									<td class="recycler-row-align-midle-left"><span>COM_TRANS_CODE</span></td>
									<td class="recycler-row-align-midle-right">
										<a ng-click="goToViewScreen(trans.IDFCATREF)">
											<span ng-bind="trans.IDFCATREF"></span>
										</a>
									</td>
								</tr>
								</tbody>
							</table>
            </div>
            <div class="tranfer-item">
            </div>

        </div>
        <div id="holder-bottom-bar">

        </div>
        <div class="mobilemode" id="dialog-container">

        </div>
    </div>
</div>
<div id="selection-dialog" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" onClick="closeDialog(this)"></div>
    <div id="divListGroup" class="list-group dialog-list"></div>
</div>
<div id="selection-dialog-input" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" align="center" onClick="closeDialogInput(this)">
    </div>
    <div id="divListGroupInput" class="list-group dialog-list"> </div>
</div>