<div id="mainViewContent" class="main-layout-subview" ng-controller="transfer-local-create">
    <div id="content-transfer" style="display:block" class="bg-transfer">
        <div class="panelContent" style="margin-top:0px;padding-top:0px">
            <table width="100%" id="dynamic-topup-table" >
                <tr>
                    <td colspan="2"><div class="header-title"><span>HEADER_FROM_TRANSFER</span></div></td>
                </tr>
                <tr>
                    <td colspan="2" align="center" valign="middle" class="td-text">
                        <div class="input-group widefull" ng-click="showTransTypeSelection()">
                            <span class="input-group-addon" style="white-space:pre-wrap; width:40%">TRANS_TYPE_CHOICE_TITLE</span>
                            <input id="id-trans-local" type="button" class="form-control form-control-righttext" style="white-space: pre-wrap; padding-right: 10px;"  align="left" value="" />
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                        </div>
                    </td>
                </tr>
                <tr style="display: none">
                    <td colspan="2" align="center" valign="middle" class="td-text">
                        <input id="id-trans-local-value" type="hidden" class="form-control form-control-righttext" style="white-space: pre-wrap; padding-right: 10px;"  align="left" value="" />
                    </td>
                </tr>
                <tr>
                    <td id="account-info" colspan="2">
                        <div id="holder-account-info" class="combo-box info-account accInfo widefull" ng-click="showAccountSelection()">
                        </div>
                        <input id="id.accountno" type="hidden" class="form-control form-control-rightbutton" value="" />
                    </td>
                </tr>
                <tr style="display:none">
                    <td id="payment.sourceaccoutbalance">
                        <h6 class="h6style">
                            <span>COM_TXT_ACC_BALANCE_TITLE</span>
                        </h6>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="tranfer-item">
                            <div class="container-input-icon">
                                <div class="holder-icon-input-parent">
                                    <div class="holder-icon-input-child">VND</div>
                                </div>
                                <div class="holder-input">
                                    <input id="trans.amount" ng-model="amount"  type="tel" class="form-control form-control-righttext input-with-icon" placeholder="PLACEHOLDER_TRANSFER_AMOUNT" onkeyup="handleInputAmount(event, this);" ng-change="formatNumberToCurrency()" maxlength="16"/>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr id="row_convert" style="display: none;">
                    <td  id="trans.amounttotext" colspan="2">
                        <div class="txtmoneystyle">

                        </div>
                    </td>
                </tr>
                <tr>
                    <td id="trans.sourceaccoutbalance" colspan="2" align="left" valign="middle" class="td-text">
                        <h5 class="h6style">
                            <!-- <span>COM_TXT_ACC_BALANCE_TITLE</span> -->
                            <span class="header-title" style="font-size: 13px!important;">HEADER_TRANSFER_TO</span><span style="color:#fb8c00;font-style: italic;">&nbsp;(Chọn Tài khoản của bạn hoặc Người nhận đã lưu: Bấm vào &lt;Danh Bạ Nhận&gt; bên dưới)</span>
                        </h5>
                    </td>
                </tr>


			<tr>
				<td colspan="2" align="center" valign="middle" class="input-group widefull td-text" id="check">
					<div class="holder-input-none-icon" style="margin-top: -4px;margin-bottom: -2px;"><input
							id="trans.targetaccount" onkeyup="inputOnlyNumber(this)" type="text"
							placeholder="TRANS_INPUT_PERIODIC_ACC_NO" value="" class="form-control input-none-border"
							autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off"
							onchange="loadInfoFromIdAccount(this)" maxlength="30"/>
					</div>
					
					<span style="display: none;" id="id.next.icon"
						  class="icon-movenext input-group-addon input-group-symbol"></span>
					<span onclick="showPayeePage();" id="span.trans.target"
						  class="tooltip icon-book input-group-addon-datepicker input-group-symbol-datepicker"
						  style="cursor:pointer;display:none;"> <span style="text-align:center; font-size:14px;">TRANSFER_REMITTANCE_SAVE_BENEFIC1</span></span>

				</td>
			</tr>	
                <tr>
                    <td id="trans.targetaccountname" colspan="2" align="left" valign="middle" class="td-text">
                        <div class="input-group border-b widefull">
                            <div class="holder-input-none-icon" style="margin-top: -4px;margin-bottom: -7px;">
                                <input readonly="true" id="trans.accountName" type="tel" placeholder="PLACEHOLDER_DEST_ACCOUNT_NAME" value="" class="form-control form-control-righttext-datepicker input-none-border"/>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr style="display:none">
                    <td colspan="2" align="left" valign="middle" class="td-text">
                        <h5 class="Header">
                            <span style="white-space:pre-wrap">TRANS_DETAIL_BLOCK_TITLE</span>
                        </h5>
                    </td>
                </tr>
                <!-- noi dung chuyen tien -->
               <!--  <tr>
                    <td>
                        <div class="tranfer-item">
                            <div id="holder-transfer-message" class="text-area-content" >

                            </div>
                        </div>
                    </td>
                </tr> -->
                <tr>
                    <td>
                        <div class="tranfer-item">
                            <div id="holder-transfer-message" class="text-area-content"><div class="bg-text-area"><div class="holderIcon"><div style="display:table;width: 100%;height:100%"><span style="display:table-cell;vertical-align: middle;text-align: center;font-size:24px!important" class="icon-content-note"></span></div></div><div class="holder-txtarea"> <div class="area dummy"></div><textarea class="area" id="trans.content" onkeyup="replaceTextareaContent(this)" value="" placeholder="PLACEHOLDER_TRANSFER_CONTENT" maxlength="100" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off"></textarea></div></div></div>
                        </div>
                    </td>
                </tr>
                <!-- <tr>
                    <td colspan="2" align="center" valign="middle" class="td-text">
                        <div id="holder-transfer-message" class="input-group enter-amount"></div>
                    </td>
                </tr> -->
                <!--<tr>-->
                    <!--<td colspan="2" align="center" valign="middle" class="td-text">-->

                    <!--</td>-->
                <!--</tr>-->
                <tr style="display: none">
                    <td colspan="2" align="center" valign="middle">
                        <div class="tranfer-item item-infor" style="margin-top: -7px;">
                            <span class="span-label">DAY_TRANSFER</span>
                            <span id="trans.today" class="span-today" style="font-weight:normal">DAY_LATE</span>
                            <div ng-click="showDialogScheduler()" class="set-calendar" style="font-weight:normal" >
                                <i class="icon-recents"></i>
                                <span style="font-size:10px;">SCHEDULER_SET_TITLE</span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr style="display:none">
                    <td colspan="2">
                        <div class="tranfer-item" >
                            <div id="trans.schedule.information">
                                <div id="schedule.information" class="holder-input-none-icon holder-border-bottom">
                                    <span style="font-weight:normal; color: #424242" id="schedule.information.value"></span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="tranfer-item" id="id.luunguoinhan">
                            <div class="holder-border-bottom" style="overflow:hidden;padding:4px 0;margin-top: -4px;">
                                <div style="float:left !important">
                                    <span class="span-label">SAVE_DEST_ACCOUNT</span><div style="top:0px !important;margin-left:8px !important;float:none !important" class="custom-switch custom-switch-on" ng-click="onChangeSwitchSubMenu('save-receiver')" id="save-receiver">
                                    <input type="checkbox" class="custom-switch-input custom-switch-input-on"  />
                                    <span class="custom-switch-label custom-switch-label-off" data-on="On" data-off="Off">on</span>
                                    <span class="custom-switch-handle custom-switch-handle-on"></span>
                                </div>
                                </div>
                                <div style="float:right;text-align:right;"><span class="saveTemplate">SAVE_TRANSFER_DOC_TEMPLATE</span> <div style="top:0px !important;margin-left:8px !important;margin-right:3px !important;" class="custom-switch custom-switch-off" ng-click="onChangeSwitchSubMenu('save-doc-temp-transfer')" id="save-doc-temp-transfer">
                                    <input type="checkbox" class="custom-switch-input custom-switch-input-on"  />
                                    <span class="custom-switch-label custom-switch-label-off" data-on="On" data-off="Off">on</span>
                                    <span class="custom-switch-handle custom-switch-handle-off"></span>
                                </div></div>

                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="desktopview">
                    <td>
                        <div class="tranfer-item" style="margin-top: -20px">
                            <div class="container-input-icon" style="border-top: none">
                                <div class="holder-icon-input-parent" style="width: 60%">
                                    <div class="holder-icon-input-child"><span>GUA_SEND_NOTIFICATION_TO_USER</span></div>
                                </div>
                                <div class="holder-input not-allow-cursor" style="width: 25%;">
                                    <div class="holder-icon-input-child" style="float:right;"><span id="id.notifyTo" style="font-size: 12px;float:right;padding-top: 8px; "></span></div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="mobileview">
                    <td>
                        <div class="tranfer-item" style="margin-top: -8px">
                            <div class="container-input-icon" style="border-top: none">
                                <div class="holder-icon-input-parent notification-brn">
                                    <div class="holder-icon-input-child"><span style="font-size: 12px;">GUA_SEND_NOTIFICATION_TO_USER</span></div>
                                </div>
                                <div class="holder-icon-input-parent notification-brn">
                                    <div class="holder-icon-input-child"><span style="font-size: 12px; float: right;" id="id.notifyTo1"></span></div>
                                </div>
                                <!-- <div class="holder-input notification-txt-right">
                                    <div class="holder-icon-input-child"><span id="id.notifyTo1" style="font-size: 12px; float:right;"></span></div>
                                </div> -->
                            </div>
                        </div>
                    </td>
                </tr>
                <tr style="display:none">
                    <td colspan="2" align="center" valign="middle" class="td-text">
                        <div class="input-group" >
                            <span class="input-group-addon" style="font-family:Tahoma, Helvetica, sans-serif;white-space:pre-wrap; width:40%">TRANS_SAVE_BENEFIC_TITLE</span>
                            <input style="white-space:pre-wrap" onclick = "showInputMNG()" id="id.payee" type="button" class="form-control form-control-righttext" placeholder="BENEFIC_LIST_NORMAL" value="TRANSFER_REMITTANCE_SAVE_BENEFIC"/>
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div class="tranfer-item" id ="id.sample" style="display:none;">
                            <div class="holder-border-bottom">
                                <div class="holder-input-none-icon" style="margin-top:-7px;">
                                    <input id="id.sample.name" type="text" class="form-control input-none-border" placeholder="TRANSFER_REMITTANCE_NAMED" maxlength="20" />
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="mt-15">
                    <td colspan="2" align="center" valign="middle" class="td-text">
                        <div class="tdbtndesktop" style="width:50%">
                            <input  type='submit' style="float:left;margin-left:65px" class='btnDesktopshadow btnDesktopBack' onClick= 'clickHomeOrBack()' value='INPUT_ACC_BTN_GOBACK'/>
                        </div>
                        <div style="width:50%">
                            <input  type="button" style="margin-right:100px; font-size:14px!important;" class="btnshadow btn-second"
                                    ng-click="sendJSONRequest()" value="TRANS_LOCAL_BTN_SENDREQUEST"/>
                        </div>
                    </td>
                </tr>
            </table>

            <div class="tranfer-item">

            </div>
            <table width="100%" align="center">
                <tr >
                    <td colspan="2">
                        <div id="seqFormLocal">
                            <table width="357" align="center"  class='sequence-form-301'>
                                <tr>
                                    <td width="33%" class="selected"><span>SEQ_INPUT_TITLE</span></td>
                                    <td width="33%"><span>SEQ_AUTHEN_TITLE</span></td>
                                    <td width="33%"><span>SEQ_COMPLETE_TITLE</span></td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr style="display:none">
                    <td colspan="2">
                        <h5 class="Header">
                            <span style="white-space:pre-wrap">TRANS_TYPE_BLOCK_TITLE</span>
                        </h5>
                    </td>
                </tr>
                <tr style="display:none">
                    <td colspan="2">
                        <h5 class="Header">
                            <span style="white-space:pre-wrap">TRANS_ACCOUNT_INFO_BLOCK_TITLE</span>
                        </h5>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="holder-bottom-bar">

    </div>
    <div class="mobilemode" id="dialog-container">

    </div>
</div>
<div id="selection-dialog" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" onClick="closeDialog(this)"></div>
    <div id="divListGroup" class="list-group dialog-list"></div>
</div>
<!--ThuanTM -->
<div id="selection-dialog-input" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" align="center" onClick="closeDialogInput(this)">
    </div>
    <div id="divListGroupInput" class="list-group dialog-list"> </div>
</div>