<div id="mainViewContent" class="main-layout-subview" ng-controller="transfer-auth" style="height: 621px; top: 44px; bottom: 0px;">
    <div id="reviewInfo" class="panelContent">
        <div id="reviewTransaction" style="margin-top: 10px" ng-include="src"></div>
        <div id="seqFormReviewAuthen"></div>
        <table width='100%' align='center'>
            <tr>
                <td colspan="2"><div id="seqFormAuthen"></div></td>
            </tr>
            <tr>
                <td>
                    <table width="100%" align="center" vspace="30">
                        <tr>
                            <td colspan="3"></td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <h5 id="auth.title" class="Header" style="margin-left:10px;">
                                    <span>AUTHEN_TXT_INPUT_KEY_TITLE</span>
                                </h5>
                            </td>
                        </tr>
                        <tr id="id.ca00" style="background: transparent">
                            <td colspan="3" style="    background: rgba(240, 240, 240, 0.47);" align="center" valign="middle" class="td-text">
                                <div ng-click="clickOnDiv('input-trigger')" class="input-group" id="input-group"  inputmode="numeric" type="tel" tabindex="0" style="height:40px ; width: auto; font-size: 10px">
                                    <div id="tmp-inputotp" style="margin-left: -10%;">
                                        <ul style="list-style: none; width: 250px">
                                            <li>
                                                <span id="li1" class="icon-radio-unchecked" ></span>
                                            </li>
                                            <li>
                                                <span id="li2" class="icon-radio-unchecked" ></span>
                                            </li>
                                            <li>
                                                <span id="li3" class="icon-radio-unchecked" ></span>
                                            </li>
                                            <li>
                                                <span id="li4" class="icon-radio-unchecked" ></span>
                                            </li>
                                            <li>
                                                <span id="li5" class="icon-radio-unchecked" ></span>
                                            </li>
                                            <li>
                                                <span id="li6" class="icon-radio-unchecked"></span>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="tess" id="tess" style="display: none; position: absolute;top: -12px;right: -12px;font-size: 20px;">
                                        <ul style="list-style: none">
                                            <li style="float: right">
                                                <span ng-click="removeotp()" class="icon-delete"></span>
                                            </li>
                                        </ul>
                                    </div>
                                    <span id="authen.tokentype"  class="input-group-addon" style="width:40%; display: none;">TOKEN KEY</span>
                                    <input id="authen.tokenkey" type="hidden" class="form-control form-control-righttext" placeholder="COM_TXT_INPUT_PLACEHOLDER" value="" maxlength="6"/>
                                    <input id="input-trigger" type="number" style="position:fixed;left:-1000px;outline: none;width:0px;height:0px;color:transparent;background: transparent;border:0px transparent" maxlength="6"/>
                                </div>
                            </td>

                        </tr>
                        <!--timer 90s-->
                        <tr id="id.ca02">
                            <td colspan='3'>
                                <div id='authen.progressbar' class="progress-wrapper html5-progress-bar" style='display:none'>
                                    <div id="authen.progressbarotp" class="authen-progressbarotp">
                                        <progress value="0" max="100" min="0" style="animation: loadbar 90s;"></progress>
                                    </div>
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td colspan="3">
                                <h5 id="auth.note" style="margin-left:10px;margin-bottom: 15px;">
                                    <span>AUTHEN_TYPE_NOTE_OTP</span>
                                </h5>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <h5 id="auth.note.support" style="margin-left:10px;margin-bottom: 15px;">
                                    <span>AUTHEN_TXT_NOTE_CONTENT_SUPPORT</span>
                                </h5>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <h5 id="auth.note.mca" style="margin-left:10px;margin-bottom: 15px; display:none;">
                                    <span>AUTHEN_TYPE_NOTE_MCA</span>
                                </h5>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <h5 id="auth.note.hard.token" style="margin-left:10px;margin-bottom: 15px; display:none;">
                                    <span>AUTHEN_TYPE_NOTE_VAS_1</span>
                                </h5>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <h5 id="auth.note.soft.token" style="margin-left:10px;margin-bottom: 15px; display:none;">
                                    <span>AUTHEN_TYPE_NOTE_MKS</span>
                                </h5>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <h5 id="auth.note.mtx" style="margin-left:10px;margin-bottom: 15px; display:none;">
                                    <span>AUTHEN_TYPE_NOTE_MTX</span>
                                </h5>
                            </td>
                        </tr>
                        <tr class="trow-space"></tr>
                        <tr align="center">
                            <td class="tdbtndesktop" width="32%">
                                <input type='submit' style='width:100%;margin:0 auto' class='btnDesktopshadow btnDesktopBack' onClick= 'clickHomeOrBack()' value='INPUT_ACC_BTN_GOBACK'/>
                            </td>
                            <td width='32%'>
                                <input type="submit" style="background-color: rgba(162, 100, 187, 0.51);border-radius: 20px;width:100%" class="btnshadow btn-primary" onclick="goBack()"
                                       value="REVIEW_BTN_CANCEL"/>
                            </td>
                            <td width='32%' id='authen.resendotp' style="display:none">
                                <input type="submit" class="btnshadow btn-primary" onclick="resendOTP();" value="AUTHEN_BTN_RESEND_OTP_TITLE"/>
                            </td>
                            <td width='32%' id="btn-authenrequest">
                                <input id="authen-send-request" style="width:100%" type="button" class="btnshadow btn-second" name="cf"
                                       ng-click="sendJSONAuthenRequest()" value="CARD_LOCK_BTN_TITLE" />
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="desktopmode" id="result-export-print" style="display:none;">
                <td colspan="2">
                    <div align="right" style="padding-right: 5px;">
                        <a href="javascript:void(0)" onclick="printResultHistory();">
                            <img title="In trang này" style="margin-right:5px;" src="css/img/print.png"/>
                        </a>
                    </div>
                </td>
            </tr>
            <tr id="resultNote" style="display:none">
                <td colspan="2">
                    <div id="divResultNode"></div>
                </td>
            </tr>
        </table>
</div>
<div id="selection-dialog" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" onClick="closeDialog(this)"></div>
    <div id="divListGroup" class="list-group dialog-list"></div>
</div>
<!--ThuanTM -->
<div id="selection-dialog-input" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" align="center" onClick="closeDialogInput(this)">
    </div>
    <div id="divListGroupInput" class="list-group dialog-list"></div>
</div>
    <style type="text/css">
        #tmp-inputotp {
            background: transparent;
        }
        #tmp-inputotp ul {
            list-style-type: none;
        }
        #tmp-inputotp ul li {
            float:left;
            width:30px;
        }
        .icon-incheck-number {
            font-size: 40px;
            color:#f69013;
            line-height: 7px;
        }
    </style>