<div id="mainViewContent" class="main-layout-subview" ng-controller="pay_tax_create" style="height: 417px;top:44px">
    <div id="content-transfer" style="display:block" class="bg-transfer">
        <div class="panelContent" style="margin-top:0px;padding-top:0px">
            <!---<table width="100%">
                <tr>
                    <td colspan="2">
                        <div class="header-title"><span>MENU_CHILD_PAY_TAX</span></div>
                    </td>
                </tr>
            </table>-->

            <table width="100%" align="center">
                <!--<tr>
                    <td>
                        <span style="white-space:pre-wrap;line-height: 1.5;" id="suspendMessage"></span>
                    </td>
                </tr>-->

                <tr>
                    <td colspan="2">
                        <div class="header-title"><span>TOPUP_TRANS_INFO_TITLE</span></div>
                    </td>
                </tr>

                <!-- Tài khoản chuyển -->
               <!-- <tr>
                    <td colspan="2" align="center" valign="middle" class="td-text">
                        <div class="input-group widefull" ng-click="showAccountSelection()">
                            <span class="input-group-addon" style="width:40%;white-space:pre-wrap">TRANS_PERIODIC_SOURCE_ACC_NO</span>
                            <input style="white-space:pre-wrap" id="id.accountno" type="button"
                                   class="form-control form-control-rightbutton" value=""/>
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                        </div>
                    </td>
                </tr> -->
                <tr>
                   <!-- <td id="account-info" colspan="2">
						<div class="input-group widefull">
                    </td>-->
                </tr>
                <tr>
                    <td id="account-info" colspan="2">
                        <div id="holder-account-info" class="combo-box info-account accInfo widefull" ng-click="showAccountSelection()">
                        </div>
                        <input id="id.accountno" type="hidden" class="form-control form-control-rightbutton" value="" />
                    </td>
                </tr>
                <!--<tr>
                    <td id="account-info" colspan="2">
						<div class="input-group widefull">
                    </td>
                </tr>-->
                <!-- Số dư khả dụng -->
                <!--<tr>
                    <td>
                        <div id="trans.sourceaccoutbalance">
                            <div class="availblstyle widefull"><span>COM_TXT_ACC_BALANCE_TITLE</span></div>
                        </div>
                    </td>
                </tr>-->

                <tr>
                    <td colspan="2">
                        <div class="header-title"><span>TRANS_TYPE_PAY_TAX_TITLE</span></div>
                    </td>
                </tr>

                <!-- loại thuế -->
                <tr>
                    <td align="center" valign="middle" class="td-text">
                        <div class="input-group widefull" ng-click="ShowTaxType()">
                            <span class="input-group-addon" style="width:40%">COM_TAX_TYPE</span>
                            <input id="id.taxType" type="button" ng-click="" class="form-control form-control-righttext"
                                   value=""/>
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                            <input type="hidden" id="id.taxTypeValue"/>
                        </div>
                    </td>
                </tr>

                <!-- Mã số thuế -->
                <tr id="tr.trans-other-acc">
                    <td align="center" valign="middle" class="td-text">
                        <div class="input-group widefull">
                            <span class="input-group-addon" style="width:40%">COM_TAX_NUMBER</span>
                            <div class="holder-input-none-icon">
                                <input id="trans.taxNum" type="tel" placeholder="COM_TXT_INPUT_PLACEHOLDER" value="" style="text-align: right; padding-right: 15px;" class="form-control form-control-righttext input-none-border" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" maxlength="30"/>
                                <span class="input-group-addon input-group-symbol"></span>
                                    <span ng-click="getTemplateTax();" id="span.trans.target"
                                              class="tooltip ic-book input-group-addon-datepicker input-group-symbol-datepicker"
                                              style="cursor:pointer;">
                                            <span style="text-align:center; font-size:14px;">
                                                <em id="ds_id"></em>
                                                <br/>
                                                <em id="mau_id"></em>
                                            </span>
                                    </span>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr id="tr.externalTax">
                    <td colspan="2">
                        <div class="header-title"><span>TRANS_TYPE_INFO_EXTERNAL_TAX</span></div>
                    </td>
                </tr>

                <!-- Số tờ khai -->
                <tr id="tr.taxNumDeclar">
                    <td align="center" valign="middle" class="td-text">
                        <div class="input-group widefull">
                            <span class="input-group-addon" style="width:40%">COM_DECLAR</span>
                            <div class="input-group-addon">
                                <input id="id.taxNumDeclar" type="tel" placeholder="COM_DECLAR_TRANS_TAX_INPUT_OR_EMPTY" value="" style="text-align: right; padding-right: 15px;" class="form-control form-control-righttext input-none-border" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" maxlength="20"/>
                                <span class="input-group-addon input-group-symbol"></span>
                            </div>
                        </div>
                    </td>
                </tr>

                <!-- Năm dky tờ khai -->
                <tr id="tr.taxYearDeclar">
                    <td align="center" valign="middle" class="td-text">
                        <div class="input-group widefull">
                            <span class="input-group-addon" style="width:40%">TRANS_TYPE_INFO_YEAR_OF_DECLAR</span>
                            <div class="input-group-addon">
                                <input id="id.taxYearDeclar" type="tel" placeholder="TRANS_TYPE_INFO_YEAR_OF_DECLAR_TRANS_TAX_INPUT_OR_EMPTY" value="" style="text-align: right; padding-right: 15px;" class="form-control form-control-righttext input-none-border" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" maxlength="4" onkeypress="return taxYearDeclarNumberKey(event);">
                                <span class="input-group-addon input-group-symbol"></span>
                            </div>
                        </div>
                    </td>
                </tr>

                <!--Thông tin nộp phí, lệ phí của bộ ngành -->
                <tr id="tr.taxInfoOrg">
                    <td colspan="2">
                        <div class="header-title"><span>K_TAX_INFO_ORGANIZATION</span></div>
                    </td>
                </tr>

                <!--Số hồ sơ-->
                <tr id="tr.taxNumberBrief">
                    <td align="center" valign="middle" class="td-text">
                        <div class="input-group widefull">
                            <span class="input-group-addon"
                                  style="white-space:pre-wrap; width:40%">K_TAX_TAX_NUMBER</span>
                            <input id="id.taxNumberBrief" type="tel" placeholder="COM_TXT_INPUT_PLACEHOLDER"
                                   class="form-control form-control-righttext"  maxlength="30"/>
                                   <span class="input-group-addon input-group-symbol"></span>
                    <span ng-click="getTemplateTax();" id="span.trans.target"
                          class="tooltip ic-book input-group-addon-datepicker input-group-symbol-datepicker"
                          style="cursor:pointer;">
                      <span style="text-align:center; font-size:14px;">
                        <em id="ds_id"></em>
                        <br/>
                        <em id="mau_id"></em>
                      </span>
                    </span>
                        </div>
                    </td>
                </tr>

                <!--Ký hiệu chứng từ-->
                <tr id="tr.taxSingnal">
                    <td align="center" valign="middle" class="td-text">
                        <div class="input-group widefull">
                            <span class="input-group-addon"
                                  style="white-space:pre-wrap; width:40%">K_TAX_SIGNAL_FILE</span>
                            <input id="id.taxSingnal" type="tel" class="form-control form-control-righttext"
                                   placeholder="COM_TXT_INPUT_PLACEHOLDER" maxlength="20"/>
                            <span class="input-group-addon input-group-symbol"></span>
                        </div>
                    </td>
                </tr>

                <!--Số chứng từ-->
                <tr id="tr.taxNumFiles">
                    <td align="center" valign="middle" class="td-text">
                        <div class="input-group widefull">
                            <span class="input-group-addon" style="width:40%">K_TAX_NUMBER_FILE</span>
                            <input id="id.taxNumFiles" type="tel" class="form-control form-control-righttext"
                                   placeholder="COM_TXT_INPUT_PLACEHOLDER" maxlength="10"
                                   onkeypress="return taxYearDeclarNumberKey(event);"/>
                            <span class="input-group-addon input-group-symbol"></span>
                        </div>
                    </td>
                </tr>

                <!--Mã đơn vị quản lý-->
                <tr id="tr.taxOrgCode">
                    <td align="center" valign="middle" class="td-text">
                        <div class="input-group widefull">
                            <span class="input-group-addon" style="white-space:pre-wrap; width:40%">K_TAX_ORGANIZATION_CODE</span>
                            <input id="id.taxOrgCode" type="tel" class="form-control form-control-righttext"
                                   placeholder="TRANS_TAX_INPUT_OR_EMPTY" maxlength="20"/>
                            <span class="input-group-addon input-group-symbol"></span>
                        </div>
                    </td>
                </tr>

                <!--Năm chứng từ-->
                <tr id="tr.taxOrgYear">
                    <td align="center" valign="middle" class="td-text">
                        <div class="input-group widefull">
                            <span class="input-group-addon" style="width:40%">K_TAX_ORGANIZATION_YEAR</span>
                            <input id="id.taxOrgYear" type="tel" class="form-control form-control-righttext"
                                   placeholder="TRANS_TAX_INPUT_OR_EMPTY" maxlength="4"
                                   onkeypress="return taxYearDeclarNumberKey(event);"/>
                            <span class="input-group-addon input-group-symbol"></span>
                        </div>
                    </td>
                </tr>

                <br/>
                <tr>
                    <td colspan="2">
                        <div class="tranfer-item" id="id.sample" style="display:none;">
                        </div>
                    </td>
                </tr>
                <tr class="mt-15">
                    <td colspan="2" align="center" valign="middle" class="td-text">
                        <div class="tdbtndesktop" style="width:50%">
                            <input type='submit' style="float:left;margin-left:65px"
                                   class='btnDesktopshadow btnDesktopBack' onClick='clickHomeOrBack()'
                                   value='INPUT_ACC_BTN_GOBACK'/>
                        </div>
                        <div style="width:50%">
                            <input type="button" style="margin-right:100px" class="btnshadow btn-second"
                                   id="id.button.query" ng-click="sendRequestToCustomer();" value="BTN_TAX_QUERY"/>
                        </div>
                    </td>
                </tr>
            </table>
            <br/>
        </div>
    </div>
</div>
<div id="selection-dialog" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" onClick="closeDialog(this)"></div>
    <div id="divListGroup" class="list-group dialog-list"></div>
</div>

<div id="selection-dialog-input" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" align="center" onClick="closeDialogInput(this)"></div>
    <div id="divListGroupInput" class="list-group dialog-list"></div>
</div>