<div id="mainViewContent" class="main-layout-subview" ng-controller="manager_add_temp_inter">
    <div class="">
        <div class="panelContent">
            <table id="dynamic-billing-table" width="100%">
                <tr>
                    <td>
                        <h5 class="screen-title"><span style="white-space:pre-wrap;">CONST_MANAGE_TRANS_TEMPLATE</span></h5>
                        <div class="line-separate" />
                    </td>
                </tr>


                <tbody>
                <tr>
                    <td colspan="2">
                        <h5 class="Header"><span style="white-space:pre-wrap">TRANSFER_REMITTANCE_DETAIL</span></h5>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center" valign="middle" class="td-text">
                        <div class="input-group">
                            <span class="input-group-addon" style="white-space:pre-wrap; width:40%">TRANSFER_REMITTANCE_NAMED</span>
                            <input id="id.international.manager.ben" type="hidden" value="">
                            <input id="id.international.manager.ben.value" type="hidden" value="TP">
                            <input id="id.international.manager.ben.inputname" type="text" class="form-control form-control-righttext" value="" placeholder="COM_TXT_INPUT_PLACEHOLDER" onkeyup="controlInputText(this,20,true)"/>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <h5 class="Header">
                            <span>INTERNATIONAL_PURPOSE_TRANS</span>
                        </h5>
                    </td>
                </tr>
                <!--Loại giao dịch-->
                <tr>
                    <td class="td-text" valign="middle" align="center" colspan="2">
                        <div class="input-group" >
                            <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">INTERNATIONAL_TRANS_TYPE</span>
                            <input id="id.international.transtype" class="form-control form-control-righttext" type="button" value="COM_TXT_SELECTION_PLACEHOLDER" ng-click="showInternationlTransType();">
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                            <input id="id.international.transtype.value" type="hidden" value="">
                        </div>
                    </td>
                </tr>
                <!--Mục đích-->
                <tr>
                    <td class="td-text" valign="middle" align="center" colspan="2">
                        <div class="input-group" >
                            <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">INTERNATIONAL_PURPOSE</span>
                            <span id="id.international.purpose" class="form-control form-control-righttext" style="height: auto !important;"  value="" ng-click="showInternationalPurpose();">COM_TXT_SELECTION_PLACEHOLDER</span>
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                            <input id="id.international.purpose.value" type="hidden" value="">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h5 class="Header">
                            <span>INTERNATIONAL_OFFEROR</span>
                        </h5>
                    </td>
                </tr>
                <!--Bên đề nghị-->
                <tr>
                    <td class="td-text" valign="middle" align="center" colspan="2">
                        <div class="input-group" >
                            <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">INTERNATIONAL_NAME_OFFEROR</span>
                            <input id="id.international.name.offeror" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" disabled>
                            <input id="id.international.name.offeror.value" type="hidden" value="">
                        </div>
                    </td>
                </tr>
                <!--Địa chỉ-->
                <tr>
                    <td class="td-text" valign="middle" align="center" colspan="2">
                        <div class="input-group" >
                            <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">INTERNATIONAL_ADDRESS_OFFEROR</span>
                            <input id="id.international.address.offeror" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" disabled>
                            <input id="id.international.address.offeror.value" type="hidden" value="">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h5 class="Header">
                            <span>INTERNATIONAL_BEN</span>
                        </h5>
                    </td>
                </tr>
                <!--Tên bên thụ hưởng-->
                <tr>
                    <td class="td-text" valign="middle" align="center" colspan="2">
                        <div class="input-group" >
                            <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">INTERNATIONAL_NAME_BEN</span>
                            <input id="id.international.name.ben" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" onchange="removeCharAnd(this)"  onkeyup="controlInputText(this, 150)">
                            <input id="id.international.name.ben.value" type="hidden" value="">
                        </div>
                    </td>
                </tr>
                <!--Địa chỉ-->
                <tr>
                    <td class="td-text" valign="middle" align="center" colspan="2">
                        <div class="input-group" >
                            <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">INTERNATIONAL_ADDRESS_BEN</span>
                            <input id="id.international.address.ben" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" onchange="removeCharAnd(this)" onkeyup="controlInputText(this, 150)">
                            <input id="id.international.address.ben.value" type="hidden" value="">
                        </div>
                    </td>
                </tr>
                <!--Quốc gia bên hụ hưởng-->
                <tr>
                    <td class="td-text" valign="middle" align="center" colspan="2">
                        <div class="input-group" >
                            <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">INTERNATIONAL_NATION_BEN</span>
                            <input id="id.international.nation.ben" class="form-control form-control-righttext" type="button" value="COM_TXT_SELECTION_PLACEHOLDER" ng-click="showInternationalNation();">
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                            <input id="id.international.nation.ben.value" type="hidden" value="">
                        </div>
                    </td>
                </tr>
                <!--Số tài khoản thụ hưởng-->
                <tr>
                    <td class="td-text" valign="middle" align="center" colspan="2">
                        <div class="input-group" >
                            <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">INTERNATIONAL_ACCOUNT_BEN</span>
                            <input id="id.international.account.ben" class="form-control form-control-righttext-datepicker" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" onchange="removeCharAnd(this)" onkeyup="controlInputText(this, 34)" maxlength="34">
                                <span id="span.trans.target" class="tooltip icon-book input-group-addon-datepicker input-group-symbol-datepicker" style="cursor:pointer;" ng-click="showPayeePage();">
                                    <span style="text-align:center; font-size:14px;">
                                        <em id="ds_id">{{dsThuHuong}}</em>
                                        <br />
                                        <em id="mau_id">{{mauThuHuong}}</em>
                                    </span>
                                </span>
                        </div>
                    </td>
                </tr>
                <!--Nội dung-->
                <tr>
                    <td class="td-text" valign="middle" align="center" colspan="2">
                        <div class="input-group" >
                            <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">INTERNATIONAL_CONTENT</span>
                            <input id="id.international.content" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" onchange="removeCharAnd(this)" onkeyup="controlInputText(this, 135)" maxlength="135">
                            <input id="id.international.content.value" type="hidden" value="">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h5 class="Header">
                            <span>INTERNATIONAL_THE_BEN_BANK</span>
                        </h5>
                    </td>
                </tr>
                <!--Phương thức chuyển-->
                <tr>
                    <td class="td-text" valign="middle" align="center" colspan="2">
                        <div class="input-group" >
                            <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">INTERNATIONAL_TRANS_METHOD</span>
                            <input id="id.international.trans.method" class="form-control form-control-righttext" type="button" value="COM_TXT_SELECTION_PLACEHOLDER" ng-click="showInternationalTransMethod();">
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                            <input id="id.international.trans.method.value" type="hidden" value="">
                        </div>
                    </td>
                </tr>
                <!--Nhập swift code-->
                <tr ng-show="transSwiftCode">
                    <td class="td-text" valign="middle" align="center" colspan="2">
                        <div class="input-group" >
                            <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">INTERNATIONAL_SWIFT_CODE</span>
                            <input id="id.international.swift.code" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" onchange="validateSwiftCode(this, 1)" onkeyup="controlInputText(this, 11)" maxlength="11">
                            <input id="id.international.swift.code.value" type="hidden" value="">
                        </div>
                    </td>
                </tr>
                <!--Tên ngân hàng thụ hưởng-->
                <tr>
                    <td class="td-text" valign="middle" align="center" colspan="2">
                        <div class="input-group" >
                            <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">INTERNATIONAL_THE_BEN_BANK_NAME</span>
                            <input id="id.international.ben.bank.name" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" onchange="removeCharAnd(this)" onkeyup="controlInputText(this, 150)" maxlength="150">
                            <input id="id.international.ben.bank.name.value" type="hidden" value="">
                        </div>
                    </td>
                </tr>
                <!--Địa chỉ ngân hàng thụ hưởng-->
                <tr ng-show="transAdderss">
                    <td class="td-text" valign="middle" align="center" colspan="2">
                        <div class="input-group" >
                            <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">INTERNATIONAL_ADRESS_BANK_BEN</span>
                            <input id="id.international.ben.bank.address" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT">
                            <input id="id.international.ben.bank.address.value" type="hidden" value="">
                        </div>
                    </td>
                </tr>
                <!--Quốc gia ngân hàng thụ hưởng-->
                <tr>
                    <td class="td-text" valign="middle" align="center" colspan="2">
                        <div class="input-group" >
                            <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">INTERNATIONAL_NAIION_BANK_BEN</span>
                            <input id="id.international.nation.bank.ben" class="form-control form-control-righttext" type="button" value="COM_TXT_SELECTION_PLACEHOLDER" ng-click="showInternationalNationBankBen()">
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                            <input id="id.international.nation.bank.ben.value" type="hidden" value="">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h5 class="Header">
                            <span>INTERNATIONAL_INTERMEDIARY_BANK</span>
                        </h5>
                    </td>
                </tr>
                <!--Ngân hàng  trung gian-->
                <tr>
                    <td class="td-text" valign="middle" align="center" colspan="2">
                        <div class="input-group" >
                            <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">INTERNATIONAL_INTERMEDIARY_BANK</span>
                            <input id="id.international.intermediary.bank" class="form-control form-control-righttext" type="button" value="COM_TXT_SELECTION_PLACEHOLDER" ng-click="showInternationalMediaryBank();">
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                            <input id="id.international.intermediary.bank.value" type="hidden" value="">
                        </div>
                    </td>
                </tr>
                <!--Phương thức chuyển NHTG-->
                <tr ng-show="transNHTG">
                    <td class="td-text" valign="middle" align="center" colspan="2">
                        <div class="input-group" >
                            <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">INTERNATIONAL_TRANS_METHOD_NHTG</span>
                            <input id="id.international.trans.method.NHTG" class="form-control form-control-righttext" type="button" value="COM_TXT_SELECTION_PLACEHOLDER" ng-click="showInternationalMediaryBankNHTG();">
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                            <input id="id.international.trans.method.value.NHTG" type="hidden" value="">
                        </div>
                    </td>
                </tr>
                <!--Nhập swift code NHTG-->
                <tr ng-show="transSwiftCodeNHTG && transNHTG">
                    <td class="td-text" valign="middle" align="center" colspan="2">
                        <div class="input-group" >
                            <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">INTERNATIONAL_SWIFT_CODE_NHTG</span>
                            <input id="id.international.swift.code.NHTG" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" onchange="validateSwiftCode(this, 2)" onkeyup="controlInputText(this, 11)">
                            <input id="id.international.swift.code.value.NHTG" type="hidden" value="">
                        </div>
                    </td>
                </tr>
                <!--Nhập tên NHTG-->
                <tr ng-show="transNHTG">
                    <td class="td-text" valign="middle" align="center" colspan="2">
                        <div class="input-group" >
                            <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">INTERNATIONAL_INTERMEDIARY_BANK_NAME</span>
                            <input id="id.international.name.NHTG" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" onchange="removeCharAnd(this)" onkeyup="controlInputText(this, 160)" >
                            <input id="id.international.name.value.NHTG" type="hidden" value="">
                        </div>
                    </td>
                </tr>
                <!--Nhập địa chỉ NHTG-->
                <tr ng-show="transAdderssNHTG && transNHTG">
                    <td class="td-text" valign="middle" align="center" colspan="2">
                        <div class="input-group" >
                            <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">INTERNATIONAL_INTERMEDIARY_BANK_ADDRESS</span>
                            <input id="id.international.address.NHTG" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" onchange="removeCharAnd(this)" onkeyup="controlInputText(this, 160)">
                            <input id="id.international.address.value.NHTG" type="hidden" value="">
                        </div>
                    </td>
                </tr>
                <!--quốc gia NHTG-->
                <tr ng-show="transNHTG">
                    <td class="td-text" valign="middle" align="center" colspan="2">
                        <div class="input-group" >
                            <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">INTERNATIONAL_NAIION_BANK_NHTG</span>
                            <input id="id.international.nation.NHTG" class="form-control form-control-righttext" type="button" value="COM_TXT_SELECTION_PLACEHOLDER" ng-click="showInternationalNationBankNHTG()">
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                            <input id="id.international.nation.value.NHTG" type="hidden" value="">
                        </div>
                    </td>
                </tr>
                <!--Quản lý thụ hưởng-->
                <!--<tr>-->
                    <!--<td class="td-text" valign="middle" align="center" colspan="2">-->
                        <!--<div class="input-group" >-->
                            <!--<span class="input-group-addon" style="width: 40%; white-space:pre-wrap">INTERNATIONAL_MANNAGER_BEN</span>-->
                            <!--<input id="id.international.manager.ben" class="form-control form-control-righttext" type="button" value="COM_TXT_SELECTION_PLACEHOLDER" ng-click="showInternationalInputMNG();">-->
                            <!--<span class="icon-movenext input-group-addon input-group-symbol"></span>-->
                            <!--<input id="id.international.manager.ben.value" type="hidden" value="">-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                <!--<tr ng-show="managerben">-->
                    <!--<td class="td-text" valign="middle" align="center" colspan="2">-->
                        <!--<div class="input-group" >-->
                            <!--<span class="input-group-addon" style="width: 40%; white-space:pre-wrap">INTERNATIONAL_INPUT_NO_SAMPLE</span>-->
                            <!--<input id="id.international.manager.ben.inputname" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" onkeyup="controlInputText(this, 135)" maxlength="135" >-->
                            <!--<input id="id.international.manager.ben.inputname.value" type="hidden" value="">-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                <tr class="trow-space"></tr>
                <tr>
                    <td colspan="2">
                        <table class="button-group button-group-3">
                            <tbody>
                            <tr>
                                <td>
                                    <button class="btnshadow btn-primary" type="button" value="Quay lại" ng-click="onAddClick()"><span>TRANSFER_REMITTANCE_ADD_TEMPLATE</span></button>
                                </td>
                                <td>
                                    <button class="btnshadow btn-primary" type="button" value="Quay lại" ng-click="onReInputClick()"><span>COM_REINPUT</span></button>
                                </td>
                                <td>
                                    <button class="btnshadow btn-primary" type="button" value="Tiếp tục" ng-click="onCancelClick()" ><span>BTN_CANCEL_TRANSACTION</span></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>
</div>
<div id="selection-dialog" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" onClick="closeDialog(this)"></div>
    <div id="divListGroup" class="list-group dialog-list"></div>
</div>
<div id="selection-dialog-input" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" align="center" onClick="closeDialogInput(this)">
    </div>
    <div id="divListGroupInput" class="list-group dialog-list"> </div>
</div>
