<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
<div id="mainViewContent" class="main-layout-subview" ng-controller="card-unlock">
    <div class="panelContent">
        <table id="id.screenTitle" width="100%">
            <tr>
                <td colspan="2">
                    <div id="seqFormLocal"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="tabContainer" class="tabContainer">
                        <div id="tabscontent">
                            <div id="tabpage_2">
                                <table width="100%" align="left" id="id.table2" style="margin-top:10px">
                                    <tr>
                                        <td colspan="2">
                                            <div class="notestyle">
                                                <span>OPEN_CARD_LOCK_NOTE</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="center" style="background: transparent;" valign="middle" class="td-text">
                                            <div class="input-group">
                                                <span class="input-group-addon" style="white-space:pre-wrap; width:40%;font-size: 12px;background:transparent;">CARD_LOCK_CARD_TITLE</span>
                                                <input id="open-card-lock-type" type="button" class="form-control form-control-rightbutton" value="COM_TXT_SELECTION_PLACEHOLDER" ng-click="ChoiceCardType()"  align="left" style=" font-size: 12px;background:transparent;border:none;" />
                                                <span class="icon-movenext input-group-addon input-group-symbol" style="background: transparent;"></span>
                                            </div>
                                            <div id = "id.open-card-lock-type" style="display:none" align="right" >
                                                <label type ="text" id="lbcard-lock-type" class="cssLineColor" style="margin-right:14px;"></label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="center" style="background: transparent;" valign="middle" class="td-text">
                                            <div class="input-group" style="margin-top: -3px;" ng-click="ChoiceCardNo()">
                                                <span class="input-group-addon" style="white-space:pre-wrap; width:40%;font-size: 12px;background:transparent">CARD_LOCK_CARD_NO_TITLE</span>
                                                <input id="open-card-lock-no" type="button" class="form-control form-control-rightbutton" value="COM_TXT_SELECTION_PLACEHOLDER" style="white-space:pre-wrap;font-size: 12px;border:none;background:transparent" />
                                                <span class="icon-movenext input-group-addon input-group-symbol" style="background: transparent;"></span>
                                            </div>
                                            <div id = "id.open-card-lock-no" style="display:none" align="right">
                                                <h6>
                                                    <label type ="text" id="lbcard-lock-no" class="cssLineColor"></label>
                                                </h6>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="trow-space"></tr>
                                    <tr>
                                        <td id="showNotice"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="center" valign="middle" class="td-text">
                                            <div class="tdbtndesktop" style="width:50%">
                                                <input  type='submit' style="float:left;margin-left:65px" class='btnDesktopshadow btnDesktopBack' onClick= 'clickHomeOrBack()' value='INPUT_ACC_BTN_GOBACK'/>
                                            </div>
                                            <div style="width:50%">
                                                <input  type="button" style="margin-right:100px" class="btnshadow btn-second"
                                                        ng-click="requestConfirmOpenCardLock()" value="CARD_UNLOCK_BTN_TITLE"/>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="trow-space"></tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="selection-dialog" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" align="center" onClick="closeDialog(this)"></div>
    <div id="divListGroup" class="list-group dialog-list"></div>
</div>
</body>
</html>