<div id="mainViewContent" class="main-layout-subview" ng-controller="cre_search_info" style="height: 417px; top:44px">
  <div class="bg-transfer">
    <div class="panelContent">
<table width='98%' align="center" class="desktopview" style="border-spacing: 0; margin-top:2%;">
    <tr class="tr-two-col">
        <td class="td-two-col">
            <div class="div-two-col borderbottom"><b><span>CRE_DEBT_DATE_FROM</span></b></div>
            <div class="div-two-col">
                <div class="input-group">
                    <input id="trans.debtStartdate" type="tel"
                           class="form-control form-control-righttext-datepicker"
                           placeholder="COM_TXT_SELECTION_PLACEHOLDER_DATE" value=""
                           onkeydown="return handleCalendarNav(this, event);"
                           onclick="handleCalendarNav(this, event);" onpaste="return false;"/>
                            <span onclick="initDialogCal('trans.debtStartdate')" id="begindate"
                                  class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker"></span>
                </div>
            </div>
        </td>
        <td class="td-two-col">
            <div class="div-two-col borderbottom"><b><span>COM_TO</span></b></div>
            <div class="div-two-col">
                <div class="input-group">
                    <input id="trans.debtEnddate" type="tel"
                           class="form-control form-control-righttext-datepicker"
                           placeholder="COM_TXT_SELECTION_PLACEHOLDER_DATE" value=""
                           onkeydown="return handleCalendarNav(this, event);"
                           onclick="handleCalendarNav(this, event);" onpaste="return false;"/>
                            <span onclick="initDialogCal('trans.debtEnddate')" id="begindate"
                                  class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker"></span>
                </div>
            </div>
        </td>
    </tr>
    <tr class="tr-two-col">
        <td class="td-two-col">
            <div class="div-two-col borderbottom"><b><span>CRE_EXPIRE_DATE_FROM</span></b></div>
            <div class="div-two-col">
                <div class="input-group">
                    <input id="trans.expireStartdate" type="tel"
                           class="form-control form-control-righttext-datepicker"
                           placeholder="COM_TXT_SELECTION_PLACEHOLDER_DATE" value=""
                           onkeydown="return handleCalendarNav(this, event);"
                           onclick="handleCalendarNav(this, event);" onpaste="return false;"/>
                            <span onclick="initDialogCal('trans.expireStartdate')" id="begindate"
                                  class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker"></span>
                </div>
            </div>
        </td>
        <td class="td-two-col">
            <div class="div-two-col borderbottom"><b><span>COM_TO</span></b></div>
            <div class="div-two-col">
                <div class="input-group">
                    <input id="trans.expireEnddate" type="tel"
                           class="form-control form-control-righttext-datepicker"
                           placeholder="COM_TXT_SELECTION_PLACEHOLDER_DATE" value=""
                           onkeydown="return handleCalendarNav(this, event);"
                           onclick="handleCalendarNav(this, event);" onpaste="return false;"/>
                            <span onclick="initDialogCal('trans.expireEnddate')" id="begindate"
                                  class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker"></span>
                </div>
            </div>
        </td>
    </tr>
    <tr class="tr-two-col">
        <td class="td-two-col">
            <div class="div-two-col borderbottom"><b><span>COM_TYPE_MONEY</span></b></div>
            <div class="div-two-col">
                <div class="input-group">
                    <input style="white-space:pre-wrap" ng-click="showTypeMoney()" id="cre_type_money"
                           type="button" class="form-control form-control-righttext"
                           placeholder="BENEFIC_LIST_NORMAL" value="COM_ALL"/>
                    <span class="icon-movenext input-group-addon input-group-symbol"></span>
                    <input type="hidden" id="cre_type_money_value" value='0'/>
                </div>
            </div>
        </td>
        <td class="td-two-col">
            <div class="div-two-col borderbottom"><b><span>CRE_ITEM_DEADLINE</span></b></div>
            <div class="div-two-col">
                <div class="input-group">
                    <input style="white-space:pre-wrap" ng-click="showTypeDeadline()" id="cre_type_deadline"
                           type="button" class="form-control form-control-righttext"
                           placeholder="BENEFIC_LIST_NORMAL" value="COM_ALL"/>
                    <span class="icon-movenext input-group-addon input-group-symbol"></span>
                    <input type="hidden" id="cre_type_deadline_value" value='0'/>
                </div>
            </div>
        </td>

    </tr>
    <tr class="tr-two-col">
        <td class="td-two-col">
            <div class="div-two-col borderbottom"><b><span>CRE_ITEM_TYPE_DEBT</span></b></div>
            <div class="div-two-col">
                <div class="input-group">
                    <input style="white-space:pre-wrap;" ng-click="showTypeDebt()" id="cre_debt_type"
                           type="button" class="form-control form-control-righttext"
                           placeholder="BENEFIC_LIST_NORMAL" value="CRE_ITEM_DEBT_DEFAULT"/>
                    <span class="icon-movenext input-group-addon input-group-symbol"></span>
                    <input type="hidden" id="cre_debt_type_value"/>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" align="center" valign="middle" class="td-text" style="padding-top: 20px;">
            <div class="" style="width:50%">
                <input type="button" style="float:left;margin-left:65px;margin-top: 10px;" class="btnDesktopshadow btnDesktopBack"
                       onclick="clickHomeOrBack()" value="CM_BTN_GOBACK">
            </div>
            <div style="width:50%">
                <input type="button" style="margin-right:100px; margin-top: 10px;" class="btnshadow btn-second"
                       ng-click="creDebtSearchInfo()" value="COM_BNTN_SEARCH">
            </div>
        </td>
    </tr>
</table>
<!-- Mobile -->
<table width='98%' align="center" class="mobileview">
    <tr>
        <td class="input-group">
            <div class="div-two-col">
                <b><span>CRE_DEBT_DATE_FROM</span></b>
            </div>
            <div class="div-two-col">
                <div>
                    <input id="trans.debtStartdatemb" type="tel"
                           class="form-control form-control-righttext-datepicker"
                           placeholder="COM_TXT_SELECTION_PLACEHOLDER_DATE" value=""
                           onkeydown="return handleCalendarNav(this, event);"
                           onclick="handleCalendarNav(this, event);" onpaste="return false;"/>
                            <span onclick="initDialogCal('trans.debtStartdatemb')" id="begindate"
                                  class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker">
                            </span>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="input-group">
            <div class="div-two-col"><b>
                <span>COM_TO</span></b>
            </div>
            <div class="div-two-col">
                <div>
                    <input id="trans.debtEnddatemb" type="tel"
                           class="form-control form-control-righttext-datepicker"
                           placeholder="COM_TXT_SELECTION_PLACEHOLDER_DATE" value=""
                           onkeydown="return handleCalendarNav(this, event);"
                           onclick="handleCalendarNav(this, event);" onpaste="return false;"/>
                            <span onclick="initDialogCal('trans.debtEnddatemb')" id="begindate"
                                  class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker">
                            </span>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="input-group">
            <div class="div-two-col"><b>
                <span>CRE_EXPIRE_DATE_FROM</span></b>
            </div>
            <div class="div-two-col">
                <div>
                    <input id="trans.expireStartdatemb" type="tel"
                           class="form-control form-control-righttext-datepicker"
                           placeholder="COM_TXT_SELECTION_PLACEHOLDER_DATE" value=""
                           onkeydown="return handleCalendarNav(this, event);"
                           onclick="handleCalendarNav(this, event);" onpaste="return false;"/>
                            <span onclick="initDialogCal('trans.expireStartdatemb')" id="begindate"
                                  class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker">
                            </span>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="input-group">
            <div class="div-two-col"><b>
                <span>COM_TO</span></b>
            </div>
            <div class="div-two-col">
                <div>
                    <input id="trans.expireEnddatemb" type="tel"
                           class="form-control form-control-righttext-datepicker"
                           placeholder="COM_TXT_SELECTION_PLACEHOLDER_DATE" value=""
                           onkeydown="return handleCalendarNav(this, event);"
                           onclick="handleCalendarNav(this, event);" onpaste="return false;"/>
                            <span onclick="initDialogCal('trans.expireEnddatemb')" id="begindate"
                                  class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker">
                            </span>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="input-group">
            <div class="div-two-col"><b>
                <span>COM_TYPE_MONEY</span></b>
            </div>
            <div class="div-two-col">
                <div class="input-group" style="border-bottom: none !important;">
                    <input style="white-space:pre-wrap" ng-click="showTypeMoney()" id="cre_type_moneymb"
                           type="button" class="form-control form-control-righttext"
                           placeholder="BENEFIC_LIST_NORMAL" value="COM_ALL"/>
                    <span class="icon-movenext input-group-addon input-group-symbol"></span>
                    <input type="hidden" id="cre_type_money_valuemb" value='0'/>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="input-group">
            <div class="div-two-col"><b>
                <span>CRE_ITEM_DEADLINE</span></b>
            </div>
            <div class="div-two-col">
                <div class="input-group" style="border-bottom: none !important;">
                    <input style="white-space:pre-wrap" ng-click="showTypeDeadline()" id="cre_type_deadlinemb"
                           type="button" class="form-control form-control-righttext"
                           placeholder="BENEFIC_LIST_NORMAL" value="COM_ALL"/>
                    <span class="icon-movenext input-group-addon input-group-symbol"></span>
                    <input type="hidden" id="cre_type_deadline_valuemb" value='0'/>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="input-group">
            <div class="div-two-col"><b>
                <span>CRE_ITEM_TYPE_DEBT</span></b>
            </div>
            <div class="div-two-col">
                <div class="input-group" style="border-bottom: none !important;">
                    <input style="white-space:pre-wrap;" ng-click="showTypeDebt()" id="cre_debt_typemb"
                           type="button" class="form-control form-control-righttext"
                           placeholder="BENEFIC_LIST_NORMAL" value="CRE_ITEM_DEBT_DEFAULT"/>
                    <span class="icon-movenext input-group-addon input-group-symbol"></span>
                    <input type="hidden" id="cre_debt_type_valuemb"/>
                </div>
            </div>
        </td>
    </tr>
    <br/>
    <tr>
        <td colspan="2" align="center" valign="middle" class="td-text">
            <div class="" style="width:50%">
                <input type="button" style="float:left;margin-left:65px;margin-top: 10px;" class="btnDesktopshadow btnDesktopBack"
                       onclick="clickHomeOrBack()" value="CM_BTN_GOBACK">
            </div>
            <div style="width:50%">
                <input type="button" style="margin-right:100px;margin-top: 10px;" class="btnshadow btn-second"
                       ng-click="creDebtSearchInfo()" value="COM_BNTN_SEARCH">
            </div>
        </td>
    </tr>
</table>

<br/>

<div id="tblContent" align="center" name="tblContent" class="colorBetweenDesktopAndMobile" style="overflow:auto;"></div>

<div id="pageIndicatorNums" style="text-align: right"/>
</div>
</div>
  </div>
<div id="selection-dialog" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" onClick="closeDialog(this)"></div>
    <div id="divListGroup" class="list-group dialog-list"></div>
</div>