<div id="mainViewContent" class="main-layout-subview" ng-controller="auth-guarantee" data-ng-init="sendJSONRequestSearch()">
    <div class="">
        <div class="panelContent">
            <table id="dynamic-billing-table" width="98%">
                <tr>
                    <td>
                        <div class="header-title">
                            <span>GUA_APPROVAL_TITLE_SEARCH</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-text" valign="middle" align="center">
                        <div class="input-group widefull">
                            <span class="input-group-addon" style="width:40%;white-space:pre-wrap">AUTHORIZE_TRANS_MENU</span>
                            <input id="id.trans-type" class="form-control form-control-righttext" type="button" value="GUA_TITLE" style="white-space:pre-wrap">
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td class="td-text" valign="middle" align="center">
                        <div class="input-group widefull" ng-click="showMakers()">
                            <span class="input-group-addon" style="width:40%">COM_MAKER</span>
                            <input id="id.maker" class="form-control form-control-righttext" type="button" value="COM_ALL">
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-text" valign="middle" align="center">
                        <div class="input-group widefull" ng-click="showTransStatusSelection()">
                            <span class="input-group-addon" style="width:40%; white-space:pre-wrap">COM_STATUS</span>
                            <input id="id.status" class="form-control form-control-righttext" type="button" value="COM_ALL" >
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-text" valign="middle" align="right">
                        <div class="input-group widefull">
                            <span class="input-group-addon" style="width:40%; white-space:pre-wrap">COM_START_DATE</span>
                            <input id="id.begindate" class="form-control form-control-righttext-datepicker" type="tel" onpaste="return false;" onclick="handleCalendarNav(this, event);" onkeydown="return handleCalendarNav(this, event);" value="" placeholder="dd/mm/yyyy" >
                            <span id="span.begindate" class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker" onclick="initDialogCal('id.begindate')"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-text" valign="middle" align="right">
                        <div class="input-group widefull">
                            <span class="input-group-addon" style="width:40%; white-space:pre-wrap">COM_TO_DATE</span>
                            <input id="id.enddate" class="form-control form-control-righttext-datepicker" type="tel" onpaste="return false;" onclick="handleCalendarNav(this, event);" value="" placeholder="dd/mm/yyyy" onkeydown="return handleCalendarNav(this, event);">
                            <span id="span.enddate" class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker" onclick="initDialogCal('id.enddate')"></span>
                        </div>
                    </td>
                </tr>
                <!-- <tr>
                    <td>
                        <span id="btn_search" class="btnshadow btn-second" type="button" ng-click="sendJSONRequestSearch()">COM_SEARCH</span>
                    </td>
                </tr> -->
                <tr class='trow-space'></tr>
                <tr>
                    <td colspan="2" align="center" valign="middle" class="td-text">
                        <div class="" style="width:50%">
                            <input type="button" style="float:left;margin-left:65px" class="btnDesktopshadow btnDesktopBack"
                                   onclick="clickHomeOrBack()" value="CM_BTN_GOBACK">
                        </div>
                        <div style="width:50%">
                            <input id="btn_search" type="button" style="margin-right:100px" class="btnshadow btn-second"
                                   ng-click="sendJSONRequestSearch()" value="COM_SEARCH">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div id="id.message"><span id="id.message.value"></span></div></td>
                </tr>
            </table>
            <br>
            <div id="id.searchResult" style="display: none">
                <div id="screenDesk" style="margin-top: 5px" class="desktopview">
                    <table width='96%' align='center' class='recycler-table-ebank'>
                        <tr class='recycler-row-title-header recycler-list'>
                            <td class="recycler-row-align-midle" width="7%"><span>COM_NO</span></td>
                            <td class="recycler-row-align-midle" width="13%"><span>COM_CREATED_DATE</span></td>
                            <td class="recycler-row-align-midle" width="15%"><span>GUA_AUTHORIZE_TRANS_TYPE</span></td>
                            <td class="recycler-row-align-midle" width="15%"><span>GUA_AMOUNT_GUARANTEE</span></td>
                            <td class="recycler-row-align-midle" width="12%"><span>GUA_STATUS</span></td>
                            <td class="recycler-row-align-midle" width="15%"><span>COM_CHEKER</span></td>
                            <td class="recycler-row-align-midle" width="20%"><span>COM_TRANS_CODE</span></td>
                        </tr>
                        <tr class="recycler-row-title recycler-list" ng-repeat="trans in currentListTrans track by $index">
                            <td class="recycler-row-align-midle" width="7%">
                                <div ng-bind="$index + 1"></div>
                            </td>
                            <td class="recycler-row-align-midle" width="13%">
                                <div style="white-space: pre-wrap;" ng-bind="trans.NGAY_LAP"></div>
                            </td>
                            <td class="recycler-row-align-midle" width="15%">
                                <div ng-bind="guaranteeType(trans.GUARANTEE_TYPE)"></div>
                            </td>
                            <td class="recycler-row-align-midle" width="15%">
                                <div ng-bind="trans.SO_LUONG"></div>
                            </td>
                            <td class="recycler-row-align-midle" width="12%">
                                <div ng-bind="status(trans.TRANG_THAI)"></div>
                            </td>
                            <td class="recycler-row-align-midle" width="15%">
                                <div ng-bind="trans.NGUOI_DUYET"></div>
                            </td>
                            <td class="recycler-row-align-midle" width="20%" >
                                <div>
                                    <a ng-click="showDetailTransaction(trans.MA_GD);" style="cursor:pointer;">
                                        <span class="no-check" ng-bind="trans.MA_GD"></span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div align="right" style="float: right; width:100%">
                        <div class="export-print" id="acchis.exportfile"  ng-click="exportExcelDebtHistory()" style="display: inline-block;float:right; cursor: pointer;">
                            <img style="margin: 10px;" src="css/img/exportfile.png" />
                        </div>
                    </div>
                </div>
                <div  ng-repeat="item in currentListTrans track by $index" class="recycler_table_ebank-mobile" >
                    <div id="recycler_list" class="recycler-list margin-bottom" ng-click="showDetailTransaction(item.MA_GD);">
                        <table id="recycler_table_ebank-mobile" class="recycler-table-ebank mobileview">
                            <tbody>
                            <tr class="recycler-row-parity">
                                <td class="recycler-row-align-midle-left"><span>COM_CREATED_DATE</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="item.NGAY_LAP"></span></td>
                            </tr>
                            <tr class="recycler-row-parity">
                                <td class="recycler-row-align-midle-left"><span>GUA_AUTHORIZE_TRANS_TYPE</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="guaranteeType(item.GUARANTEE_TYPE)"></span></td>
                            </tr>
                            <tr class="recycler-row-parity">
                                <td class="recycler-row-align-midle-left"><span>GUA_AMOUNT_GUARANTEE</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="item.SO_LUONG"></span></td>
                            </tr>
                            <tr class="recycler-row-parity">
                                <td class="recycler-row-align-midle-left"><span>GUA_STATUS</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="status(item.TRANG_THAI)"></span></td>
                            </tr>
                            <tr class="recycler-row-parity">
                                <td class="recycler-row-align-midle-left"><span>COM_CHEKER</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="item.NGUOI_DUYET"></span></td>
                            </tr>
                            <tr class="recycler-row-parity">
                                <td class="recycler-row-align-midle-left"><span>COM_TRANS_CODE</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="item.MA_GD"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<div id="selection-dialog" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" onClick="closeDialog(this)"></div>
    <div id="divListGroup" class="list-group dialog-list"></div>
</div>
<div id="selection-dialog-input" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" align="center" onClick="closeDialogInput(this)">
    </div>
    <div id="divListGroupInput" class="list-group dialog-list"> </div>
</div>
