<table id="dynamic-billing-table" width="100%">
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_VALUE_LC_UP_ROOT</span>
                <input id="id.release.value.lc.up.root" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" ng-model="requestlc.AMOUNT_OLD"  disabled>
                <input id="id.release.value.lc..up.value.root" type="hidden" value="">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_VALUE_LC_UP</span>
                <input id="id.release.value.lc.up" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" ng-model="requestlc.VAL_LC_INCREASE"  disabled>
                <input id="id.release.value.lc..up.value" type="hidden" value="">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_VALUE_LC_DOWN</span>
                <input id="id.release.value.lc.down" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" ng-model="requestlc.VAL_LC_REDUCE"  disabled>
                <input id="id.release.value.lc.down.value" type="hidden" value="">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_VALUE_LC_EDIT_AFTER</span>
                <input id="id.release.value.lc.edit" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" ng-model="requestlc.VAL_LC_MODIFY"  disabled>
                <input id="id.release.value.lc.edit.value" type="hidden" value="">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_BENEFICIARY</span>
                <input id="id.release.been" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" ng-model="requestlc.NAME_BENE" disabled>
                <input id="id.release.been.value" type="hidden" value="">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_BOOL_NEW</span>
                <input id="id.release.bool.new" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" ng-model="requestlc.POSITIVE_NEGATIVE" disabled>
                <input id="id.release.bool.new.value" type="hidden" value="">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_BOOL_OLD</span>
                <input id="id.release.bool.old" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" ng-model="requestlc.POSITIVE_NEGATIVE_OLD" disabled>
                <input id="id.release.bool.old.value" type="hidden" value="">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_RATE</span>
                <input id="id.release.rate" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" ng-model="requestlc.RATE" disabled>
                <input id="id.release.rate.value" type="hidden" value="">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_ADJOURN_EFFICIENCY</span>
                <input id="id.release.efficiency" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" ng-model="requestlc.expiry_date" disabled>
                <input id="id.release.rate.efficiency" type="hidden" value="">
            </div>
        </td>
    </tr>
    <!--<tr>-->
    <!--<td class="td-text" valign="middle" align="center" colspan="2">-->
    <!--<div class="input-group widefull">-->
    <!--<span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_ADJOURN_SHIP</span>-->
    <!--<input id="id.release.ship" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" ng-model="requestlc.shipment_date" disabled>-->
    <!--<input id="id.release.rate.ship" type="hidden" value="">-->
    <!--</div>-->
    <!--</td>-->
    <!--</tr>-->
    <tr>
        <td colspan="2">
            <div class="header-title">
                <span>REQUEST_RELEASE_LC_ESCROW</span>
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_ESCROW_AMOUNT_UP</span>
                <input id="id.release.escrow.amount.up" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" ng-model="requestlc.MARGIN_LC_INCREASE" disabled>
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_ESCROW_ACCOUNT</span>
                <input id="id.release.escrow.account" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" ng-model="requestlc.MARGIN_ACCOUNT" disabled>
            </div>
        </td>
    </tr>
    <!--<tr>-->
    <!--<td class="td-text" valign="middle" align="center" colspan="2">-->
    <!--<div class="input-group widefull">-->
    <!--<span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_ESCROW_AMOUNT</span>-->
    <!--<input id="id.release.escrow.amount" class="form-control form-control-righttext" type="text" value="" ng-model="requestlc.ESCROW" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" disabled>-->
    <!--<input id="id.release.escrow.amount.value" type="hidden" value="">-->
    <!--</div>-->
    <!--</td>-->
    <!--</tr>-->
    <tr>
        <td colspan="2">
            <div class="header-title">
                <span>REQUEST_RELEASE_LC_TITLE_FEE</span>
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_EDIT_ELECTRONIC_FEE</span>
                <input id="id.release.electronic.fee" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" ng-model="requestlc.ELECTRIC_FEE" disabled>
                <input id="id.release.electronic.fee.value" type="hidden" value="">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_EDIT_FEE_UP_LC</span>
                <input id="id.release.edit.up.fee" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" ng-model="requestlc.ISSUANCE_FEE" disabled>
                <input id="id.release.edit.up.fee.value" type="hidden" value="">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_EXPRISE_FEE_LC</span>
                <input id="id.release.fee" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" ng-model="requestlc.EXTEND_FEE" disabled>
                <input id="id.release.fee.value" type="hidden" value="">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_EDIT_FEE_OTHER</span>
                <input id="id.release.fee.other" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" ng-model="requestlc.MODIFY_FEE" disabled>
                <input id="id.release.fee.other.value" type="hidden" value="">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_TOTAL_FEE</span>
                <input id="id.release.fee.total" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" ng-model="requestlc.TOTAL_FREE" disabled>
                <input id="id.release.fee.total.value" type="hidden" value="">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_METHOD_FEE</span>
                <input id="id.release.method.fee" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" ng-model="requestlc.methodFee" disabled>
                <input id="id.release.method.fee.value" type="hidden" value="">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_ACCOUNT_FEE</span>
                <input id="id.release.account.fee" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" ng-model="requestlc.FREE_ACCOUNT" disabled>
                <input id="id.release.account.fee.value" type="hidden" value="">
            </div>
        </td>
    </tr>
    <!--<tr>-->
    <!--<td class="td-text" valign="middle" align="center" colspan="2">-->
    <!--<div class="input-group widefull">-->
    <!--<span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_AMOUNT_FEE</span>-->
    <!--<input id="id.release.amount.fee" class="form-control form-control-righttext" type="text" value="" ng-model="requestlc.TOTAL_FREE" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" disabled>-->
    <!--<input id="id.release.amount.fee.value" type="hidden" value="">-->
    <!--</div>-->
    <!--</td>-->
    <!--</tr>-->
    <tr class="trow-space"></tr>
    <tr>
        <td>
            <div class="desktopview">
                <table class="recycler-table-ebank" width="100%" align="center">
                    <tbody>
                    <tr class="recycler-row-title-header recycler-list">
                        <td class="recycler-row-align-midle-left" width="70%"><span>REQUEST_RELEASE_LC_PROFILE_FULL</span></td>
                        <td class="recycler-row-align-midle-left" width="30%"><span>REQUEST_RELEASE_LC_PROFILE_SIZE</span></td>
                    </tr>
                    <tr class="recycler-row-title recycler-list" ng-repeat="item in listProfile">
                        <td class="recycler-row-align-midle-left"><a style="cursor:pointer;" ng-click="onClickViewPDF(item.url_return)"><span class="no-check" ng-bind="item.name"></span></a></td>
                        <td class="recycler-row-align-midle-left"><div ng-bind="(item.size/1024/1024|number:2) + ' MB'"></div></td>
                    </tr>
                    <tr class="recycler-row-title recycler-list">
                        <td colspan="2" class="recycler-row-align-midle-left"><span ng-bind="'Ghi chú của Khách hàng: ' + requestlc.noteProfile"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
</table>