<table id="dynamic-billing-table" width="100%">
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_VALUE_LC</span>
                <input id="id.release.value.lc" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" ng-model="requestlc.AMOUNT"  disabled>
                <input id="id.release.value.lc.value" type="hidden" value="">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_BENEFICIARY</span>
                <input id="id.release.been" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" ng-model="requestlc.NAME_BENE" disabled>
                <input id="id.release.been.value" type="hidden" value="">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_BOOL</span>
                <input id="id.release.bool" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" ng-model="requestlc.POSITIVE_NEGATIVE" disabled>
                <input id="id.release.bool.value" type="hidden" value="">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_RATE</span>
                <input id="id.release.rate" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" ng-model="requestlc.RATE" disabled>
                <input id="id.release.rate.value" type="hidden" value="">
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="header-title">
                <span>REQUEST_RELEASE_LC_ESCROW</span>
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_ESCROW_ACCOUNT</span>
                <input id="id.release.escrow.account" class="form-control form-control-righttext" type="text" value="" ng-model="requestlc.MARGIN_ACCOUNT" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" disabled>
                <input id="id.release.escrow.account.value" type="hidden" value="">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_ESCROW_AMOUNT</span>
                <input id="id.release.escrow.amount" class="form-control form-control-righttext" type="text" value="" ng-model="requestlc.MARGIN_LC_AMOUNT" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" disabled>
                <input id="id.release.escrow.amount.value" type="hidden" value="">
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="header-title">
                <span>REQUEST_RELEASE_LC_TITLE_FEE</span>
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_ELECTRONIC_FEE</span>
                <input id="id.release.electronic.fee" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" ng-model="requestlc.ELECTRIC_FEE" disabled>
                <input id="id.release.electronic.fee.value" type="hidden" value="">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_FEE</span>
                <input id="id.release.fee" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" ng-model="requestlc.ISSUANCE_FEE" disabled>
                <input id="id.release.fee.value" type="hidden" value="">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_TOTAL_FEE</span>
                <input id="id.release.totalfee" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" ng-model="requestlc.TOTAL_FREE" disabled>
                <input id="id.release.totalfee.value" type="hidden" value="">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_METHOD_FEE</span>
                <input id="id.release.method.fee" class="form-control form-control-righttext" type="text" value="" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" ng-model="requestlc.METHOD_FEE" disabled>
                <input id="id.release.method.fee.value" type="hidden" value="">
            </div>
        </td>
    </tr>
    <tr>
        <td class="td-text" valign="middle" align="center" colspan="2">
            <div class="input-group widefull">
                <span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_ACCOUNT_FEE</span>
                <input id="id.release.account.fee" class="form-control form-control-righttext" type="text" value="" ng-model="requestlc.FREE_ACCOUNT" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" disabled>
                <input id="id.release.account.fee.value" type="hidden" value="">
            </div>
        </td>
    </tr>
    <!--<tr>-->
        <!--<td class="td-text" valign="middle" align="center" colspan="2">-->
            <!--<div class="input-group widefull">-->
                <!--<span class="input-group-addon" style="width: 40%; white-space:pre-wrap">REQUEST_RELEASE_LC_AMOUNT_FEE</span>-->
                <!--<input id="id.release.amount.fee" class="form-control form-control-righttext" type="text" value="" ng-model="requestlc.TOTAL_FREE" placeholder="INTERNATIONAL_PLACEHOLDER_INPUT" disabled>-->
                <!--<input id="id.release.amount.fee.value" type="hidden" value="">-->
            <!--</div>-->
        <!--</td>-->
    <!--</tr>-->
    <tr class="trow-space"></tr>

    <tr>
        <td>
            <div class="desktopview">
                <table class="recycler-table-ebank widefull" width="100%" align="center">
                    <tbody>
                    <tr class="recycler-row-title-header recycler-list">
                        <td class="recycler-row-align-midle" width="6%"><span>COM_NO</span></td>
                        <td class="recycler-row-align-midle" width="33%"><span>REQUEST_RELEASE_LC_PROFILE_FULL</span></td>
                        <td class="recycler-row-align-midle" width="15%"><span>REQUEST_RELEASE_LC_PROFILE_SIZE</span></td>
                        <td class="recycler-row-align-midle" width="6%"></td>
                    </tr>
                    <tr class="recycler-row-title recycler-list" ng-repeat="item in listProfile">
                        <td class="recycler-row-align-midle" width="6%"><div ng-bind="$index + 1"></div></td>
                        <td class="recycler-row-align-midle-left"><div ng-bind="item.name"></div></td>
                        <td class="recycler-row-align-midle" nowrap><div ng-bind="(item.size/1024/1024|number:2) + ' MB'"></div></td>
                        <td nowrap class="recycler-row-align-midle">
                            <div  style="word-break: break-all;">
                                <span type="button" ng-click="onClickViewPDF(item.url_return)" style="color: red; cursor: pointer"><strong><span>INTERNATIONAL_VIEW_PROFILE</span></strong></span>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
    <tr class="recycler-row-title recycler-list">
        <td colspan="2" class="recycler-row-align-midle-left"><span ng-bind="'Ghi chú của Khách hàng: ' + requestlc.noteProfile"></span></td>
    </tr>
    <!--<tr>
        <td>
            <div class="desktopview">
                <table class="recycler-table-ebank " width="100%" align="center">
                    <tbody>
                    <tr class="recycler-row-title-header recycler-list">
                        <td class="recycler-row-align-midle-left" width="70%"><span>REQUEST_RELEASE_LC_PROFILE_FULL</span></td>
                        <td class="recycler-row-align-midle-left" width="30%"><span>REQUEST_RELEASE_LC_PROFILE_SIZE</span></td>
                    </tr>
                    <tr class="recycler-row-title recycler-list" ng-repeat="item in listProfile">
                        <td class="recycler-row-align-midle-left"><a style="cursor:pointer;" ng-click="onClickViewPDF(item.url_return)"><span class="no-check" ng-bind="item.name"></span></a></td>
                        <td class="recycler-row-align-midle-left"><div ng-bind="(item.size/1024/1024|number:2) + ' MB'"></div></td>
                    </tr>
                    <tr class="recycler-row-title recycler-list">
                        <td colspan="2" class="recycler-row-align-midle-left"><span ng-bind="'Ghi chú của Khách hàng: ' + requestlc.noteProfile"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>-->
</table>