
<link rel="stylesheet" href="./assets/libs/angularjs/jquery.fileupload.css" type="text/css"/>

<div id="mainViewContent" class="main-layout-subview" ng-controller="request-release-lc" nv-file-drop="" uploader="uploader" filters="queueLimit, customFilter, pdfFilter">
    <div class="bg-transfer">
        <div class="panelContent" >
        <table class="tableTab">
                <td class='content-periodic selected'>
                    <span>COM_MAKE_TRANS</span>
                    <span class="content-span"></span>
                </td>
                <td ng-click="changTab()" class='content-periodic'>
                    <span>TRANS_PERIODIC_MNG_TITLE</span>
                    <span class="content-span"></span>
                </td>
            </table>
            <table width="100%" style="padding-top:15px;" align="center" class="">
                <tr>
                    <td>
                        <div class="header-title">
                            <span>REQUEST_RELEASE_TITLE_TEMPLATE_LC</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="width: 98%; border: 1px solid rgb(209, 183, 224); height: 80px;position: relative;float: right;">
                            <div style="width: 50%;height: 80px;float: left; cursor: pointer" ng-click="downloadPDFTemplate()">
                                <div align="center" style="width: 100%;height: 60px;padding-top: 10px">
                                    <em style="color:#aca667; font-size: 40px" class="icon-LC"></em>
                                </div>
                                <div align="center" style="width: 100%;height: 20px; border-top: 1px solid rgb(209, 183, 224);">
                                    <span style="text-align: center">Mẫu đề nghị phát hành LC</span>
                                </div>
                            </div>
                            <div style="width: 50%;height: 80px;float: left; cursor: pointer" ng-click="downloadPDFTemplateEdit()">
                                <div align="center" style="width: 100%;height: 60px;padding-top: 10px" >
                                    <em style="color:#aca667;font-size: 40px" class="icon-Tu-Chinh-LC"></em>
                                </div>
                                <div align="center" style="width: 100%;height: 20px; border-top: 1px solid rgb(209, 183, 224);">
                                    <span style="text-align: center">Mẫu đề nghị tu chỉnh LC</span>
                                </div>
                            </div>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="header-title">
                            <span>REQUEST_RELEASE_TITLE_NOTE_LC</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td valign="middle" align="center">
                        <div style="width: 98%; height: 120px;position: relative;border: dotted 1px rgb(209, 183, 224);float: right;">
                            <div id="upfileContent">
                                <em style="color:#00bfff; font-size: 40px" class="icon-Upload"></em>
                                <span class="form-control" style="height: 24px; font-weight:bold">REQUEST_RELEASE_DROPFILE_UPLOAD</span>
                                <span class="fileinput-button form-control" style="width: 33%; padding-top: 8px; border: solid 1px #fb8c00; border-radius:20px;color: #fb8c00">
                                    <span>REQUEST_RELEASE_TITLE_BUTTON_SELECT_FILE</span>
                                    <input type="file" name="file" nv-file-select="" uploader="uploader" multiple  />
                                </span>
                            </div>
                            <div class="uploadfile-content" align="center" id="textupfile" >
                                <span ng-bind="textprofile"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <!--<tr class="trow-space"></tr>-->
                <!--<tr>-->
                    <!--<td>-->
                        <!--<div class="">-->
                            <!--<table class="desktopview recycler-table-ebank " width="100%" align="center">-->
                                <!--<tbody>-->
                                <!--<tr class="recycler-row-normal recycler-header-hightlight">-->
                                    <!--<td class="recycler-row-align-midle-left" width="6%"><span>COM_NO</span></td>-->
                                    <!--<td class="recycler-row-align-midle-left" width="33%"><span>INTERNATIONAL_PROFILE_NAME</span></td>-->
                                    <!--<td class="recycler-row-align-midle-left" width="15%" ng-show="uploader.isHTML5"><span>INTERNATIONAL_PROFILE_SIZE</span></td>-->
                                    <!--<td class="recycler-row-align-midle-left" width="6%"></td>-->
                                <!--</tr>-->
                                <!--<tr class="recycler-row-normal recycler-hover" ng-repeat="item in uploader.queue">-->
                                    <!--<td class="recycler-row-align-midle-left" width="6%"><div ng-bind="$index + 1"></div></td>-->
                                    <!--<td class="recycler-row-align-midle-left"><div ng-bind="item.file.name"></div></td>-->
                                    <!--<td class="recycler-row-align-midle-left" ng-show="uploader.isHTML5" nowrap><div ng-bind="(item.file.size/1024/1024|number:2) + ' MB'"></div></td>-->
                                    <!--<td nowrap>-->
                                        <!--<div class="recycler-row-align-midle-left" style="word-break: break-all;">-->
                                            <!--<span type="button" ng-click="removeFile(item, $index)" style="color: red; cursor: pointer"><strong><span>INTERNATIONAL_REMOVE_PROFILE</span></strong></span>-->
                                        <!--</div>-->
                                    <!--</td>-->
                                <!--</tr>-->
                                <!--</tbody>-->
                            <!--</table>-->
                            <!--<table style="margin-top:10px" ng-repeat="item in uploader.queue" width='100%' align='center' class='recycler-hover recycler-list mobileview'>-->
                                <!--<tr>-->
                                    <!--<td class="recycler-row-align-midle-left"><div><span>COM_NO</span></div></td>-->
                                    <!--<td class="recycler-row-align-midle-right"><div><span style="word-break: break-all;" ng-bind="$index + 1"></span></div></td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td class="recycler-row-align-midle-left"><div><span>INTERNATIONAL_PROFILE_NAME</span></div></td>-->
                                    <!--<td class="recycler-row-align-midle-right"><div><span style="word-break: break-all;" ng-bind="item.file.name"></span></div></td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td class="recycler-row-align-midle-left"><div><span>INTERNATIONAL_PROFILE_SIZE</span></div></td>-->
                                    <!--<td class="recycler-row-align-midle-right" ng-show="uploader.isHTML5" nowrap><div><span style="word-break: break-all;" ng-bind="(item.file.size/1024/1024|number:2) + ' MB'"></span></div></td>-->
                                <!--</tr>-->
                                <!--<tr ng-show="inMoblie">-->
                                    <!--<td class="recycler-row-align-midle-left"><div><span></span></div></td>-->
                                    <!--<td class="recycler-row-align-midle-right" nowrap>-->
                                        <!--<div><span style="word-break: break-all;" type="button" style="color: red; cursor: pointer" ng-click="removeFile(item, $index)">-->
                                            <!--<strong><span>INTERNATIONAL_REMOVE_PROFILE</span></strong>-->
                                        <!--</span></div>-->
                                    <!--</td>-->
                                <!--</tr>-->
                            <!--</table>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                <tr class="trow-space"></tr>
            </table>
            <table width="100%" style="padding-top: 10px">
                <tr >
                    <!--<td class="tdbtndesktop" width="32%"><input type="button" style="width:100%;margin:0 auto" class="btnshadow btnDesktopBack" onclick="onCancelClick()" value="COM_CANCEL"></td>-->
                    <!--<td width="32%" id="trCancel"><input type="button" style="background-color: rgba(162, 100, 187, 0.51);border-radius: 20px;width:100%" class="btnshadow btn-primary" onclick="clickHomeOrBack()" value="COM_BACK" ></td>-->
                    <td width="32%"><input type="button" class="btnshadow btn-second-ringht" ng-click="uploadFile()" value="COM_CONTINUE" ></td>
                </tr>
            </table>
        </div>
    </div>
</div>
