<div id="mainViewContent" class="main-layout-subview" ng-controller="request-release-lc-review">
    <div class="bg-transfer">
        <div class="panelContent">
            <div ng-include="src"></div>
            <table width="100%" style="padding-top: 10px">
                <tr class="trow-space"></tr>
                <tr align="center">
                    <td class="tdbtndesktop" width="32%"><input type="button" style="width:100%;margin:0 auto" class="btnDesktopshadow btnDesktopBack" onclick="clickHomeOrBack()" value="COM_BACK"></td>
                    <td width="32%" id="trCancel"><input type="button" style="background-color: rgba(162, 100, 187, 0.51);border-radius: 20px;width:100%" class="btnshadow btn-primary" ng-click="onCancelClick()" value="COM_CANCEL" ></td>
                    <td width="32%"><input style="width:100%" type="button" class="btnshadow btn-second" ng-click="onContinuteClick()" value="COM_CONTINUE" ></td>
                </tr>
            </table>
            <!--<table id="dynamic-billing-table" width="100%">-->
                <!--<tr class="trow-space"></tr>-->
                <!--<tr class="mt-15">-->
                    <!--<td colspan="2" align="center" valign="middle" class="td-text">-->
                        <!--<div class="tdbtndesktop" style="width:50%">-->
                            <!--<input type="submit" style="float:left;margin-left:65px" class="btnDesktopshadow btnDesktopBack" onclick="clickHomeOrBack()" value="CM_BTN_GOBACK" >-->
                        <!--</div>-->
                        <!--<div style="width:50%">-->
                            <!--<input type="button" id="btnNext" style="margin-right:100px" class="btnshadow btn-second" ng-click="onContinuteClick()" value="COM_CONTINUE" />-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</table>-->
        </div>
    </div>
</div>
<div id="selection-dialog" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" onClick="closeDialog(this)"></div>
    <div id="divListGroup" class="list-group dialog-list"></div>
</div>
<div id="selection-dialog-input" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" align="center" onClick="closeDialogInput(this)">
    </div>
    <div id="divListGroupInput" class="list-group dialog-list"> </div>
</div>


