<table  ng-repeat="item in listPending track by $index" class="recycler-table-ebank mobileview recycler-list margin-bottom" width="98%" align="center">
    <tbody>
    <tr class="recycler-row-normal">
        <td class="recycler-row-align-midle-left"><span>COM_CREATED_DATE</span></td>
        <td class="recycler-row-align-midle-right"><span ng-bind="item.NGAY_LAP"></span></td>
    </tr>
    <tr class="recycler-row-normal">
        <td class="recycler-row-align-midle-left"><span>COM_ACCOUNT_DEST</span></td>
        <td class="recycler-row-align-midle-right"><span ng-bind="item.TK_NHAN"></span></td>
    </tr>
    <tr class="recycler-row-normal">
        <td class="recycler-row-align-midle-left"><span>COM_RECEIVE_NAME</span></td>
        <td class="recycler-row-align-midle-right"><span ng-bind="item.NGUOI_NHAN"></span></td>
    </tr>
    <tr class="recycler-row-normal">
        <td class="recycler-row-align-midle-left"><span>COM_AMOUNT</span></td>
        <td class="recycler-row-align-midle-right"><span ng-bind="item.SO_TIEN"></span></td>
    </tr>
    <tr class="recycler-row-normal">
        <td class="recycler-row-align-midle-left"><span>COM_CHEKER</span></td>
        <td class="recycler-row-align-midle-right"><span ng-bind="item.NGUOI_DUYET"></span></td>
    </tr>
    <tr class="recycler-row-normal">
        <td class="recycler-row-align-midle-left"><span>COM_TRANS_CODE</span></td>
        <td class="recycler-row-align-midle-right"><span ng-bind="item.MA_GD"></span></td>
    </tr>
    </tbody>
</table>