<div id="mainViewContent" class="main-layout-subview" ng-controller="manager_international_trans" data-ng-init="searchTransaction()">
    <div class="">
        <div class="panelContent">
            <table class="tableTab" id="periodic-table" ng-show={{showElement}}>
                <td ng-click="changeTab()" class='content-periodic'>
                    <span>TRANS_PERIODIC_TRADE_TITLE</span>
                    <span class="content-span"></span>
                </td>
                <td class='content-periodic selected'>
                    <span>TRANS_PERIODIC_MNG_TITLE</span>
                    <span class="content-span"></span>
                </td>
            </table>
            <table width="100%" style="border-spacing: 0; margin-left: 4%;" class="desktopview">
                <tr class="tr-two-col">
                <!-- Loại giao dịch -->
                    <td class="td-two-col">
                        <div class="div-two-col borderbottom"><b><span>AUTHORIZE_TRANS_MENU</span></b></div>
                        <div class="div-two-col">
                            <div class="input-group">
                                <input style="white-space:pre-wrap" ng-click="showTransTypeSelection()" id="id.trans-type"
                                       type="button" class="form-control form-control-righttext" value="COM_ALL"/>
                                <span class="icon-movenext input-group-addon input-group-symbol"></span>
                            </div>
                        </div>
                    </td>
                <!-- mã giao dịch -->
                    <td class="td-two-col">
                        <div class="div-two-col borderbottom"><b><span>COM_TRANS_CODE</span></b></div>
                        <div class="div-two-col">
                            <div class="input-group">
                                <input style="white-space:pre-wrap" id="id.trans.code"
                                       type="tel" style="font-size: 15px;"  class="form-control form-control-righttext" value="" placeholder="COM_TXT_INPUT_PLACEHOLDER" onkeyup="removeChar(event, this, 20)" />
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="tr-two-col">
                <!-- Trạng thái  -->
                    <td class="td-two-col">
                        <div class="div-two-col borderbottom"><b><span>COM_STATUS</span></b></div>
                        <div class="div-two-col">
                            <div class="input-group">
                                <input style="white-space:pre-wrap;" ng-click="showTransStatusSelection()" id="id.status"
                                       type="button" class="form-control form-control-righttext"
                                      value="COM_ALL"/>
                                <span class="icon-movenext input-group-addon input-group-symbol"></span>
                            </div>
                        </div>
                    </td>
                <!-- Ngày bắt đầu -->
                    <td class="td-two-col">
                        <div class="div-two-col borderbottom"><b><span>COM_START_DATE</span></b></div>
                        <div class="div-two-col">
                            <div class="input-group">
                                <input id="fromDate" type="tel"
                                       class="form-control form-control-righttext-datepicker"
                                       placeholder="COM_TXT_SELECTION_PLACEHOLDER_DATE" value=""
                                       onkeydown="return handleCalendarNav(this, event);"
                                       onclick="handleCalendarNav(this, event);" onpaste="return false;"/>
                                        <span onclick="initDialogCal('fromDate')" id="begindate"
                                              class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="tr-two-col">
                <!-- nguời lập -->
                    <td class="td-two-col">
                        <div class="div-two-col borderbottom"><b><span>COM_MAKER</span></b></div>
                        <div class="div-two-col">
                            <div class="input-group">
                                <input style="white-space:pre-wrap" ng-click="showMakers()" id="id.maker"
                                       type="button" class="form-control form-control-righttext"
                                        value="COM_ALL"/>
                                <span class="icon-movenext input-group-addon input-group-symbol"></span>
                            </div>
                        </div>
                    </td>
                <!-- Ngày kết thúc -->
                    <td class="td-two-col">
                        <div class="div-two-col borderbottom"><b><span>COM_TO_DATE</span></b></div>
                        <div class="div-two-col">
                            <div class="input-group">
                                <input id="toDate" type="tel"
                                       class="form-control form-control-righttext-datepicker"
                                       placeholder="COM_TXT_SELECTION_PLACEHOLDER_DATE" value=""
                                       onkeydown="return handleCalendarNav(this, event);"
                                       onclick="handleCalendarNav(this, event);" onpaste="return false;"/>
                                        <span onclick="initDialogCal('toDate')" id="enddate"
                                              class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker"></span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
            <!-- Mobile -------------------------------------------------------->
            <table width='98%' align="center" class="mobileview">
                <tr ng-show={{showElement}} class="trow-space"></tr>
                <!-- Loại giao dịch -->
                <tr>
                    <td class="input-group">
                        <div class="div-two-col"><b>
                            <span>AUTHORIZE_TRANS_MENU</span></b>
                        </div>
                        <div class="div-two-col">
                            <div class="input-group" style="border-bottom: none !important;">
                                <input style="white-space:pre-wrap" ng-click="showTransTypeSelection()" id="id.trans-typemb"
                                       type="button" class="form-control form-control-righttext"
                                       placeholder="BENEFIC_LIST_NORMAL" value="COM_ALL"/>
                                <span class="icon-movenext input-group-addon input-group-symbol"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- trạng thái -->
                <tr>
                    <td class="input-group">
                        <div class="div-two-col"><b>
                            <span>COM_STATUS</span></b>
                        </div>
                        <div class="div-two-col">
                            <div class="input-group" style="border-bottom: none !important;">
                                <input style="white-space:pre-wrap" ng-click="showTransStatusSelection()" id="id.statusmb"
                                       type="button" class="form-control form-control-righttext"
                                       placeholder="BENEFIC_LIST_NORMAL" value="COM_ALL"/>
                                <span class="icon-movenext input-group-addon input-group-symbol"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- người lập  -->
                <tr>
                    <td class="input-group">
                        <div class="div-two-col"><b>
                            <span>COM_MAKER</span></b>
                        </div>
                        <div class="div-two-col">
                            <div class="input-group" style="border-bottom: none !important;">
                                <input style="white-space:pre-wrap;" ng-click="showMakers()" id="id.makermb"
                                       type="button" class="form-control form-control-righttext"
                                       placeholder="BENEFIC_LIST_NORMAL" value="COM_ALL"/>
                                <span class="icon-movenext input-group-addon input-group-symbol"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- mã giao dịch -->
                <tr>
                    <td class="input-group">
                        <div class="div-two-col"><b>
                            <span>COM_TRANS_CODE</span></b>
                        </div>
                        <div class="div-two-col">
                            <div class="input-group" style="border-bottom: none !important;">
                                <input style="white-space:pre-wrap;"  id="id.trans.codemb"
                                       type="tel" style="font-size: 15px;" class="form-control form-control-righttext"
                                      placeholder="COM_TXT_INPUT_PLACEHOLDER" onkeyup="removeChar(event, this, 20)"  value=""/>
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- Ngày bắt đầu -->
                <tr>
                    <td class="input-group">
                        <div class="div-two-col">
                            <b><span>COM_START_DATE</span></b>
                        </div>
                        <div class="div-two-col">
                            <div>
                                <input id="fromDatemb" type="tel"
                                       class="form-control form-control-righttext-datepicker"
                                       placeholder="COM_TXT_SELECTION_PLACEHOLDER_DATE" value=""
                                       onkeydown="return handleCalendarNav(this, event);"
                                       onclick="handleCalendarNav(this, event);" onpaste="return false;"/>
                                        <span onclick="initDialogCal('fromDatemb')" id="begindate"
                                              class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker">
                                        </span>
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- Ngày kết thúc -->
                <tr>
                    <td class="input-group">
                        <div class="div-two-col"><b>
                            <span>COM_TO_DATE</span></b>
                        </div>
                        <div class="div-two-col">
                            <div>
                                <input id="toDatemb" type="tel"
                                       class="form-control form-control-righttext-datepicker"
                                       placeholder="COM_TXT_SELECTION_PLACEHOLDER_DATE" value=""
                                       onkeydown="return handleCalendarNav(this, event);"
                                       onclick="handleCalendarNav(this, event);" onpaste="return false;"/>
                                        <span onclick="initDialogCal('toDatemb')" id="begindate"
                                              class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker">
                                        </span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
			<table width='98%' align="center">
				<tr class="trow-space"></tr>
				<tr>
					<td colspan="2" align="center" valign="middle" class="td-text">
						<div class="" style="width:50%">
							<input type="button" style="float:left;margin-left:47px" class="btnDesktopshadow btnDesktopBack"
								   onclick="clickHomeOrBack()" value="CM_BTN_GOBACK">
						</div>
						<div style="width:50%">
							<input type="button" style="margin-right:10px; " class="btnshadow btn-second"
								   ng-click="searchTransaction()" value="COM_BNTN_SEARCH">
						</div>
					</td>
				</tr>
				<tr>
					<td><div id="id.message"><span id="id.message.value"></span></div></td>
				</tr>
			</table>
            <div id="id.searchResult" style="display: none">
                    <table width='98%' align='center' class='recycler-table-ebank desktopview'>
                        <tr class='recycler-row-title-header recycler-list'>
                            <td width="7%" class='recycler-row-align-midle'><span>COM_NO</span></td>
                            <td width="13%" class='recycler-row-align-midle'><span>COM_CREATED_DATE</span></td>
                            <td width="15%" class='recycler-row-align-midle'><span>COM_TAX_AMOUNT</span></td>
                            <td width="15%" class='recycler-row-align-midle'><span>COM_RECEIVER</span></td>
                            <td width="12%" class='recycler-row-align-midle'><span>COM_STATUS</span></td>
                            <td width="15%" class='recycler-row-align-midle'><span>COM_CHEKER</span></td>
                            <td width="12%" class='recycler-row-align-midle'><span>COM_TRANS_CODE</span></td>
                            <td width="15%" class='recycler-row-align-midle' ng-show={{showElement}}><span>INTERNATIONAL_FULL_DOCUMENTATION</span></td>
                        </tr>
                        <tr class="recycler-row-title recycler-list" ng-repeat="trans in currentListTrans track by $index">
                            <td class="recycler-row-align-midle"><span ng-bind="$index + 1"></span></td>

                            <td class="recycler-row-align-midle"><span ng-bind="trans.NGAY_LAP"></span></td>

                            <td class="recycler-row-align-midle"><span ng-bind="(trans.SO_LUONG | currency : '' : 2) + ' '+ trans.LOAI_TIEN"></span></td>

                            <td class="recycler-row-align-midle"><span ng-bind="trans.NGUOI_NHAN"></span></td>

                            <td class="recycler-row-align-midle"><span ng-bind="statusVN[trans.TRANG_THAI]"></span></td>

                            <td class="recycler-row-align-midle"><span ng-bind="trans.NGUOI_DUYET"></span></td>

                            <td class="recycler-row-align-midle"><a ng-click="showDetailTransaction(trans.INITIAIDFCATREF, trans.TRANG_THAI);" style="cursor:pointer;">
                                        <span class="no-check" ng-bind="trans.INITIAIDFCATREF"></span>
                                    </a></td>
                            <td class="recycler-row-align-midle" ng-show={{showElement}}>
                                <a width="15%">
                                    <div class="content-detail">
                                        <a ng-show="(trans.TRANSACTIONTYPE === 'IMT01' && trans.PURPOSE === 'IPHH01') ? true : false" style="cursor:pointer;">
                                            <span ng-show="(trans.TRANG_THAI == 'REH' || trans.TRANG_THAI == 'RBS' || trans.TRANG_THAI == 'RJS' || trans.TRANG_THAI == 'RES') ? true : false" ng-click="additionalDocuments(trans);">INTERNATIONAL_ADDITIONAL</span>
                                        </a>

                                        <a ng-show="(trans.TRANSACTIONTYPE === 'IMT01' && trans.PURPOSE === 'IPHH01') ? true : false"  style="cursor:pointer;">
                                            <span ng-show="(trans.TRANG_THAI == 'ABH' || trans.TRANG_THAI == 'APS' || trans.TRANG_THAI == 'IBS' || trans.TRANG_THAI == 'SBS') ? true : false " ng-click="cancelAdditionalProfile(trans);">INTERNATIONAL_ADDITIONAL_DETAIL</span>
                                            <!--<span ng-show="() ? true : false " ng-click="cancelAdditionalProfile(trans);">INTERNATIONAL_ADDITIONAL_DETAIL</span>-->
                                        </a>
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </table>
						<table  ng-repeat="trans in currentListTrans track by $index" class="recycler-table-ebank mobileview recycler-list margin-bottom" width="98%" align="center">
                            <tr class="recycler-row-parity">
                                <td class="recycler-row-align-midle-left"><span>COM_NO</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="$index + 1"></span></td>
                            </tr>
                            <tr class="recycler-row-normal">
                                <td class="recycler-row-align-midle-left"><span>COM_CREATED_DATE</span></td>
                                <td class="recycler-row-align-midle-right"><span style="word-break: break-all;" ng-bind="trans.NGAY_LAP"></span></td>
                            </tr>
                            <tr class="recycler-row-normal">
                                <td class="recycler-row-align-midle-left"><span>COM_TAX_AMOUNT</span></td>
                                <td class="recycler-row-align-midle-right"><span style="word-break: break-all;" ng-bind="(trans.SO_LUONG | currency : '' : 2) + ' '+ trans.LOAI_TIEN"></span></td>
                            </tr>
                            <tr class="recycler-row-normal">
                                <td class="recycler-row-align-midle-left"><span>COM_RECEIVER</span></td>
                                <td class="recycler-row-align-midle-right"><span style="word-break: break-all;" ng-bind="trans.NGUOI_NHAN"></span></td>
                            </tr>
                            <tr class="recycler-row-normal">
                                <td class="recycler-row-align-midle-left"><span>COM_APPROVE_STATUS</span></td>
                                <td class="recycler-row-align-midle-right"><span style="word-break: break-all;" ng-bind="statusVN[trans.TRANG_THAI]"></span></td>
                            </tr>
                            <tr class="recycler-row-normal">
                                <td class="recycler-row-align-midle-left"><span>COM_CHEKER</span></td>
                                <td class="recycler-row-align-midle-right"><span style="word-break: break-all;" ng-bind="trans.NGUOI_DUYET"></span></td>
                            </tr>
                            <tr class="recycler-row-normal">
                                <td class="recycler-row-align-midle-left"><span>COM_TRANS_CODE</span></td>
                                <td class="recycler-row-align-midle-right"><a ng-click="showDetailTransaction(trans.INITIAIDFCATREF, trans.TRANG_THAI);" style="cursor:pointer;">
                                        <span class="no-check" ng-bind="trans.INITIAIDFCATREF"></span>
                                    </a></td>
                            </tr>
                            <tr class="recycler-row-normal" ng-show={{showElement}}>
                                <td class='recycler-row-align-midle-left' ng-show={{showElement}}><span>INTERNATIONAL_FULL_DOCUMENTATION</span></td>
                                <td class="recycler-row-align-midle-right" ng-show={{showElement}}>
                                <a>
                                    <div class="content-detail" style="word-break: break-all">
                                        <a ng-show="(trans.TRANSACTIONTYPE === 'IMT01' && trans.PURPOSE === 'IPHH01') ? true : false" style="cursor:pointer;">
                                            <span ng-show="(trans.TRANG_THAI == 'REH' || trans.TRANG_THAI == 'RBS' || trans.TRANG_THAI == 'RJS' || trans.TRANG_THAI == 'RES') ? true : false" ng-click="additionalDocuments(trans);">INTERNATIONAL_ADDITIONAL</span>
                                        </a>

                                        <a ng-show="(trans.TRANSACTIONTYPE === 'IMT01' && trans.PURPOSE === 'IPHH01') ? true : false"  style="cursor:pointer;">
                                            <span ng-show="(trans.TRANG_THAI == 'ABH' || trans.TRANG_THAI == 'APS' || trans.TRANG_THAI == 'IBS' || trans.TRANG_THAI == 'SBS') ? true : false " ng-click="cancelAdditionalProfile(trans);">INTERNATIONAL_ADDITIONAL_DETAIL</span>
                                            <!--<span ng-show="() ? true : false " ng-click="cancelAdditionalProfile(trans);">INTERNATIONAL_ADDITIONAL_DETAIL</span>-->
                                        </a>
                                    </div>
                                </a>
                            </td>
                            </tr>
                        </table>
                    <div align="right" style="float: right; width:100%; display: none;">
                        <div class="export-print" id="acchis.exportfile" onclick="exportExcelDebtHistory()" style="display: inline-block;float:right; cursor: pointer;">
                            <img style="margin-top: 20px; margin-right:10px; margin-bottom: 20px;" src="css/img/exportfile.png" />
                        </div>
                        <div id="pageIndicatorNums" style="text-align: right; display: inline-block;" />
					</div>	
				</div>
				<div id="acc-pagination" style="text-align: right">
					<ul class="pagination" id="paging">
						<li ng-repeat="i in arrPage" ng-click="changePage(i)" id="page_{{$index + 1}}" ><span>{{i}}</span></li>
					</ul>
				</div>	
        </div>
    </div>
</div>

<div id="selection-dialog" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" onClick="closeDialog(this)"></div>
    <div id="divListGroup" class="list-group dialog-list"></div>
</div>
<div id="selection-dialog-input" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" align="center" onClick="closeDialogInput(this)">
    </div>
    <div id="divListGroupInput" class="list-group dialog-list"> </div>
</div>