<div id="recycler_list">
    <table id="recycler_table_ebank-desktop" class="recycler-table-ebank">
        <tbody>
        <tr class='recycler-row-title-header recycler-list'>
            <td width="7%" class="recycler-row-align-midle-left"><span>COM_NO</span></td>
            <td width="14%" class="recycler-row-align-midle-left"><span>COM_CREATED_DATE</span></td>
            <td  class="recycler-row-align-midle-left"><span>COM_ACCOUNT_DEST</span></td>
            <td  class="recycler-row-align-midle-left"><span>COM_RECEIVE_NAME</span></td>
            <td  class="recycler-row-align-midle-left"><span>COM_AMOUNT</span></td>
            <td  class="recycler-row-align-midle-left"><span>COM_CHEKER</span></td>
            <td width="20%" class="recycler-row-align-midle-left"><span>COM_TRANS_CODE</span></td>
            <!--<td  class="recycler-row-align-midle"><input type="checkbox" onclick="selectAllRow('recycler_table_ebank-desktop', 'recycler_table_ebank-mobile', this)" name="parent_0"></td>-->
            <!--<td width="50%" class="recycler-row-align-midle-left"><span>AUTHORIZE_TRANS_TIT_COUNT_PENDING</span></td>-->
        </tr>
        <tr class="recycler-row-title recycler-list" ng-repeat="item in listPending track by $index">
            <td  class="recycler-row-align-midle-left"><span ng-bind="$index + 1"></span></td>
            <td  class="recycler-row-align-midle-left"><span ng-bind="item.DATMAKE"></span></td>
            <td  class="recycler-row-align-midle-left"><span ng-bind="item.PASSPORT"></span></td>
            <td  class="recycler-row-align-midle-left"><span ng-bind="item.TEN_NGUOI_NHAN"></span></td>
            <td  class="recycler-row-align-midle-left"><span ng-bind="item.NUMAMOUNT | currency : '' : 0"></span></td>
            <td  class="recycler-row-align-midle-left"><span ng-bind="item.NGUOI_DUYET"></span></td>
            <td  class="recycler-row-align-midle-left" ng-click="goToViewScreen(item.IDFCATREF)"><span ng-bind="item.IDFCATREF"></span></td>
            <!--<td  class="recycler-row-align-midle"><input class="trans.checkbox" type="checkbox" onclick="deSelectRow('recycler_table_ebank-desktop', 'recycler_table_ebank-mobile', this)" name="{{item.MA_GD}}"></td>-->
        </tr>
        </tbody>
    </table>
</div>