<div id="mainViewContent" class="main-layout-subview" ng-controller="identification-trans-auth-src">
    <div class="bg-transfer">
        <div class="panelContent">
            <table width="100%">

                <tr>
                    <td>
                        <h5 class="header-title"><span>TRANSFER_REMITTANCE_FINDING</span></h5>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center" valign="middle" class="td-text">
                        <div class="input-group" ng-click="showTransTypeSelection()">
                            <span class="input-group-addon" style="white-space:pre-wrap; width:40%">COM_TYPE_TRANSACTION</span>
                            <input id="id-trans-local" type="button" class="form-control form-control-righttext" style="white-space: pre-wrap;" align="left" value="AUTHORIZE_TRANS_TIT_T20" />
                            <input id="id-trans-local-value" type="hidden" class="form-control form-control-righttext" style="white-space: pre-wrap;" align="left" value="AUTHORIZE_TRANS_TIT_T20" />
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="middle" class="td-text">
                        <div class="input-group" ng-click="showMakerSelection()">
                            <span class="input-group-addon" style="width:40%">COM_MAKER</span>
                            <input id="maker" type="button" onclick="" class="form-control form-control-righttext" value="COM_ALL" />
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                            <input type='hidden' id='makerVal'/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center" valign="middle" class="td-text">
                        <div class="input-group" ng-click="showStatusSelection()">
                            <span class="input-group-addon" style="width:40%; white-space:pre-wrap">TRANS_PERIODIC_MNG_STT</span>
                            <input id="status" type="button" class="form-control form-control-righttext" value="COM_ALL" />
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                            <input type='hidden' id='statusVal'/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center" valign="middle">
                        <div class="input-group">
                            <span class="input-group-addon" style="width:40%; white-space:pre-wrap">COM_START_DATE</span>
                            <input id="trans.begindate" type="tel" class="form-control form-control-righttext-datepicker" placeholder="COM_TXT_SELECTION_PLACEHOLDER_DATE" value="" onkeydown="return handleCalendarNav(this, event);" onclick="handleCalendarNav(this, event);" onpaste="return false;" />
                            <span onclick="initDialogCal('trans.begindate')" id="span.begindate" class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center" valign="middle">
                        <div class="input-group">
                            <span class="input-group-addon" style="width:40%; white-space:pre-wrap">COM_TO_DATE</span>
                            <input id="trans.enddate" type="tel" class="form-control form-control-righttext-datepicker" placeholder="COM_TXT_SELECTION_PLACEHOLDER_DATE" value="" onkeydown="return handleCalendarNav(this, event);" onclick="handleCalendarNav(this, event);" onpaste="return false;" />
                            <span onclick="initDialogCal('trans.enddate')" id="span.enddate" class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker"></span>
                        </div>
                    </td>
                </tr>
                <tr class="trow-space"></tr>
                <tr class='trow-default'>
                    <td colspan="2" align="center" valign="middle" class="td-text" >
                        <div class="tdbtndesktop" style="width:50%">
                            <input  type='submit' style="float:left;margin-left:65px" class='btnDesktopshadow btnDesktopBack' onClick= 'clickHomeOrBack()' value='INPUT_ACC_BTN_GOBACK'/>
                        </div>
                        <div style="width:50%">
                            <input id="btn_search" type="button" ng-click="sendJSONRequest()" style="margin-right:100px" class="btnshadow btn-second" value="TRANS_PERIODIC_BTN_SRCH"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div id="id.message"><span id="id.message.value"></span></div></td>
                </tr>
            </table>
            <div id="id.searchResult" style="display: none">
                    <table width='98%' align='center' class='recycler-table-ebank desktopview' id='recycler_table_ebank-desktop' >
                        <tr class='recycler-row-title-header recycler-list'>
                            <td class="recycler-row-align-midle" width="7%"><span>COM_NO</span></td>
                            <td class="recycler-row-align-midle" width="14%"><span>COM_CREATED_DATE</span></td>
                            <td class="recycler-row-align-midle" width="12%"><span>COM_ACCOUNT_DEST</span></td>
                            <td class="recycler-row-align-midle" width="14%"><span>COM_RECEIVE_NAME</span></td>
                            <td class="recycler-row-align-midle" width="14%"><span>COM_AMOUNT</span></td>
                            <td class="recycler-row-align-midle" width="14%"><span>COM_CHEKER</span></td>
                            <td class="recycler-row-align-midle" width="20%"><span>COM_TRANS_CODE</span></td>
                            <td class="recycler-row-align-midle" width="4%">
                                <input type="checkbox" onclick="selectAllRow('recycler_table_ebank-desktop', 'recycler_table_ebank-mobile', this)" name="parent_0">
                            </td>
                        </tr>
                        <tr class="recycler-row-title recycler-list" ng-repeat="trans in listPending track by $index">
                            <td  class="recycler-row-align-midle"><span ng-bind="$index + 1"></span></td>
                            <td  class="recycler-row-align-midle"><span ng-bind="trans.DATMAKE"></span></td>
                            <td  class="recycler-row-align-midle"><span ng-bind="trans.PASSPORT"></span></td>
                            <td  class="recycler-row-align-midle"><span ng-bind="trans.TEN_NGUOI_NHAN"></span></td>
                            <td  class="recycler-row-align-midle"><span ng-bind="(trans.NUMAMOUNT | currency : '' : 0) + ' VND'"></span></td>
                            <td  class="recycler-row-align-midle"><span ng-bind="trans.NGUOI_DUYET"></span></td>
                            <td  class="recycler-row-align-midle"><a ng-click="goToViewScreen(trans.IDFCATREF)" style="cursor:pointer;"><span class="no-check" ng-bind="trans.IDFCATREF"></span></a></td>
                            <td class="recycler-row-align-midle">
                                <input class="trans.checkbox" type="checkbox"  onclick="deSelectRow('recycler_table_ebank-desktop', 'recycler_table_ebank-mobile', this)" name="{{trans.IDFCATREF}}">
                            </td>
                        </tr>
                    </table>
                <!--mobile view-->
                <table  ng-repeat="item in listPending track by $index" class="recycler-table-ebank mobileview recycler-list margin-bottom" width='98%' align='center' id="recycler_table_ebank-mobile">
                    <tbody>
                    <tr class="recycler-row-normal">
                        <td class="recycler-row-align-midle-left"><span>COM_CREATED_DATE</span></td>
                        <td class="recycler-row-align-midle-right"><span ng-bind="item.DATMAKE"></span></td>
                    </tr>
                    <tr class="recycler-row-normal">
                        <td class="recycler-row-align-midle-left"><span>COM_ACCOUNT_DEST</span></td>
                        <td class="recycler-row-align-midle-right"><span ng-bind="item.PASSPORT"></span></td>
                    </tr>
                    <tr class="recycler-row-normal">
                        <td class="recycler-row-align-midle-left"><span>COM_RECEIVE_NAME</span></td>
                        <td class="recycler-row-align-midle-right"><span ng-bind="item.TEN_NGUOI_NHAN"></span></td>
                    </tr>
                    <tr class="recycler-row-normal">
                        <td class="recycler-row-align-midle-left"><span>COM_AMOUNT</span></td>
                        <td class="recycler-row-align-midle-right"><span ng-bind="(item.NUMAMOUNT | currency : '' : 0) + ' VND'"></span></td>
                    </tr>
                    <tr class="recycler-row-normal">
                        <td class="recycler-row-align-midle-left"><span>COM_CHEKER</span></td>
                        <td class="recycler-row-align-midle-right"><span ng-bind="item.NGUOI_DUYET"></span></td>
                    </tr>
                    <tr class="recycler-row-normal">
                        <td class="recycler-row-align-midle-left"><span>COM_TRANS_CODE</span></td>
                        <td class="recycler-row-align-midle-right"><a ng-click="goToViewScreen(item.IDFCATREF);"><span ng-bind="item.IDFCATREF"></span></a></td>
                    </tr>
                    <tr class="recycler-row-normal">
                        <td class="recycler-row-align-midle-left"><span>COM_CHOOSE</span></td>
                        <td nowrap class="recycler-row-align-midle-right">
                            <input class="trans.checkbox" type="checkbox" onclick="deSelectRow('recycler_table_ebank-desktop', 'recycler_table_ebank-mobile', this)" name="{{trans.IDFCATREF}}">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!--mobile end-->
                    <div align="right" style="float: right; width:100%">
                        <div class="export-print ex-print" id="acchis.exportfile" onclick="exportExcelDebtHistory()" style="display: inline-block;float:right; cursor: pointer;">
                            <img style="margin: 10px;" src="css/img/exportfile.png" />
                        </div>
                    </div>
            </div>
            <div class="tranfer-item">

            </div>
            <table width="100%" align="center">
                <tr>
                    <td>
                        <div class="tranfer-item" style="border-bottom: solid 1px rgb(209, 183, 224); border-top: solid 1px rgb(209, 183, 224);">
                            <div class="text-area-content" id="holder-transfer-message">
                                <div class="bg-text-area">
                                    <div class="holderIcon">
                                        <div style="display:table;width: 100%;height:100%"><span style="display:table-cell;vertical-align: middle;text-align: center;font-size:24px!important" class="icon-content-note"></span></div>
                                    </div>
                                    <div class="holder-txtarea" style="border-left: solid 1px rgb(209, 183, 224);">

                                        <textarea onkeyup="controlInputText2(this, 240);" class="area" style="padding-left: 5px;" id="trans.reason" placeholder="COM_AUTH_DENIAL_REASON" maxlength="250"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="trow-space"></tr>
                <tr class='trow-default'>
                    <td colspan="2" align="center" valign="middle" class="td-text" >
                        <div style="width:50%" class='isDesktop-left'>
                            <input  type='button' class='btnshadow rejectTrans' ng-click="rejectTransaction()" value='COM_REJ'/>
                        </div>
                        <div style="width:50%" class='isDesktop-right'>
                            <input type="button" ng-click="authorizeTransaction()" style="margin-right:100px" class="btnshadow btn-second" value="COM_AUTH"/>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="holder-bottom-bar">

        </div>
        <div class="mobilemode" id="dialog-container">

        </div>
    </div>
</div>
<div id="selection-dialog" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" onClick="closeDialog(this)"> </div>
    <div id="divListGroup" class="list-group dialog-list"> </div>
</div>
<!--ThuanTM -->
<div id="selection-dialog-input" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" align="center" onClick="closeDialogInput(this)">
    </div>
    <div id="divListGroupInput" class="list-group dialog-list"> </div>
</div>