<div id="mainViewContent" class="main-layout-subview" ng-controller ="request-release-LC-detail">
    <div class="panelContent">
        <table width="100%"  align="center">
            <tr>
                <td colspan="2">
                    <div class="header-title">
                        <span>REQUEST_RELEASE_LC_INFO_SYSTEM</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="recycler-list">
                        <table width='100%' align='center' class='recycler-table-ebank'>
                            <tr class="recycler-row-normal">
                                <td class="recycler-row-align-midle-left"><span>COM_TRANS_CODE</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="infoTrans.MA_GD" ></span></td>
                            </tr>
                            <tr class="recycler-row-normal">
                                <td class="recycler-row-align-midle-left"><span>NGUOI_NHAP</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="infoTrans.NGUOI_NHAP" ></span></td>
                            </tr>
                            <tr class="recycler-row-normal">
                                <td class="recycler-row-align-midle-left"><span>TIME_INPUT_DETAIL_LC</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="infoTrans.NGAY_LAP" ></span></td>
                            </tr>
                            <tr class="recycler-row-normal">
                                <td class="recycler-row-align-midle-left"><span>COM_CHEKER</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="infoTrans.NGUOI_DUYET" ></span></td>
                            </tr>
                            <tr class="recycler-row-normal">
                                <td class="recycler-row-align-midle-left"><span>TIME_CHECK</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="infoTrans.NGAY_DUYET" ></span></td>
                            </tr>
                            <tr class="recycler-row-normal">
                                <td class="recycler-row-align-midle-left"><span>COM_STATUS</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="statusVN[infoTrans.TRANG_THAI]" ></span></td>
                            </tr>
                            <tr class="recycler-row-normal" ng-show="(infoTrans.TRANG_THAI == 'RSA') ? true : false" >
                                <td class="recycler-row-align-midle-left"><span>TPB_REASON_CANCEL</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="infoTrans.LY_DO_TU_CHOI" ></span></td>
                            </tr>
                            <tr class="recycler-row-normal" ng-show="(infoTrans.TRANG_THAI == 'REJ') ? true : false" >
                                <td class="recycler-row-align-midle-left"><span>REASON_CANCEL</span></td>
                                <td width="70%" class="recycler-row-align-midle-right"><span ng-bind="infoTrans.LY_DO_TU_CHOI" ></span></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="header-title">
                        <span>COM_TRASACTION_INFO</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="recycler-list">
                        <table width='100%' align='center' class='recycler-table-ebank'>
                            <tr class="recycler-row-normal">
                                <td class="recycler-row-align-midle-left"><span>REQUEST_RELEASE_LC_METHOD</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="typeTrans[infoTrans.LOAI_GD]" ></span></td>
                            </tr>
                            <tr class="recycler-row-normal" ng-show="(infoTrans.LOAI_GD == 'P') ? true: false">
                                <td class="recycler-row-align-midle-left"><span>REQUEST_RELEASE_VALUE_LC</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="infoTrans.giaTriLC" ></span>&nbsp;<span ng-bind="infoTrans.CCY"></span></td>
                            </tr>
                            <tr class="recycler-row-normal" ng-show="(infoTrans.LOAI_GD == 'T') ? true: false">
                                <td class="recycler-row-align-midle-left"><span>REQUEST_RELEASE_VALUE_LC_EDIT_AFTER</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="infoTrans.giaTriLCThayDoi" ></span>&nbsp;<span ng-bind="infoTrans.CCY"></span></td>
                            </tr>
                            <tr class="recycler-row-normal">
                                <td class="recycler-row-align-midle-left"><span>REQUEST_RELEASE_LC_BOOL</span></td>
                                <td class="recycler-row-align-midle-right"><div>Positive/Negative:&nbsp;+ <span ng-bind="infoTrans.DUNG_SAI_TANG"></span><span>%</span>/-<span ng-bind="infoTrans.DUNG_SAI_GIAM" ></span><span>%</span></div></td>
                            </tr>
                            <tr class="recycler-row-normal">
                                <td class="recycler-row-align-midle-left"><span>REQUEST_RELEASE_LC_BENEFICIARY</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="infoTrans.TEN_NGUOI_THU_HUONG" ></span></td>
                            </tr>
                            <tr class="recycler-row-normal">
                                <td class="recycler-row-align-midle-left"><span>REQUEST_RELEASE_LC_RATE_1</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="infoTrans.tyGia" ></span></td>
                            </tr>
                            <tr class="recycler-row-normal" ng-show="(infoTrans.LOAI_GD == 'T') ? true: false">
                                <td class="recycler-row-align-midle-left"><span>REQUEST_RELEASE_LC_ADJOURN_EFFICIENCY</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="infoTrans.NGAY_HIEU_LUC_LC" ></span></td>
                            </tr>
                            <tr class="recycler-row-normal">
                                <td class="recycler-row-align-midle-left"><span>REQUEST_RELEASE_LC_ESCROW_AMOUNT</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="infoTrans.kiquy" ></span>&nbsp;<span ng-bind="infoTrans.CCY"></span></td>
                            </tr>
                            <tr class="recycler-row-normal" ng-show="(infoTrans.LOAI_GD == 'T') ? true: false">
                                <td class="recycler-row-align-midle-left"><span>REQUEST_RELEASE_LC_ESCROW_AMOUNT_UP</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="infoTrans.giaTriLCTang"></span>&nbsp;<span ng-bind="infoTrans.CCY"></span></td>
                            </tr>
                            <tr class="recycler-row-normal">
                                <td class="recycler-row-align-midle-left"><span>REQUEST_RELEASE_LC_ESCROW_ACCOUNT</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="infoTrans.TAI_KHOAN_KY_QUY" ></span></td>
                            </tr>
                            <tr class="recycler-row-normal">
                                <td class="recycler-row-align-midle-left"><span>REQUEST_RELEASE_LC_TOTAL_FEE_AMOUNT</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="infoTrans.phi" ></span>&nbsp;<span ng-bind="infoTrans.CCY_FEE"></span></td>
                            </tr>
                            <tr class="recycler-row-normal">
                                <td class="recycler-row-align-midle-left"><span>REQUEST_RELEASE_LC_ACCOUNT_FEE</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="infoTrans.TAI_KHOAN_THU_PHI" ></span></td>
                            </tr>
                            <tr class="recycler-row-normal">
                                <td class="recycler-row-align-midle-left" ><span>REQUEST_RELEASE_LC_METHOD_FEE</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="feeMethod[infoTrans.HINH_THUC_THU_PHI]"></span></td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="header-title">
                        <span>REQUEST_RELEASE_LC_PROFILE_FULL_SEND_TPBANK</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="desktopview recycler-table-ebank " width="100%" align="center">
                        <tr class="recycler-row-title-header recycler-list">
                            <td class="recycler-row-align-midle" ><span>COM_NO</span></td>
                            <td class="recycler-row-align-midle"><span>INTERNATIONAL_PROFILE_NAME</span></td>
                            <td class="recycler-row-align-midle"><span>INTERNATIONAL_PROFILE_SIZE</span></td>
                            <td class="recycler-row-align-midle"></td>
                        </tr>
                        <tr class="recycler-row-title recycler-list" ng-repeat="file in infoFile">
                            <td class="recycler-row-align-midle"><div ng-bind="file.ROWNUM"></div></td>
                            <td class="recycler-row-align-midle-left"><div ng-bind="file.FILE_NAME"></div></td>
                            <td class="recycler-row-align-midle"><div ng-bind="(file.CAPACITY/1024/1024|number:2) + ' MB'"></div></td>
                            <td class="recycler-row-align-midle">
                                <div  style="word-break: break-all;">
                                    <span type="button" ng-click="viewFilePDF(file.IDFILE);" style="color: red; cursor: pointer"><strong><span>INTERNATIONAL_VIEW_PROFILE</span></strong></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        <span class="header-title">CONTENT_FILE_GUARANTEE_TEXT</span><span ng-bind="infoTrans.GHI_CHU_KHACH_HANG"></span>
                    </div>
                </td>
            </tr>
            <tr  ng-if="infoTrans.TRANG_THAI != 'ABH' && infoTrans.TRANG_THAI != 'INT' && showElement">
                <td>
                    <div style="text-align: center;" class="tdbtndesktop">
                        <input style="background-color: rgb(207, 150, 217);" class="btnshadow-after btn-second-after btn-changecolor" onclick="clickHomeOrBack()" type="submit" value="COM_BACK" >
                    </div>
                </td>
            </tr>
            <tr ng-if="infoTrans.TRANG_THAI == 'INT' && showElement">
                <td>
                    <div style="text-align: center;">
                        <input style="background-color: rgb(207, 150, 217);" class="btnshadow-after btn-second-after tdbtndesktop" onclick="clickHomeOrBack()" type="button" value="COM_BACK">
                        <input class="btnshadow-after btn-second-after btn-changecolor" ng-click="onCancelClick()" type="submit" value="COM_TERMINATE_TRANS" >
                    </div>
                </td>
            </tr>
            <tr align="center" ng-if="(infoTrans.TRANG_THAI == 'ABH') && showElement">
                <td>
                    <div style="text-align: center;">
                        <input class="btnshadow-after btn-second-desktop-after" onclick="clickHomeOrBack()" type="submit" value="COM_BACK">
                        <span>
                            <input class="btnshadow-after btn-second-after" ng-click="viewSwift()" type="button" value="SWIFT_BUTTON">
                        </span>
                    </div>
                </td>
            </tr>
            <tr  ng-if="!showElement">
                <td>
                    <div style="text-align: center;" class="tdbtndesktop">
                        <input style="background-color: rgb(207, 150, 217);" class="btnshadow-after btn-second-after btn-changecolor" onclick="clickHomeOrBack()" type="submit" value="COM_BACK" >
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>