<table width="100%">
    <tr>
        <td colspan="2">
            <h5 class="header-title"><span>COM_TXT_ACC_INFO_TITLE</span></h5>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div align="center">
                <div id="recycler_list" class="recycler-list">
                    <table id="recycler_table_ebank" class="recycler-table-ebank">
                        <tbody>
                        <tr class="recycler-row-normal">
                            <td class="recycler-row-align-midle-left"><span>TRANS_BATCH_ACC_LABEL</span></td>
                            <td class="recycler-row-align-midle-right" ng-bind="infoTrans.accountNo"></td>
                        </tr>
                        <tr class="recycler-row-normal">
                            <td class="recycler-row-align-midle-left"><span>CRE_DEBT_SURPLUS_AVAILABEL</span></td>
                            <td class="recycler-row-align-midle-right" ng-bind="infoTrans.soDuKhaDungView"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <h5 class="header-title"><span>TAX_PAY_TAX_CUST_INFO</span></h5>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div align="center">
                <div class="recycler-list">
                    <table class="recycler-table-ebank">
                        <tbody>
                        <tr class="recycler-row-normal">
                            <td class="recycler-row-align-midle-left"><span>COM_TAX_NUMBER</span></td>
                            <td class="recycler-row-align-midle-right" ng-bind="infoTrans.MaSoThue"></td>
                        </tr>
                        <tr class="recycler-row-normal">
                            <td class="recycler-row-align-midle-left"><span>TAX_CUST_PAY_TAX</span>
                            </td>
                            <td class="recycler-row-align-midle-right" ng-bind="infoTrans.TenNNT"></td>
                        </tr>
                        <tr class="recycler-row-normal">
                            <td class="recycler-row-align-midle-left"><span>TAX_CUST_PAY_TAX_ADDRESS</span></td>
                            <td class="recycler-row-align-midle-right"
                                ng-bind="infoTrans.Diachi"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <h5 class="header-title"><span>TAX_INFO</span></h5>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div align="center">
                <div class="recycler-list">
                    <table class="recycler-table-ebank">
                        <tbody>
                        <tr class="recycler-row-normal">
                            <td class="recycler-row-align-midle-left"><span>COM_TAX_TYPE</span></td>
                            <td class="recycler-row-align-midle-right" ng-bind="infoTrans.taxType"></td>
                        </tr>
                        <tr class="recycler-row-normal">
                            <td class="recycler-row-align-midle-left"><span>TAX_TREASURY_NAME</span>
                            </td>
                            <td class="recycler-row-align-midle-right" ng-bind="infoTrans.TenKB"></td>
                        </tr>
                        <tr class="recycler-row-normal">
                            <td class="recycler-row-align-midle-left"><span>TAX_TREASURY_ACC</span></td>
                            <td class="recycler-row-align-midle-right" ng-bind="infoTrans.treasuryAccNumValueView"></td>
                        </tr>
                        <tr class="recycler-row-normal">
                            <td class="recycler-row-align-midle-left"><span>TAX_TREASURY_MNG</span></td>
                            <td class="recycler-row-align-midle-right" ng-bind="infoTrans.Ten_HQ_View"></td>
                        </tr>
                        <tr class="recycler-row-normal">
                            <td class="recycler-row-align-midle-left"><span>COM_DECLAR</span></td>
                            <td class="recycler-row-align-midle-right" ng-bind="infoTrans.So_TK"></td>
                        </tr>
                        <tr class="recycler-row-normal">
                            <td class="recycler-row-align-midle-left"><span>TAX_MONEY_TYPE</span></td>
                            <td class="recycler-row-align-midle-right" ng-bind="infoTrans.Ma_LT_View"></td>
                        </tr>
                        <tr class="recycler-row-normal">
                            <td class="recycler-row-align-midle-left"><span>TAX_DECLAR_DATE</span></td>
                            <td class="recycler-row-align-midle-right" ng-bind="infoTrans.Ngay_DK"></td>
                        </tr>
                        <tr class="recycler-row-normal">
                            <td class="recycler-row-align-midle-left"><span>TAX_IE_CODE_TYPE</span></td>
                            <td class="recycler-row-align-midle-right" ng-bind="infoTrans.Ten_LH_View"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <h5 class="header-title"><span>COM_TRASACTION_INFO</span></h5>
        </td>
    </tr>
    <div id="recycler_list1" class="recycler-list">
        <table id="recycler_table_ebank-desktop" class="recycler-table-ebank desktopview">
            <tbody>
            <tr class="recycler-row-title-header recycler-list">
                <td class="recycler-row-align-midle"><span>COM_NO</span></td>
                <td class="recycler-row-align-midle"><span>TAX_CHAPTER</span></td>
                <td class="recycler-row-align-midle"><span>TAX_CONTENT</span></td>
                <td class="recycler-row-align-midle"><span>COM_AMOUNT</span></td>

            </tr>
            <tr class="recycler-row-title recycler-list" ng-repeat="item in infoTrans.listPending track by $index">
                <td class="recycler-row-align-midle"><span ng-bind="$index + 1"></span></td>
                <td class="recycler-row-align-midle"><span ng-bind="item.Khoan"></span></td>
                <td class="recycler-row-align-midle"><span ng-bind="item.TenTieuMuc"></span></td>
                <td class="recycler-row-align-midle"><span ng-bind="item.DuNoView"></span></td>
            </tr>
        </table>
        <table style='margin-bottom:10px; width: 100%;' class='recycler-list mobileview' ng-repeat="item in infoTrans.listPending track by $index">
            <tr class="recycler-row-normal">
                <td colspan="1" class="recycler-row-align-midle-left"><span>COM_NO</span></td>
                <td class="recycler-row-align-midle-right"><span ng-bind="$index + 1"></span></td>
            </tr>
            <tr class="recycler-row-normal">
                <td colspan="1" class="recycler-row-align-midle-left"><span>TAX_CHAPTER</span></td>
                <td class="recycler-row-align-midle-right"><span ng-bind="item.Khoan"></span></td>
            </tr>
            <tr class="recycler-row-normal">
                <td colspan="1" class="recycler-row-align-midle-left"><span>TAX_CONTENT</span></td>
                <td class="recycler-row-align-midle-right"><span ng-bind="item.TenTieuMuc"></span></td>
            </tr>
            <tr class="recycler-row-normal">
                <td colspan="1" class="recycler-row-align-midle-left"><span>COM_AMOUNT</span></td>
                <td class="recycler-row-align-midle-right"><span ng-bind="item.DuNoView"></span></td>
            </tr>
        </table>
    </div>
    </br>
    <tr>
        <td colspan="2">
            <div align="center">
                <div class="recycler-list recycler-table-ebank">
                    <table class="recycler-table-ebank">
                        <tbody>
                        <tr class="recycler-row-normal">
                            <td class="recycler-row-align-midle-left"><span>COM_AMOUNT</span></td>
                            <td class="recycler-row-align-midle-right" ng-bind="infoTrans.dataTotalAmountView"></td>
                        </tr>
                        <tr class="recycler-row-normal">
                            <td class="recycler-row-align-midle-left"><span>TAX_FEE</span>
                            </td>
                            <td class="recycler-row-align-midle-right" ng-bind="infoTrans.dataFeeView"></td>
                        </tr>
                        <tr class="recycler-row-normal">
                            <td class="recycler-row-align-midle-left"><span>TAX_LOCAL_BALANCE_CONT</span></td>
                            <td class="recycler-row-align-midle-right" ng-bind="infoTrans.dataSoDuView"></td>
                        </tr>
                        <tr class="recycler-row-normal">
                            <td class="recycler-row-align-midle-left"><span>TAX_DESCRIPTION</span></td>
                            <td class="recycler-row-align-midle-right" ng-bind="infoTrans.decreption"></td>
                        </tr>
                        <tr class="recycler-row-normal">
                            <td class="recycler-row-align-midle-left"><span>TAX_SAVE_TAX_QUERY</span></td>
                            <td class="recycler-row-align-midle-right" ng-bind="infoTrans.saveTaxQuery"></td>
                        </tr>
                        <tr class="recycler-row-normal">
                            <td class="recycler-row-align-midle-left"><span>COM_SEND_MSG_APPROVER</span></td>
                            <td class="recycler-row-align-midle-right" ng-bind="infoTrans.sendMSGApprover"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </td>
    </tr>
</table>
</br>