<div id="mainViewContent" class="main-layout-subview" ng-controller="auth-request-release-lc" data-ng-init="searchTransaction()">
    <div class="">
        <div class="panelContent">
            <table width="100%">
                <tr>
                    <td class="td-text" valign="middle" align="center">
                        <div class="input-group" ng-click="showMakers()">
                            <span class="input-group-addon" style="width:40%">COM_MAKER</span>
                            <input id="id.maker" class="form-control form-control-righttext" type="button" value="COM_ALL">
                            <input id="id.makerValue"  type="hidden" value="">
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="td-text" valign="middle" align="center">
                        <div class="input-group" ng-click="showTransStatusSelection()">
                            <span class="input-group-addon" style="width:40%; white-space:pre-wrap">COM_STATUS</span>
                            <input id="id.status" class="form-control form-control-righttext" type="button" value="COM_ALL" >
                            <input id="id.statusValue" type="hidden" value="" >
                            <span class="icon-movenext input-group-addon input-group-symbol"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" align="center" valign="middle" class="td-text">
                        <div class="input-group">
                            <span class="input-group-addon" style="white-space:pre-wrap">GIFT_XCHNG_HIS_FROM_DATE_TITLE</span>
                            <input id="fromDate" type="tel" placeholder="COM_TXT_SELECTION_PLACEHOLDER_DATE" value="" class="form-control form-control-righttext-datepicker"
                                   onkeydown="return handleCalendarNav(this, event);" onclick="handleCalendarNav(this, event);" onpaste="return false;" />
                            <span onclick="initDialogCal('fromDate')" id="begindate" class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" align="center" valign="middle" class="td-text">
                        <div class="input-group">
                            <span class="input-group-addon" style="white-space:pre-wrap">GIFT_XCHNG_HIS_TO_DATE_TITLE</span>
                            <input id="toDate" type="tel" placeholder="COM_TXT_SELECTION_PLACEHOLDER_DATE" value="" class="form-control form-control-righttext-datepicker"
                                   onkeydown="return handleCalendarNav(this, event);" onclick="handleCalendarNav(this, event);" onpaste="return false;" />
                            <span onclick="initDialogCal('toDate')" id="enddate" class="icon-calendar input-group-addon-datepicker input-group-symbol-datepicker"></span>
                        </div>
                    </td>
                </tr>
                <!-- <tr>
                    <td>
                        <span id="btn_search" class="btnshadow btn-second-ringht" type="button" ng-click="searchTransaction()">COM_SEARCH</span>
                    </td>
                </tr> -->
                <tr class='trow-space'></tr>
                <tr>
                    <td colspan="2" align="center" valign="middle" class="td-text">
                        <div class="" style="width:50%">
                            <input type="button" style="float:left;margin-left:65px" class="btnDesktopshadow btnDesktopBack"
                                   onclick="clickHomeOrBack()" value="CM_BTN_GOBACK">
                        </div>
                        <div style="width:50%">
                            <input id="btn_search" type="button" style="margin-right:100px" class="btnshadow btn-second"
                                   ng-click="searchTransaction()" value="GIFT_XCHNG_SEARCH_BUTTON">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><div id="id.message"><span id="id.message.value"></span></div></td>
                </tr>
            </table>
            <br>
            <div id="id.searchResult" style="display: none">
                <div id="screenDesk" style="margin-top: 5px" >
                    <div id="recycler_list">
                        <table id="recycler_table_ebank-desktop" class="recycler-table-ebank" width="100%" align="center">
                            <tbody>
                            <tr class='recycler-row-title-header recycler-list'>
                                <td class="recycler-row-align-midle" width="7%"><span>COM_NO</span></td>
                                <td class="recycler-row-align-midle" width="15%"><span>COM_MAKER</span></td>
                                <td class="recycler-row-align-midle" width="20%"><span>COM_CREATED_DATE</span></td>
                                <td class="recycler-row-align-midle" width="10%"><span>REQUEST_RELEASE_LC_VALUE</span></td>
                                <td class="recycler-row-align-midle" width="20%"><span>COM_TRANS_CODE</span></td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr class="recycler-row-title recycler-list" ng-repeat="trans in listPending track by $index">
                                <td class="recycler-row-align-midle" width="7%"><span style="word-break: break-all;">{{$index + 1}}</span></td>
                                <td class="recycler-row-align-midle-left" width="20%"><span style="white-space: pre-wrap;" ng-bind="trans.IDMAKER"></span></td>
                                <td class="recycler-row-align-midle-left" width="15%"><span style="word-break: break-all" ng-bind="trans.NGAY_LAP"></span></td>
                                <td ng-if="trans.AMOUNT != null " class="recycler-row-align-midle-left" width="15%">
                                    <span style="word-break: break-all" ng-bind="(trans.TYPE_LC == 'P') ? (trans.AMOUNT | currency : '' : 0) + ' ' + trans.CCY: (trans.VAL_LC_MODIFY | currency : '' : 0) + ' ' + trans.CCY"></span>
                                </td>
                                <td ng-if="trans.AMOUNT == null " class="recycler-row-align-midle-left" width="15%"></td>
                                <td class="recycler-row-align-midle-left" width="20%" >
                                    <span>
                                        <a ng-click="showDetailTransaction(trans);" style="cursor:pointer;">
                                            <span class="no-check" ng-bind="trans.MA_GD"></span>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--<div align="right" style="float: right; width:100%">
                        <div class="export-print" id="acchis.exportfile" onclick="exportExcelDebtHistory()" style="display: inline-block;float:right; cursor: pointer;">
                            <img style="margin-top: 20px; margin-right:10px; margin-bottom: 20px;" src="css/img/exportfile.png" />
                        </div>
                    </div>-->
                </div>
                <div id="screenMobile" style="margin-top: 5px; display: none">
                    <div  class="recycler-list margin-bottom"  ng-repeat="trans in listPending track by $index" >
                        <table id="recycler_table_ebank-mobile" class="recycler-table-ebank mobileview" ng-click="showDetailTransaction(trans)">
                            <tbody>
                            <!--<tr class="recycler-row-as">-->
                            <!--<td class="recycler-row-align-midle-left-opacity"><span>COM_NO</span></td>-->
                            <!--<td class="recycler-row-align-midle-right-opacity"><span ng-bind="$index + 1"></span></td>-->
                            <!--</tr>-->
                            <tr class="recycler-row-normal">
                                <td class="recycler-row-align-midle-left"><span>COM_MAKER</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="trans.IDMAKER"></span></td>
                            </tr>
                            <tr class="recycler-row-normal">
                                <td class="recycler-row-align-midle-left"><span>COM_CREATED_DATE</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="trans.NGAY_LAP"></span></td>
                            </tr>
                            <tr class="recycler-row-normal">
                                <td class="recycler-row-align-midle-left"><span>REQUEST_RELEASE_LC_VALUE</span></td>
                                <td  ng-if="trans.AMOUNT != null " class="recycler-row-align-midle-right">
                                    <span ng-bind="(trans.TYPE_LC == 'P') ? (trans.AMOUNT | currency : '' : 0) + ' ' + trans.CCY: (trans.VAL_LC_MODIFY | currency : '' : 0) + ' ' + trans.CCY"></span>
                                </td>
                                <td  ng-if="trans.AMOUNT == null " class="recycler-row-align-midle-right-opacity"></td>
                            </tr>
                            <tr class="recycler-row-normal">
                                <td class="recycler-row-align-midle-left"><span>COM_TRANS_CODE</span></td>
                                <td class="recycler-row-align-midle-right"><span ng-bind="trans.IDFCATREF"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="acc-pagination" style="text-align: right">
                <ul class="pagination">
                    <li ng-repeat="i in arrPage" ng-click="changePage(i)" id="{{$index + 1}}" ><span>{{i}}</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="selection-dialog" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" onClick="closeDialog(this)"></div>
    <div id="divListGroup" class="list-group dialog-list"></div>
</div>
<div id="selection-dialog-input" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" align="center" onClick="closeDialogInput(this)">
    </div>
    <div id="divListGroupInput" class="list-group dialog-list"> </div>
</div>
