
<div id="mainViewContent" class="main-layout-subview" ng-controller="cre_guarantee_review">
    <div class="bg-transfer">
        <div class="panelContent">
            <table width="100%">
                <tr>
                    <td colspan="3">
                        <div class="header-title">
                            <span>COM_ACCOUNT_INFO</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div align="center">
                            <div class="recycler-list">
                                <table width='100%' align='center' class='recycler-table-ebank'>
                                    <tr class='recycler-row-normal'>
                                        <td width="50%" class='recycler-row-align-midle-left'><span>GUA_ACCOUNT</span></td>
                                        <td width="50%" class='recycler-row-align-midle-right'>{{infoTrans.sourceAcc}}</td>
                                    </tr>
                                    <tr class='recycler-row-normal'>
                                        <td width="50%" class='recycler-row-align-midle-left'><span>COM_TXT_ACC_BALANCE_TITLE</span></td>
                                        <td width="50%" class='recycler-row-align-midle-right'>{{infoTrans.balanceAvailable | currency : "" : 0}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="header-title">
                            <span>COM_TRASACTION_INFO</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div align="center">
                            <div class="recycler-list">
                                <table width='100%' align='center' class='recycler-table-ebank'>
                                    <tr class='recycler-row-normal'>
                                        <td width="50%" class='recycler-row-align-midle-left' style="min-width: 100px"><span>PAYMENT_TRANSFER_TYPE</span></td>
                                        <td width="50%" class='recycler-row-align-midle-right'>{{infoTrans.transTypeGuaName}}</td>
                                    </tr>
                                    <tr class='recycler-row-normal'>
                                        <td width="50%" class='recycler-row-align-midle-left'><span>GUA_ACCOUNT_CHARGES</span></td>
                                        <td width="50%" class='recycler-row-align-midle-right'>{{infoTrans.sourceAcc}}</td>
                                    </tr>
                                    <tr class='recycler-row-normal'>
                                        <td width="50%" class='recycler-row-align-midle-left'><span>GUA_NAME_OFFEROR</span></td>
                                        <td width="50%" class='recycler-row-align-midle-right'>{{infoTrans.namedOfferorGua}}</td>
                                    </tr>
                                    <tr class='recycler-row-normal'>
                                        <td width="50%" class='recycler-row-align-midle-left'><span>GUA_ADDRESS_OFFEROR</span></td>
                                        <td width="50%" class='recycler-row-align-midle-right'>{{infoTrans.namedOfferorGuaAddress}}</td>
                                    </tr><tr class='recycler-row-normal'>
                                    <td width="50%" class='recycler-row-align-midle-left'><span>GUA_NAME_THE_GUARANTEE</span></td>
                                    <td width="50%" class='recycler-row-align-midle-right'>{{infoTrans.nameTheGua}}</td>
                                </tr>
                                    <tr class='recycler-row-normal'>
                                        <td width="50%" class='recycler-row-align-midle-left'><span>GUA_ADDRESS_BEN</span></td>
                                        <td width="50%" class='recycler-row-align-midle-right'>{{infoTrans.nameTheGuaAddress}}</td>
                                    </tr>
                                    <tr class='recycler-row-normal'>
                                        <td width="50%" class='recycler-row-align-midle-left'><span>GUA_AMOUNT_GUARANTEE</span></td>
                                        <td width="50%" class='recycler-row-align-midle-right'>{{infoTrans.amountSecurity | currency : "" : 0 }}</td>
                                    </tr>
                                    <tr class='recycler-row-normal'>
                                        <td width="50%" class='recycler-row-align-midle-left'><span>GUA_DURATION_DATE_FROM</span></td>
                                        <td width="50%" class='recycler-row-align-midle-right'>{{infoTrans.startDate}}</td>
                                    </tr>
                                    <tr class='recycler-row-normal'>
                                        <td width="50%" class='recycler-row-align-midle-left'><span>GUA_DURATION_DATE_TO</span></td>
                                        <td width="50%" class='recycler-row-align-midle-right'>{{infoTrans.endDate}}</td>
                                    </tr>
                                    <tr class='recycler-row-normal'>
                                        <td width="50%" class='recycler-row-align-midle-left'><span>GUA_CONTENT_GUARANTEE</span></td>
                                        <td width="50%" class='recycler-row-align-midle-right'>{{infoTrans.contentGua}}</td>
                                    </tr>
                                    <tr class='recycler-row-normal'>
                                        <td width="50%" class='recycler-row-align-midle-left'><span>GUA_RELEASE_FORMS_OF_GUARANTEE</span></td>
                                        <td width="50%" class='recycler-row-align-midle-right'>{{infoTrans.releaseFormsGuaName}}</td>
                                    </tr>
                                    <tr class='recycler-row-normal'>
                                        <td width="50%" class='recycler-row-align-midle-left'><span>GUA_MARGIN_ACCOUNT</span></td>
                                        <td width="50%" class='recycler-row-align-midle-right'>{{infoTrans.depositAccount}}</td>
                                    </tr>
                                    <tr class='recycler-row-normal'>
                                        <td width="50%" class='recycler-row-align-midle-left'><span>GUA_DEPOSIT_RATIO</span></td>
                                        <td width="50%" class='recycler-row-align-midle-right'>{{infoTrans.depositRatio}} %</td>
                                    </tr>
                                    <tr class='recycler-row-normal'>
                                        <td class='recycler-row-align-midle-left'><span>GUA_COLLATERAL_OTHER</span></td>
                                        <td class='recycler-row-align-midle-right'>{{infoTrans.collateralOther}}</td>
                                    </tr>
                                    <tr class='recycler-row-normal'>
                                        <td width="50%" class='recycler-row-align-midle-left'><span>GUA_SEND_NOTIFICATION_TO_USER</span></td>
                                        <td width="50%" class='recycler-row-align-midle-right'>{{infoTrans.sendNotiMethodName}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div class="header-title">
                            <span>GUA_PROFILE_GUARANTEE</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <!-- BEGIN MAIN CONTENT -->
                        <div class="">
                            <table width='96%' align='center' class='recycler-table-ebank desktopview'>
                                <tr class='recycler-row-title-header recycler-list'>
                                    <td class="recycler-row-align-midle" width="8%"><span style="color: #424242">COM_NO</span></td>
                                    <td class="recycler-row-align-midle" width="40%"><span style="color: #424242">INTERNATIONAL_PROFILE_NAME</span></td>
                                    <td class="recycler-row-align-midle"><span style="color: #424242">GUA_DATE_FILE_SENDED</span></td>
                                    <td class="recycler-row-align-midle"><span style="color: #424242">INTERNATIONAL_PROFILE_SIZE</span></td>
                                    <td class="recycler-row-align-midle"></td>
                                </tr>
                                <tr class="recycler-row-title recycler-list" ng-repeat="item in infoTrans.listFile track by $index">
                                    <td class="recycler-row-align-midle" width="8%"><span ng-bind="$index + 1"></span></td> <td class="recycler-row-align-midle"><span ng-bind="item.file.name"></span></td>
                                    <td class="recycler-row-align-midle"><span ng-bind="item.file.dateSended"></span></td>
                                    <td class="recycler-row-align-midle" nowrap><span ng-bind="(item.file.size/1024/1024|number:2) + ' MB'"></span></td>
                                    <td class="recycler-row-align-midle">
                                        <span  type="button" style="color: red; cursor: pointer" ng-click="onViewPDF(item.file.url_key)">
                                            <strong> <span>GUA_FILE_REVIEW</span></strong>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                            <table ng-repeat="item in infoTrans.listFile track by $index" class="mobileview recycler-list" width="100%" align="center">
                                <tr>
                                    <td colspan="1" class="recycler-row-align-midle-left">
                                        <span>COM_NO</span>
                                    </td>
                                    <td class="recycler-row-align-midle-right">
                                        <span ng-bind="$index + 1"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" class="recycler-row-align-midle-left">
                                        <span>INTERNATIONAL_PROFILE_NAME</span>
                                    </td>
                                    <td class="recycler-row-align-midle-right">
                                        <span ng-bind="item.file.name"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" class="recycler-row-align-midle-left" >
                                        <span>GUA_DATE_FILE_SENDED</span>
                                    </td>
                                    <td  nowrap class="recycler-row-align-midle-right">
                                        <span ng-bind="item.file.dateSended"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" class="recycler-row-align-midle-left" ng-show="uploader.isHTML5">
                                        <span>INTERNATIONAL_PROFILE_SIZE</span>
                                    </td>
                                    <td  ng-show="uploader.isHTML5" nowrap class="recycler-row-align-midle-right">
                                        <span ng-bind="(item.file.size/1024/1024|number:2) + ' MB'"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="1" class="recycler-row-align-midle-left">
                                        <span></span>
                                    </td>
                                    <td class="recycler-row-align-midle-right">
                                        <span  type="button" style="color: red; cursor: pointer" ng-click="onViewPDF(item.file.url_key)">
                                            <strong> <span>GUA_FILE_REVIEW</span></strong>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <!-- END MAIN CONTENT -->
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div align="center">
                            <div class="recycler-list">
                                <table width='100%' align='center' class='recycler-table-ebank'>
                                    <tr class='recycler-row-normal'>
                                        <td width="50%" class='recycler-row-align-midle-left'><span>GUA_INSTRUCTION_TPB_FILE</span></td>
                                        <td width="50%" class='recycler-row-align-midle-right'>{{infoTrans.instructionFile}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="trow-space"></tr>
                <tr align="center">
                    <td>
                        <div style="text-align: center;">
                            <input id="trCancel" class="btnshadow-after btn-second-desktop-after" onclick="clickHomeOrBack()" type="submit" value="COM_BACK"/>
                            <input class="btnshadow-after btn-second-after btn-changecolor" ng-click="onCancelClick()" type="submit" value="COM_CANCEL"/>
                            <input class="btnshadow-after btn-second-after" ng-click="sendJSONRequest()"  type="button" value="COM_CONTINUE"/>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="selection-dialog" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" onClick="closeDialog(this)"></div>
    <div id="divListGroup" class="list-group dialog-list"></div>
</div>
<div id="selection-dialog-input" class="dialog-blacktrans" align="center" style="display:none">
    <div class="dialog-backgroundtrans" align="center" onClick="closeDialogInput(this)">
    </div>
    <div id="divListGroupInput" class="list-group dialog-list"> </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div id="contentView" class="modal-content"></div>

</div>

<style>
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {

        margin: auto;
        padding: 0px;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
</style>